@media only screen and (max-width: 1280px) {
  .mkdf-blog-holder.mkdf-blog-type-masonry article .mkdf-post-info-bottom .mkdf-post-info-bottom-right,
  .mkdf-blog-holder.mkdf-blog-type-masonry article .mkdf-post-info-bottom .mkdf-post-info-bottom-left {
    vertical-align: top;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-blog-holder.mkdf-blog-type-masonry article,
  .mkdf-blog-holder.mkdf-blog-type-masonry .mkdf-blog-masonry-grid-sizer {
    width: 49%;
  }
  .mkdf-blog-holder.mkdf-blog-type-masonry article.format-quote .mkdf-post-text {
    padding: 50px 30px;
  }
  .mkdf-blog-holder.mkdf-blog-type-masonry article.format-link .mkdf-post-text {
    padding: 40px 20px;
  }
  .mkdf-blog-holder.mkdf-masonry-full-width article,
  .mkdf-blog-holder.mkdf-masonry-full-width .mkdf-blog-masonry-grid-sizer {
    width: 32%;
  }
  .mkdf-blog-holder.mkdf-masonry-full-width .mkdf-blog-masonry-grid-gutter {
    width: 2%;
  }
  .mkdf-blog-single-navigation .mkdf-nav-holder .mkdf-nav-title .mkdf-nav-title-inner {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-blog-holder.mkdf-masonry-full-width article,
  .mkdf-blog-holder.mkdf-masonry-full-width .mkdf-blog-masonry-grid-sizer {
    width: 49%;
  }
  .mkdf-column1 .mkdf-related-posts-holder .mkdf-related-post,
  .mkdf-column2 .mkdf-related-posts-holder .mkdf-related-post,
  .mkdf-related-posts-holder .mkdf-related-post {
    width: 49.875%;
  }
  .mkdf-column1 .mkdf-related-posts-holder .mkdf-related-post:nth-child(2n),
  .mkdf-column2 .mkdf-related-posts-holder .mkdf-related-post:nth-child(2n),
  .mkdf-related-posts-holder .mkdf-related-post:nth-child(2n) {
    margin-right: 0;
  }
  .mkdf-column1 .mkdf-related-posts-holder .mkdf-related-post:nth-child(2n+1),
  .mkdf-column2 .mkdf-related-posts-holder .mkdf-related-post:nth-child(2n+1),
  .mkdf-related-posts-holder .mkdf-related-post:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 600px) {
  .mkdf-blog-holder.mkdf-blog-type-masonry article,
  .mkdf-blog-holder.mkdf-blog-type-masonry .mkdf-blog-masonry-grid-sizer {
    width: 100%;
  }
  .mkdf-blog-holder.mkdf-masonry-full-width article,
  .mkdf-blog-holder.mkdf-masonry-full-width .mkdf-blog-masonry-grid-sizer {
    width: 100%;
  }
  .mkdf-blog-single-navigation .mkdf-nav-holder .mkdf-nav-text {
    font-size: 0;
  }
}

@media only screen and (max-width: 480px) {
  .mkdf-related-posts-holder .mkdf-related-post {
    width: 100% !important;
    margin-right: 0 !important;
  }
  .mkdf-related-posts-holder .mkdf-related-posts-title h3:before,
  .mkdf-related-posts-holder .mkdf-related-posts-title h3:after {
    display: none !important;
  }
  .mkdf-blog-holder.mkdf-blog-single article .mkdf-post-info-bottom .mkdf-post-info-bottom-left,
  .mkdf-blog-holder.mkdf-blog-single article .mkdf-post-info-bottom .mkdf-post-info-bottom-right {
    display: block;
    text-align: left;
    padding: 0;
  }
  .mkdf-author-description .mkdf-author-description-inner {
    width: 100%;
  }
  .mkdf-author-description .mkdf-author-description-image,
  .mkdf-author-description .mkdf-author-description-text-holder {
    display: block;
    padding: 0;
  }
  .mkdf-blog-holder.mkdf-blog-type-standard article .mkdf-post-info-bottom .mkdf-post-info-author,
  .mkdf-blog-holder.mkdf-blog-type-standard article .mkdf-post-info-bottom .mkdf-post-info-category {
    display: none;
  }
  .mkdf-blog-single-navigation .mkdf-nav-holder .mkdf-nav-image {
    width: 0px;
  }
  .mkdf-blog-single-navigation .mkdf-blog-single-prev,
  .mkdf-blog-single-navigation .mkdf-blog-single-next {
    width: 30px;
  }
  .mkdf-blog-single-navigation .mkdf-blog-single-prev .mkdf-nav-title,
  .mkdf-blog-single-navigation .mkdf-blog-single-next .mkdf-nav-title {
    padding: 0;
  }
}

/*# sourceMappingURL=blog-responsive.css.map */