.mkdf-blog-holder article {
  margin-bottom: 68px;
}

.mkdf-blog-holder article:last-child {
  margin-bottom: 0;
}

.mkdf-blog-holder article .mkdf-blog-audio-holder,
.mkdf-blog-holder article:not(.format-audio) .mkdf-post-image {
  margin-bottom: 34px;
}

.mkdf-blog-holder article .mkdf-post-image img {
  vertical-align: middle;
}

.mkdf-blog-holder article .mkdf-post-text-inner > h1:not(.mkdf-post-title),
.mkdf-blog-holder article .mkdf-post-text-inner > h2:not(.mkdf-post-title),
.mkdf-blog-holder article .mkdf-post-text-inner > h3:not(.mkdf-post-title),
.mkdf-blog-holder article .mkdf-post-text-inner > h4:not(.mkdf-post-title),
.mkdf-blog-holder article .mkdf-post-text-inner > h5:not(.mkdf-post-title),
.mkdf-blog-holder article .mkdf-post-text-inner > h6:not(.mkdf-post-title) {
  margin: 15px 0;
}

.mkdf-blog-holder article .mkdf-post-excerpt {
  margin-bottom: 19px;
}

.mkdf-blog-holder article .mkdf-post-title {
  margin-bottom: 12px;
}

.mkdf-blog-holder article .mkdf-post-title a {
  display: inline-block;
  vertical-align: middle;
}

.mkdf-blog-holder article.sticky .mkdf-post-title a {
  color: #ff2c54;
}

.mkdf-blog-holder article .mkdf-more-link-container {
  margin-bottom: 30px;
}

.mkdf-blog-holder article .mkdf-blog-read-more {
  margin-top: 17px;
  display: block;
  color: #000;
  font-weight: 500;
}

.mkdf-blog-holder article .mkdf-post-info-bottom {
  display: table;
  width: 100%;
  margin-bottom: 0;
}

.mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-left,
.mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-right {
  display: table-cell;
  vertical-align: middle;
}

.mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-left > div,
.mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-right > div {
  display: inline-block;
  position: relative;
  color: #818181;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-right: 5px;
}

.mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-left > div a,
.mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-right > div a {
  color: #bababa;
}

.mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-left > div a:hover,
.mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-right > div a:hover {
  color: #ff2c54;
}

.mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-left > div.mkdf-post-info-comments-holder,
.mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-right > div.mkdf-post-info-comments-holder {
  margin-right: 9px;
}

.mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-left > div.mkdf-post-info-comments-holder a,
.mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-right > div.mkdf-post-info-comments-holder a {
  color: #ff2c54;
}

.mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-left > div.mkdf-blog-like a,
.mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-right > div.mkdf-blog-like a {
  color: #ff2c54;
}

.mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-left > div.mkdf-post-info-date,
.mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-right > div.mkdf-post-info-date {
  color: #ff2c54;
}

.mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-left > div.mkdf-post-info-author:not(:last-child):after,
.mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-right > div.mkdf-post-info-author:not(:last-child):after {
  content: '/';
  color: #bababa;
}

.mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-left > div:last-child,
.mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-right > div:last-child {
  border-right: none;
  margin-right: 0;
  padding-right: 0;
}

.mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-left > div + .mkdf-post-info-comments-holder,
.mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-right > div + .mkdf-post-info-comments-holder {
  margin-left: 5px;
}

.mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-left .mkdf-post-info-comments > i:first-child,
.mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-left .mkdf-post-info-comments > span:first-child,
.mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-left .mkdf-like > i:first-child,
.mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-left .mkdf-like > span:first-child,
.mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-right .mkdf-post-info-comments > i:first-child,
.mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-right .mkdf-post-info-comments > span:first-child,
.mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-right .mkdf-like > i:first-child,
.mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-right .mkdf-like > span:first-child {
  margin-right: 7px;
}

.mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-left .mkdf-blog-btn-read-more,
.mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-right .mkdf-blog-btn-read-more {
  color: #ff2c54;
  letter-spacing: -0.02em;
  font-size: 12px;
}

.mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-left .mkdf-blog-btn-read-more:hover,
.mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-right .mkdf-blog-btn-read-more:hover {
  color: #303030;
}

.mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-right {
  text-align: right;
  white-space: nowrap;
  padding-left: 20px;
}

.mkdf-blog-holder article.format-link .mkdf-post-text, .mkdf-blog-holder article.format-quote .mkdf-post-text {
  padding: 70px 10%;
  position: relative;
  text-align: center;
  background-color: #41294a;
  -webkit-transition: background-color 0.15s ease-out;
  -moz-transition: background-color 0.15s ease-out;
  transition: background-color 0.15s ease-out;
}

.mkdf-blog-holder article.format-link:hover .mkdf-post-text .mkdf-post-mark:not(.mkdf-quote-mark),
.mkdf-blog-holder article.format-link:hover .mkdf-post-text .mkdf-post-link-title,
.mkdf-blog-holder article.format-link:hover .mkdf-post-text .mkdf-quote-author a,
.mkdf-blog-holder article.format-link:hover .mkdf-post-text .mkdf-post-link-title a, .mkdf-blog-holder article.format-quote:hover .mkdf-post-text .mkdf-post-mark:not(.mkdf-quote-mark),
.mkdf-blog-holder article.format-quote:hover .mkdf-post-text .mkdf-post-link-title,
.mkdf-blog-holder article.format-quote:hover .mkdf-post-text .mkdf-quote-author a,
.mkdf-blog-holder article.format-quote:hover .mkdf-post-text .mkdf-post-link-title a {
  color: #ff2c54;
}

.mkdf-blog-holder article.format-link .mkdf-post-mark, .mkdf-blog-holder article.format-quote .mkdf-post-mark {
  color: #41ebdf;
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

.mkdf-blog-holder article.format-link .mkdf-post-title, .mkdf-blog-holder article.format-quote .mkdf-post-title {
  color: #fff;
  font-weight: 400;
  margin-bottom: 14px;
  letter-spacing: -0.06em;
  line-height: 32px;
  -webkit-transition: color 0.15s ease-out;
  -moz-transition: color 0.15s ease-out;
  transition: color 0.15s ease-out;
}

.mkdf-blog-holder article.format-link .mkdf-post-title a:hover, .mkdf-blog-holder article.format-quote .mkdf-post-title a:hover {
  color: #fff;
}

.mkdf-blog-holder article .mkdf-post-mark {
  color: #ff2c54;
}

.mkdf-blog-holder article .mkdf-post-mark.mkdf-quote-mark {
  position: relative;
  height: 40px;
  margin-bottom: 33px;
}

.mkdf-blog-holder article .mkdf-post-mark.mkdf-link-mark {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 21px;
}

.mkdf-blog-holder article .mkdf-post-mark .mkdf-quote-mark-inner {
  position: absolute;
  left: 50%;
  font-size: 70px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.06em;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}

.mkdf-blog-holder article .mkdf-quote-author,
.mkdf-blog-holder article .mkdf-post-link-title {
  font-size: 12px;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
  display: block;
  color: #41ebdf;
}

.mkdf-blog-holder article .mkdf-quote-author a,
.mkdf-blog-holder article .mkdf-post-link-title a {
  color: #41ebdf;
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

.mkdf-blog-holder article.format-link {
  position: relative;
}

.mkdf-blog-holder article.format-link .mkdf-post-text {
  padding-top: 78px;
}

.mkdf-blog-holder article.format-link .mkdf-post-whole-link {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.mkdf-blog-holder.mkdf-blog-single article {
  margin-bottom: 30px;
}

.mkdf-blog-holder.mkdf-blog-single article .mkdf-post-info-bottom {
  margin-top: 44px;
}

.mkdf-blog-holder.mkdf-blog-single article .mkdf-post-info-bottom .mkdf-post-info-bottom-left > div,
.mkdf-blog-holder.mkdf-blog-single article .mkdf-post-info-bottom .mkdf-post-info-bottom-right > div {
  letter-spacing: 0;
}

.mkdf-blog-holder.mkdf-blog-single article.format-link .mkdf-post-text, .mkdf-blog-holder.mkdf-blog-single article.format-quote .mkdf-post-text {
  margin-bottom: 35px;
}

.mkdf-blog-holder.mkdf-blog-single article .slick-slider .mkdf-slick-prev,
.mkdf-blog-holder.mkdf-blog-single article .slick-slider .mkdf-slick-next {
  color: #fff;
}

.mkdf-blog-holder.mkdf-blog-type-masonry {
  overflow: visible !important;
  opacity: 0;
  -webkit-transition: opacity 0.15s ease-out;
  -moz-transition: opacity 0.15s ease-out;
  transition: opacity 0.15s ease-out;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-appeared {
  opacity: 1;
}

.mkdf-blog-holder.mkdf-blog-type-masonry article {
  display: block;
  width: 32%;
  padding: 0;
  text-align: left;
  vertical-align: top;
  z-index: 100;
  margin: 0 0 60px;
  box-sizing: border-box;
  -webkit-transition: border-color 0.15s ease-out;
  -moz-transition: border-color 0.15s ease-out;
  transition: border-color 0.15s ease-out;
}

.mkdf-blog-holder.mkdf-blog-type-masonry article .mkdf-blog-audio-holder,
.mkdf-blog-holder.mkdf-blog-type-masonry article:not(.format-audio) .mkdf-post-image {
  margin-bottom: 22px;
}

.mkdf-blog-holder.mkdf-blog-type-masonry article .mkdf-post-info {
  margin-bottom: 20px;
}

.mkdf-blog-holder.mkdf-blog-type-masonry article.format-link .mkdf-post-text {
  padding: 89px 50px 83px;
}

.mkdf-blog-holder.mkdf-blog-type-masonry article.format-quote .mkdf-post-text {
  padding: 62px 35px 99px;
}

.mkdf-blog-holder.mkdf-blog-type-masonry article.format-quote:hover .mkdf-post-title a {
  color: #ff2c54;
}

.mkdf-blog-holder.mkdf-blog-type-masonry .mkdf-blog-masonry-grid-sizer {
  width: 32%;
}

.mkdf-blog-holder.mkdf-blog-type-masonry .mkdf-blog-masonry-grid-gutter {
  width: 2%;
}

.mkdf-blog-holder.mkdf-blog-type-masonry #infscr-loading {
  position: absolute;
  bottom: -35px;
  left: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.mkdf-blog-holder.mkdf-masonry-full-width {
  margin-right: 1.7%;
  margin-left: 1.7%;
}

.mkdf-blog-holder.mkdf-masonry-full-width article,
.mkdf-blog-holder.mkdf-masonry-full-width .mkdf-blog-masonry-grid-sizer {
  width: 23.5%;
}

.mkdf-blog-holder.mkdf-masonry-full-width .mkdf-blog-masonry-grid-gutter {
  width: 2%;
}

.mkdf-blog-holder .mkdf-comment-holder {
  width: 84%;
}

.mkdf-load-more-ajax-pagination {
  text-align: center;
  margin-bottom: 50px;
  padding-top: 5px;
}

.mkdf-blog-infinite-scroll-button-holder {
  text-align: center;
}

.mkdf-blog-infinite-scroll-button-holder .mkdf-blog-infinite-scroll-button a {
  border: none;
  visibility: hidden;
}

.mkdf-blog-load-more-button-holder {
  text-align: center;
  margin: 0;
}

.mkdf-blog-load-more-button-holder a {
  margin: 5px 0 62px;
}

.mkdf-filter-blog-holder {
  text-align: center;
  margin-bottom: 30px;
}

.mkdf-filter-blog-holder li {
  display: inline-block;
  padding: 0 8px;
  cursor: pointer;
  font-size: 15px;
}

.mkdf-filter-blog-holder li.mkdf-active {
  color: #ff2c54;
}

/* #Audio styles - start
   ========================================================================== */
.mkdf-blog-audio-holder {
  width: 100%;
  height: 44px;
}

.mkdf-blog-audio-holder .mejs-container {
  height: 44px !important;
  background: #eaeaea;
}

.mkdf-blog-audio-holder .mejs-container .mejs-controls {
  height: 37px !important;
  padding: 0 13px 0 10px;
  box-sizing: border-box;
}

.mkdf-blog-audio-holder .mejs-container .mejs-controls .mejs-time {
  color: #303030;
  font-weight: 600;
}

.mkdf-blog-audio-holder .mejs-container .mejs-controls .mejs-button button {
  height: 26px;
  width: 20px;
  line-height: 26px;
  background-image: none;
  margin: 0;
  outline: none;
}

.mkdf-blog-audio-holder .mejs-container .mejs-controls .mejs-button button:before {
  font-family: 'ElegantIcons';
  color: #303030;
  display: inline-block;
  vertical-align: middle;
}

.mkdf-blog-audio-holder .mejs-container .mejs-controls .mejs-playpause-button.mejs-play button:before {
  content: '\49';
  font-size: 20px;
}

.mkdf-blog-audio-holder .mejs-container .mejs-controls .mejs-playpause-button.mejs-pause button:before {
  content: '\5f';
  font-size: 19px;
  margin-top: 1px;
}

.mkdf-blog-audio-holder .mejs-container .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
  background-color: #fff;
}

.mkdf-blog-audio-holder .mejs-container .mejs-controls .mejs-time-rail .mejs-time-loaded {
  background: #303030;
}

.mkdf-blog-audio-holder .mejs-container .mejs-controls .mejs-volume-button {
  margin-top: 2px;
}

.mkdf-blog-audio-holder .mejs-container .mejs-controls .mejs-volume-button.mejs-mute button:before {
  content: '\e069';
  font-size: 15px;
}

.mkdf-blog-audio-holder .mejs-container .mejs-controls .mejs-volume-button.mejs-unmute button:before {
  content: '\e067';
  font-size: 15px;
}

.mkdf-blog-audio-holder .mejs-container .mejs-controls a.mejs-horizontal-volume-slider {
  margin-top: 1px;
}

.mkdf-blog-audio-holder .mejs-container .mejs-controls .mejs-time {
  padding: 10px 8px 0 6px;
}

.mkdf-blog-audio-holder .mejs-container .mejs-controls .mejs-time-rail .mejs-time-total {
  margin: 7px 8px 5px;
  background: #303030;
}

.mkdf-blog-audio-holder .mejs-container .mejs-controls .mejs-time-rail .mejs-time-current,
.mkdf-blog-audio-holder .mejs-container .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  background: #303030;
}

.mkdf-blog-audio-holder .mejs-container .mejs-controls .mejs-time-rail span,
.mkdf-blog-audio-holder .mejs-container .mejs-controls .mejs-time-rail a {
  height: 6px;
}

.mkdf-blog-audio-holder .mejs-container .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.mkdf-blog-audio-holder .mejs-container .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  height: 6px;
}

.mkdf-blog-audio-holder .mejs-container .mejs-controls span.mejs-time-handle {
  display: inline-block;
  top: -5.5px;
  width: 15px;
  height: 15px;
  background-color: #8b8b8b;
  border: none;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}

.mkdf-blog-audio-holder .mejs-container .mejs-container,
.mkdf-blog-audio-holder .mejs-container .mejs-controls {
  background: transparent;
}

/* #Audio styles - end
========================================================================== */
/* #Blog Single - start
========================================================================== */
.mkdf-author-description {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin-top: 70px;
}

.mkdf-author-description .mkdf-author-description-inner {
  display: inline-table;
  table-layout: fixed;
  width: 85%;
}

.mkdf-author-description .mkdf-author-description-image {
  display: table-cell;
  vertical-align: top;
  width: 80px;
  padding-right: 20px;
}

.mkdf-author-description .mkdf-author-description-image img {
  vertical-align: middle;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.mkdf-author-description .mkdf-author-description-text-holder {
  display: table-cell;
  vertical-align: top;
  text-align: left;
}

.mkdf-author-description .mkdf-author-name {
  margin-bottom: 7px;
}

.mkdf-author-description .mkdf-author-email {
  font-size: 12px;
  font-weight: 400;
  padding-left: 3px;
}

.mkdf-author-description .mkdf-author-text p:last-child {
  margin: 0;
}

.mkdf-single-tags-holder {
  margin: 20px 0;
}

.mkdf-single-tags-holder .mkdf-single-tags-title {
  display: inline-block;
  margin-right: 5px;
}

.mkdf-single-tags-holder .mkdf-tags {
  display: inline-block;
}

.mkdf-single-tags-holder .mkdf-tags a {
  margin: 0 5px;
}

.mkdf-blog-single-navigation {
  position: relative;
  margin-top: 70px;
}

.mkdf-blog-single-navigation .mkdf-blog-single-navigation-inner {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.mkdf-blog-single-navigation .mkdf-nav-holder {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.mkdf-blog-single-navigation .mkdf-nav-holder .mkdf-nav-image {
  display: table-cell;
  vertical-align: middle;
  width: 79px;
  height: 79px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.mkdf-blog-single-navigation .mkdf-nav-holder .mkdf-nav-title {
  display: table-cell;
  vertical-align: middle;
}

.mkdf-blog-single-navigation .mkdf-nav-holder .mkdf-nav-title-inner {
  line-height: 1.2em;
  margin-bottom: -4px;
  -webkit-transition: color 0.15s ease-out;
  -moz-transition: color 0.15s ease-out;
  transition: color 0.15s ease-out;
}

.mkdf-blog-single-navigation .mkdf-nav-holder .mkdf-nav-text {
  display: inline-block;
  vertical-align: middle;
  color: #bababa;
  font-size: 12px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  line-height: 16px;
}

.mkdf-blog-single-navigation .mkdf-nav-holder .mkdf-nav-text span {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  -webkit-transition: -webkit-transform .15s ease-out;
  transition: transform .15s ease-out;
}

.mkdf-blog-single-navigation .mkdf-blog-single-prev .mkdf-nav-title {
  padding-left: 20px;
}

.mkdf-blog-single-navigation .mkdf-blog-single-prev .mkdf-nav-text span {
  margin-right: 10px;
}

.mkdf-blog-single-navigation .mkdf-blog-single-prev a:hover .mkdf-nav-arrows {
  -webkit-transform: translateX(-5px);
  -moz-transform: translateX(-5px);
  transform: translateX(-5px);
}

.mkdf-blog-single-navigation .mkdf-blog-single-next {
  text-align: right;
}

.mkdf-blog-single-navigation .mkdf-blog-single-next .mkdf-nav-title {
  padding-right: 20px;
}

.mkdf-blog-single-navigation .mkdf-blog-single-next .mkdf-nav-text span {
  margin-left: 10px;
}

.mkdf-blog-single-navigation .mkdf-blog-single-next a:hover .mkdf-nav-arrows {
  -webkit-transform: translateX(5px);
  -moz-transform: translateX(5px);
  transform: translateX(5px);
}

.mkdf-blog-single-navigation a:hover .mkdf-nav-title-inner {
  color: #ff2c54;
}

.mkdf-blog-single-navigation .mkdf-nav-no-img .mkdf-nav-image {
  display: none;
}

.mkdf-blog-single-navigation .mkdf-nav-no-img .mkdf-nav-title {
  padding: 0;
}

.mkdf-blog-single-navigation .mkdf-blog-single-prev,
.mkdf-blog-single-navigation .mkdf-blog-single-next {
  display: table-cell;
  width: 36%;
  vertical-align: middle;
}

.mkdf-blog-single-navigation .mkdf-blog-single-share {
  display: table-cell;
  width: 28%;
  vertical-align: middle;
  text-align: center;
}

.mkdf-blog-single-share .mkdf-social-share-holder.mkdf-list .mkdf-social-share-title {
  display: block;
  margin: 0 0 8px;
}

.mkdf-single-links-pages {
  margin: 25px 0;
}

.mkdf-single-links-pages .mkdf-single-links-pages-inner > a,
.mkdf-single-links-pages .mkdf-single-links-pages-inner > span {
  display: inline-block;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
}

/* #Blog Single - end
========================================================================== */
/* Related Posts - begin
========================================================================== */
.mkdf-related-posts-holder {
  margin-top: 45px;
}

.mkdf-related-posts-holder .mkdf-related-posts-title {
  margin-bottom: 35px;
}

.mkdf-related-posts-holder .mkdf-related-post {
  width: 24.8125%;
  margin-right: 0.25%;
  display: inline-block;
  float: left;
}

.mkdf-related-posts-holder .mkdf-related-post:nth-child(4n) {
  margin-right: 0;
}

.mkdf-related-posts-holder .mkdf-related-post img {
  display: block;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-related-post-image {
  margin-bottom: 16px;
}

.mkdf-column1 .mkdf-related-posts-holder .mkdf-related-post,
.mkdf-column2 .mkdf-related-posts-holder .mkdf-related-post {
  width: 33.16%;
  margin-right: 0.25%;
}

.mkdf-column1 .mkdf-related-posts-holder .mkdf-related-post:nth-child(3n),
.mkdf-column2 .mkdf-related-posts-holder .mkdf-related-post:nth-child(3n) {
  margin-right: 0;
}

/* Related Posts - end
========================================================================== */

/*# sourceMappingURL=blog.css.map */