@media only screen and (max-width: 1400px) {
  .mkdf-grid,
  .mkdf-container-inner,
  .mkdf-grid-section .mkdf-section-inner,
  .mkdf-slider .carousel-inner .mkdf-slider-content-outer {
    width: 1100px;
  }
}

@media only screen and (max-width: 1200px) {
  .mkdf-grid,
  .mkdf-container-inner,
  .mkdf-grid-section .mkdf-section-inner,
  .mkdf-slider .carousel-inner .mkdf-slider-content-outer {
    width: 950px;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-grid,
  .mkdf-container-inner,
  .mkdf-grid-section .mkdf-section-inner,
  .mkdf-slider .carousel-inner .mkdf-slider-content-outer {
    width: 768px;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-grid,
  .mkdf-container-inner,
  .mkdf-grid-section .mkdf-section-inner,
  .mkdf-slider .carousel-inner .mkdf-slider-content-outer {
    width: 600px;
  }
}

@media only screen and (max-width: 600px) {
  .mkdf-grid,
  .mkdf-container-inner,
  .mkdf-grid-section .mkdf-section-inner,
  .mkdf-slider .carousel-inner .mkdf-slider-content-outer {
    width: 420px;
  }
}

@media only screen and (max-width: 480px) {
  .mkdf-grid,
  .mkdf-container-inner,
  .mkdf-grid-section .mkdf-section-inner,
  .mkdf-slider .carousel-inner .mkdf-slider-content-outer {
    width: 300px;
  }
}

@media only screen and (max-width: 320px) {
  .mkdf-grid,
  .mkdf-container-inner,
  .mkdf-grid-section .mkdf-section-inner,
  .mkdf-slider .carousel-inner .mkdf-slider-content-outer {
    width: 95%;
  }
}

@media only screen and (min-width: 1490px) and (max-width: 1650px) {
  .mkdf-header-vertical .mkdf-grid,
  .mkdf-header-vertical .mkdf-container-inner,
  .mkdf-header-vertical .mkdf-grid-section .mkdf-section-inner,
  .mkdf-header-vertical .mkdf-slider .carousel-inner .mkdf-slider-content-outer {
    width: 1100px;
  }
}

@media only screen and (min-width: 1314px) and (max-width: 1490px) {
  .mkdf-header-vertical .mkdf-grid,
  .mkdf-header-vertical .mkdf-container-inner,
  .mkdf-header-vertical .mkdf-grid-section .mkdf-section-inner,
  .mkdf-header-vertical .mkdf-slider .carousel-inner .mkdf-slider-content-outer {
    width: 950px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1314px) {
  .mkdf-header-vertical .mkdf-grid,
  .mkdf-header-vertical .mkdf-container-inner,
  .mkdf-header-vertical .mkdf-grid-section .mkdf-section-inner,
  .mkdf-header-vertical .mkdf-slider .carousel-inner .mkdf-slider-content-outer {
    width: 768px;
  }
}

@media only screen and (max-width: 1200px) {
  .mkdf-boxed .mkdf-wrapper .mkdf-wrapper-inner,
  .mkdf-boxed .mkdf-wrapper .mkdf-footer-inner {
    width: 1000px;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-boxed .mkdf-wrapper .mkdf-wrapper-inner,
  .mkdf-boxed .mkdf-wrapper .mkdf-footer-inner {
    width: 818px;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-boxed .mkdf-wrapper .mkdf-wrapper-inner,
  .mkdf-boxed .mkdf-wrapper .mkdf-footer-inner {
    width: 650px;
  }
}

@media only screen and (max-width: 600px) {
  .mkdf-boxed .mkdf-wrapper .mkdf-wrapper-inner,
  .mkdf-boxed .mkdf-wrapper .mkdf-footer-inner {
    width: 470px;
  }
}

@media only screen and (max-width: 480px) {
  .mkdf-boxed .mkdf-wrapper .mkdf-wrapper-inner,
  .mkdf-boxed .mkdf-wrapper .mkdf-footer-inner {
    width: 350px;
  }
}

@media only screen and (max-width: 320px) {
  .mkdf-boxed .mkdf-wrapper .mkdf-wrapper-inner,
  .mkdf-boxed .mkdf-wrapper .mkdf-footer-inner {
    width: 96%;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-content {
    margin-top: 0px !important;
  }
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 34px;
  }
  h3 {
    font-size: 22px;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-two-columns-50-50 .mkdf-column,
  .mkdf-two-columns-66-33 .mkdf-column1,
  .mkdf-two-columns-66-33 .mkdf-column2,
  .mkdf-two-columns-33-66 .mkdf-column1,
  .mkdf-two-columns-33-66 .mkdf-column2,
  .mkdf-two-columns-25-75 .mkdf-column1,
  .mkdf-two-columns-25-75 .mkdf-column2,
  .mkdf-two-columns-75-25 .mkdf-column1,
  .mkdf-two-columns-75-25 .mkdf-column2,
  .mkdf-three-columns .mkdf-column,
  .mkdf-four-columns .mkdf-column,
  .mkdf-five-columns .mkdf-column {
    width: 100%;
  }
  .mkdf-five-columns > .mkdf-five-columns-inner,
  .mkdf-four-columns > .mkdf-four-columns-inner,
  .mkdf-three-columns > .mkdf-three-columns-inner,
  .mkdf-two-columns-50-50 > .mkdf-two-columns-50-50-inner {
    margin: 0;
  }
  .mkdf-content-left-from-sidebar {
    margin-bottom: 60px;
  }
  .mkdf-content-right-from-sidebar {
    margin-top: 60px;
  }
  .mkdf-two-columns-66-33 .mkdf-column1 .mkdf-column-inner,
  .mkdf-two-columns-66-33 .mkdf-column2 .mkdf-column-inner,
  .mkdf-two-columns-33-66 .mkdf-column1 .mkdf-column-inner,
  .mkdf-two-columns-33-66 .mkdf-column2 .mkdf-column-inner,
  .mkdf-two-columns-75-25 .mkdf-column1 .mkdf-column-inner,
  .mkdf-two-columns-75-25 .mkdf-column2 .mkdf-column-inner,
  .mkdf-two-columns-25-75 .mkdf-column1 .mkdf-column-inner,
  .mkdf-two-columns-25-75 .mkdf-column2 .mkdf-column-inner,
  .mkdf-five-columns > .mkdf-five-columns-inner .mkdf-column-inner,
  .mkdf-four-columns > .mkdf-four-columns-inner .mkdf-column-inner,
  .mkdf-three-columns > .mkdf-three-columns-inner .mkdf-column-inner,
  .mkdf-two-columns-50-50 > .mkdf-two-columns-50-50-inner .mkdf-column-inner {
    padding: 0 0 0 0;
  }
  .mkdf-no-border-responsive {
    border-right: none !important;
  }
}

@media only screen and (max-width: 320px) {
  .mkdf-section-inner-margin {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media only screen and (max-width: 1280px) {
  .mkdf-page-not-found h1 {
    font-size: 90px;
  }
  input.wpcf7-form-control.wpcf7-submit {
    padding: 0 50px;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-404-page .mkdf-page-not-found p {
    padding: 0 60px;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-404-page {
    margin: 30px auto;
  }
  .mkdf-404-page .mkdf-page-not-found h1 {
    font-size: 60px;
  }
  .mkdf-404-page .mkdf-page-not-found p {
    padding: 0 30px;
  }
  .mkdf-comment-list li.depth-2 .mkdf-comment {
    padding-left: 40px;
  }
  .mkdf-comment-list li.depth-3 .mkdf-comment {
    padding-left: 80px;
  }
  .mkdf-comment-list li.depth-4 .mkdf-comment {
    padding-left: 120px;
  }
  .mkdf-comment-list li.depth-5 .mkdf-comment {
    padding-left: 160px;
  }
  .mkdf-comment-list li.depth-6 .mkdf-comment {
    padding-left: 200px;
  }
  .mkdf-comment-list li.depth-7 .mkdf-comment {
    padding-left: 240px;
  }
  .mkdf-comment-list li.depth-8 .mkdf-comment {
    padding-left: 280px;
  }
  .mkdf-comment-list li.depth-9 .mkdf-comment {
    padding-left: 320px;
  }
  .mkdf-comment-list li.depth-10 .mkdf-comment {
    padding-left: 360px;
  }
}

@media only screen and (max-width: 600px) {
  .mkdf-comment-holder .mkdf-comment-text .mkdf-comment-date {
    display: block;
  }
}

@media only screen and (max-width: 480px) {
  .mkdf-comment-holder {
    width: 100%;
  }
  .mkdf-comment-holder .mkdf-comment-image {
    float: none;
  }
  .mkdf-comment-holder .mkdf-comment-text {
    padding: 0;
    margin-top: 20px;
  }
  .mkdf-comment-holder li.depth-2 .mkdf-comment {
    padding-left: 0;
  }
  .mkdf-comment-holder li.depth-3 .mkdf-comment {
    padding-left: 0;
  }
  .mkdf-comment-holder li.depth-4 .mkdf-comment {
    padding-left: 0;
  }
  .mkdf-comment-holder li.depth-5 .mkdf-comment {
    padding-left: 0;
  }
  .mkdf-comment-holder li.depth-6 .mkdf-comment {
    padding-left: 0;
  }
  .mkdf-comment-holder li.depth-7 .mkdf-comment {
    padding-left: 0;
  }
  .mkdf-comment-holder li.depth-8 .mkdf-comment {
    padding-left: 0;
  }
  .mkdf-comment-holder li.depth-9 .mkdf-comment {
    padding-left: 0;
  }
  .mkdf-comment-holder li.depth-10 .mkdf-comment {
    padding-left: 0;
  }
  .slick-slider .mkdf-slick-prev,
  .slick-slider .mkdf-slick-next {
    font-size: 30px;
  }
  .mkdf-404-page .mkdf-page-not-found p {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-page-header {
    display: none;
  }
  .mkdf-mobile-header {
    display: block;
  }
  .mkdf-header-vertical .mkdf-vertical-menu-area {
    display: none;
  }
  .mkdf-header-vertical .mkdf-content,
  .mkdf-header-vertical footer {
    padding-left: 0;
  }
  .mkdf-header-vertical .carousel-inner {
    left: 0 !important;
    width: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  .mkdf-drop-down .mkdf-menu-wide .mkdf-menu-second > .mkdf-menu-inner > ul {
    width: 950px;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-drop-down .mkdf-menu-wide .mkdf-menu-second > .mkdf-menu-inner > ul {
    width: 768px;
  }
}

@media only screen and (max-width: 1200px) {
  .mkdf-boxed .mkdf-page-header .mkdf-sticky-header,
  .mkdf-boxed .mkdf-page-header .mkdf-fixed-wrapper.fixed {
    width: 1000px;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-boxed.mkdf-sticky-up-mobile-header .mobile-header-appear .mkdf-mobile-header-inner {
    width: 818px;
    left: auto;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-boxed.mkdf-sticky-up-mobile-header .mobile-header-appear .mkdf-mobile-header-inner {
    width: 650px;
  }
}

@media only screen and (max-width: 600px) {
  .mkdf-boxed.mkdf-sticky-up-mobile-header .mobile-header-appear .mkdf-mobile-header-inner {
    width: 470px;
  }
}

@media only screen and (max-width: 480px) {
  .mkdf-boxed.mkdf-sticky-up-mobile-header .mobile-header-appear .mkdf-mobile-header-inner {
    width: 350px;
  }
}

@media only screen and (max-width: 320px) {
  .mkdf-boxed.mkdf-sticky-up-mobile-header .mobile-header-appear .mkdf-mobile-header-inner {
    width: 96%;
  }
}

/* ==========================================================================
# Footer responsive style - begin
========================================================================== */
@media only screen and (max-width: 1200px) {
  footer .mkdf-footer-top.mkdf-footer-top-full {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media only screen and (max-width: 768px) {
  footer .mkdf-footer-top-holder .mkdf-column:not(:last-child) {
    margin-bottom: 30px;
  }
}

/* ==========================================================================
# Footer responsive style - end
========================================================================== */
@media only screen and (min-width: 1921px) {
  .mkdf-title {
    background-size: cover;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-title.mkdf-has-background {
    background: transparent none repeat scroll 0 0 !important;
    height: auto !important;
    padding: 0 !important;
  }
  .mkdf-title.mkdf-title-image-not-responsive .mkdf-title-image {
    display: block;
  }
  .mkdf-title .mkdf-title-holder {
    height: 100% !important;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 !important;
  }
  .mkdf-title .mkdf-title-holder .mkdf-container {
    display: block;
    height: 100%;
  }
  .mkdf-title .mkdf-title-holder .mkdf-container-inner {
    display: table;
    height: 100%;
  }
  .mkdf-title .mkdf-title-holder .mkdf-title-subtitle-holder {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
  }
  .mkdf-title .mkdf-title-subtitle-holder {
    padding: 0px !important;
  }
  .mkdf-title.mkdf-title-large-text-size h1 {
    font-size: 90px;
  }
  .mkdf-title.mkdf-standard-type .mkdf-breadcrumbs-holder {
    position: relative;
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-title.mkdf-title-large-text-size h1 {
    font-size: 70px;
  }
}

@media only screen and (max-width: 600px) {
  .mkdf-title.mkdf-title-large-text-size h1 {
    font-size: 50px;
  }
  .mkdf-title .mkdf-subtitle {
    display: none;
  }
  .mkdf-title.mkdf-standard-type .mkdf-breadcrumbs-holder {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .mkdf-title.mkdf-title-small-text-size h1, .mkdf-title.mkdf-title-medium-text-size h1, .mkdf-title.mkdf-title-large-text-size h1 {
    font-size: 22px;
    letter-spacing: -1px;
  }
  .mkdf-title.mkdf-title-small-text-size .mkdf-subtitle, .mkdf-title.mkdf-title-medium-text-size .mkdf-subtitle, .mkdf-title.mkdf-title-large-text-size .mkdf-subtitle {
    display: none;
  }
}

@media only screen and (max-width: 1400px) {
  .mkdf-side-menu-slide-from-right .mkdf-side-menu {
    width: 27%;
  }
}

/* ==========================================================================
   Elements Holder Responsive start style
   ========================================================================== */
@media only screen and (max-width: 1280px) {
  .mkdf-elements-holder.mkdf-responsive-mode-1280.mkdf-two-columns .mkdf-elements-holder-item, .mkdf-elements-holder.mkdf-responsive-mode-1280.mkdf-three-columns .mkdf-elements-holder-item, .mkdf-elements-holder.mkdf-responsive-mode-1280.mkdf-four-columns .mkdf-elements-holder-item, .mkdf-elements-holder.mkdf-responsive-mode-1280.mkdf-five-columns .mkdf-elements-holder-item, .mkdf-elements-holder.mkdf-responsive-mode-1280.mkdf-six-columns .mkdf-elements-holder-item {
    width: 100%;
    display: inline-block;
    height: auto;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-elements-holder.mkdf-responsive-mode-1024.mkdf-two-columns .mkdf-elements-holder-item, .mkdf-elements-holder.mkdf-responsive-mode-1024.mkdf-three-columns .mkdf-elements-holder-item, .mkdf-elements-holder.mkdf-responsive-mode-1024.mkdf-four-columns .mkdf-elements-holder-item, .mkdf-elements-holder.mkdf-responsive-mode-1024.mkdf-five-columns .mkdf-elements-holder-item, .mkdf-elements-holder.mkdf-responsive-mode-1024.mkdf-six-columns .mkdf-elements-holder-item {
    width: 100%;
    display: inline-block;
    height: auto;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-elements-holder.mkdf-responsive-mode-768.mkdf-two-columns .mkdf-elements-holder-item, .mkdf-elements-holder.mkdf-responsive-mode-768.mkdf-three-columns .mkdf-elements-holder-item, .mkdf-elements-holder.mkdf-responsive-mode-768.mkdf-four-columns .mkdf-elements-holder-item, .mkdf-elements-holder.mkdf-responsive-mode-768.mkdf-five-columns .mkdf-elements-holder-item, .mkdf-elements-holder.mkdf-responsive-mode-768.mkdf-six-columns .mkdf-elements-holder-item {
    width: 100%;
    display: inline-block;
    height: auto;
  }
}

@media only screen and (max-width: 600px) {
  .mkdf-elements-holder.mkdf-responsive-mode-600.mkdf-two-columns .mkdf-elements-holder-item, .mkdf-elements-holder.mkdf-responsive-mode-600.mkdf-three-columns .mkdf-elements-holder-item, .mkdf-elements-holder.mkdf-responsive-mode-600.mkdf-four-columns .mkdf-elements-holder-item, .mkdf-elements-holder.mkdf-responsive-mode-600.mkdf-five-columns .mkdf-elements-holder-item, .mkdf-elements-holder.mkdf-responsive-mode-600.mkdf-six-columns .mkdf-elements-holder-item {
    width: 100%;
    display: inline-block;
    height: auto;
  }
}

@media only screen and (max-width: 480px) {
  .mkdf-elements-holder.mkdf-responsive-mode-480.mkdf-two-columns .mkdf-elements-holder-item, .mkdf-elements-holder.mkdf-responsive-mode-480.mkdf-three-columns .mkdf-elements-holder-item, .mkdf-elements-holder.mkdf-responsive-mode-480.mkdf-four-columns .mkdf-elements-holder-item, .mkdf-elements-holder.mkdf-responsive-mode-480.mkdf-five-columns .mkdf-elements-holder-item, .mkdf-elements-holder.mkdf-responsive-mode-480.mkdf-six-columns .mkdf-elements-holder-item {
    width: 100%;
    display: inline-block;
    height: auto;
  }
}

@media only screen and (max-width: 480px) {
  .mkdf-elements-holder .mkdf-elements-holder-item-content {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 1280px) {
  .mkdf-elements-holder.mkdf-responsive-mode-1280.mkdf-one-column-alignment-left .mkdf-elements-holder-item .mkdf-elements-holder-item-content {
    text-align: left;
  }
  .mkdf-elements-holder.mkdf-responsive-mode-1280.mkdf-one-column-alignment-right .mkdf-elements-holder-item .mkdf-elements-holder-item-content {
    text-align: right;
  }
  .mkdf-elements-holder.mkdf-responsive-mode-1280.mkdf-one-column-alignment-center .mkdf-elements-holder-item .mkdf-elements-holder-item-content {
    text-align: center;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-elements-holder.mkdf-responsive-mode-1024.mkdf-one-column-alignment-left .mkdf-elements-holder-item .mkdf-elements-holder-item-content {
    text-align: left;
  }
  .mkdf-elements-holder.mkdf-responsive-mode-1024.mkdf-one-column-alignment-right .mkdf-elements-holder-item .mkdf-elements-holder-item-content {
    text-align: right;
  }
  .mkdf-elements-holder.mkdf-responsive-mode-1024.mkdf-one-column-alignment-center .mkdf-elements-holder-item .mkdf-elements-holder-item-content {
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-elements-holder.mkdf-responsive-mode-768.mkdf-one-column-alignment-left .mkdf-elements-holder-item .mkdf-elements-holder-item-content {
    text-align: left;
  }
  .mkdf-elements-holder.mkdf-responsive-mode-768.mkdf-one-column-alignment-right .mkdf-elements-holder-item .mkdf-elements-holder-item-content {
    text-align: right;
  }
  .mkdf-elements-holder.mkdf-responsive-mode-768.mkdf-one-column-alignment-center .mkdf-elements-holder-item .mkdf-elements-holder-item-content {
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .mkdf-elements-holder.mkdf-responsive-mode-600.mkdf-one-column-alignment-left .mkdf-elements-holder-item .mkdf-elements-holder-item-content {
    text-align: left;
  }
  .mkdf-elements-holder.mkdf-responsive-mode-600.mkdf-one-column-alignment-right .mkdf-elements-holder-item .mkdf-elements-holder-item-content {
    text-align: right;
  }
  .mkdf-elements-holder.mkdf-responsive-mode-600.mkdf-one-column-alignment-center .mkdf-elements-holder-item .mkdf-elements-holder-item-content {
    text-align: center;
  }
}

@media only screen and (max-width: 480px) {
  .mkdf-elements-holder.mkdf-responsive-mode-480.mkdf-one-column-alignment-left .mkdf-elements-holder-item .mkdf-elements-holder-item-content {
    text-align: left;
  }
  .mkdf-elements-holder.mkdf-responsive-mode-480.mkdf-one-column-alignment-right .mkdf-elements-holder-item .mkdf-elements-holder-item-content {
    text-align: right;
  }
  .mkdf-elements-holder.mkdf-responsive-mode-480.mkdf-one-column-alignment-center .mkdf-elements-holder-item .mkdf-elements-holder-item-content {
    text-align: center;
  }
}

/* ==========================================================================
   End of Elements Holder Responsive style
   ========================================================================== */
/* ==========================================================================
   Google Map start style
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  .mkdf-google-map-overlay {
    display: block;
  }
}

/* ==========================================================================
   End of Google Map style
   ========================================================================== */
/* ==========================================================================
# Team responsive style - begin
========================================================================== */
/* ==========================================================================
# Team responsive style - end
========================================================================== */
/* ==========================================================================
# Call to action responsive style - begin
========================================================================== */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .mkdf-call-to-action .mkdf-call-to-action-row-75-25 .mkdf-call-to-action-column1 {
    width: 65%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .mkdf-call-to-action .mkdf-call-to-action-row-75-25 .mkdf-call-to-action-column2 {
    width: 35%;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-call-to-action .mkdf-call-to-action-cell {
    display: block;
    text-align: center !important;
    width: 100% !important;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-call-to-action .mkdf-text-wrapper .mkdf-call-to-action-icon-holder {
    position: relative;
    width: 100%;
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-call-to-action .mkdf-text-wrapper .mkdf-call-to-action-icon {
    display: inline-block;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-call-to-action .mkdf-text-wrapper .mkdf-call-to-action-text {
    text-align: center;
    margin-bottom: 23px;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-call-to-action.with-icon {
    padding: 0;
  }
}

/* ==========================================================================
# Call to action responsive style - end
========================================================================== */
/* ==========================================================================
# Counter responsive style - begin
========================================================================== */
/* ==========================================================================
# Counter responsive style - end
========================================================================== */
/* ==========================================================================
# Countdown responsive style - begin
========================================================================== */
@media only screen and (max-width: 1024px) {
  .countdown-amount {
    font-size: 50px !important;
    line-height: 50px !important;
  }
}

@media only screen and (max-width: 600px) {
  .countdown-amount {
    font-size: 35px !important;
    line-height: 35px !important;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 1024px) {
  .countdown-period {
    font-size: 15px !important;
  }
}

@media only screen and (max-width: 600px) {
  .countdown-period {
    font-size: 10px !important;
  }
}

/* ==========================================================================
# Countdown responsive style - end
========================================================================== */
/* ==========================================================================
# Message responsive style - begin
========================================================================== */
/* Unique style for both types  - begin
========================================================================== */
@media only screen and (max-width: 480px) {
  .mkdf-message {
    padding: 20px 15px;
  }
}

@media screen and (max-width: 320px) {
  .mkdf-message .mkdf-message-text {
    line-height: normal;
  }
}

/* Unique style for both types - end
========================================================================== */
/* Type with icon - begin
========================================================================== */
@media only screen and (max-width: 600px) {
  .mkdf-message.mkdf-with-icon .mkdf-message-icon-holder {
    padding: 0 15px;
  }
}

/* Type with icon - end
========================================================================== 
/* ==========================================================================
# Message responsive style - end
========================================================================== */
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .mkdf-vertical-menu-area .mkdf-pricing-tables.mkdf-four-columns .mkdf-price-table {
    width: 48.75%;
    margin-bottom: 45px;
  }
  .mkdf-vertical-menu-area .mkdf-pricing-tables.mkdf-four-columns .mkdf-price-table:nth-child(2n+1) {
    margin-left: 0;
    clear: both;
  }
  .mkdf-pricing-tables.mkdf-four-columns .mkdf-price-in-table .mkdf-price {
    font-size: 60px;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-pricing-tables.mkdf-four-columns .mkdf-price-table {
    width: 48.75%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .mkdf-pricing-tables.mkdf-four-columns .mkdf-price-table:nth-child(2n+1) {
    margin-left: 0;
    clear: both;
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  .mkdf-pricing-tables.mkdf-three-columns .mkdf-price-table {
    width: 100%;
    margin-left: 0;
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 600px) {
  .mkdf-pricing-tables .mkdf-price-table {
    width: 100% !important;
    margin-left: 0;
    margin-bottom: 15px;
  }
  .mkdf-pricing-tables .mkdf-price-table.mkdf-active {
    margin-top: 20px;
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 1400px) {
  .mkdf-tabs.mkdf-tab-boxed .mkdf-tabs-nav li a {
    padding: 15px 35px;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-tabs.mkdf-horizontal-tab .mkdf-tabs-nav li {
    float: none;
    margin-right: 0;
  }
  .mkdf-tabs.mkdf-horizontal-tab .mkdf-tabs-nav li a {
    padding-left: 0;
    padding-right: 0;
  }
  .mkdf-tabs.mkdf-tab-boxed.mkdf-horizontal-tab .mkdf-tabs-nav li a {
    margin-bottom: 2px;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-tabs.mkdf-tabs-nav, .mkdf-tabs.mkdf-tab-container,
  .mkdf-tabs.mkdf-vertical-tab .mkdf-tabs-nav,
  .mkdf-tabs.mkdf-vertical-tab .mkdf-tab-container {
    width: 100%;
  }
  .mkdf-tabs .mkdf-tabs-nav li {
    float: none;
    display: block;
    margin: 0;
  }
  .mkdf-tabs .mkdf-tabs-nav li a {
    padding-left: 0;
    padding-right: 0;
  }
  .mkdf-tabs.mkdf-vertical-tab .mkdf-tabs-nav {
    float: none;
    padding: 0;
  }
  .mkdf-tabs.mkdf-vertical-tab .mkdf-tab-container {
    float: none;
    border-left: 0;
    padding: 9px 0;
  }
}

@media only screen and (max-width: 480px) {
  blockquote .mkdf-icon-quotations-holder {
    padding-left: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-blog-list-holder.mkdf-masonry .mkdf-blog-list-masonry-grid-sizer,
  .mkdf-blog-list-holder.mkdf-masonry .mkdf-blog-list-masonry-item {
    width: 49%;
  }
  .mkdf-blog-list-holder.mkdf-masonry .mkdf-blog-list-masonry-grid-gutter {
    width: 2%;
  }
  .mkdf-blog-list-holder.mkdf-simple.mkdf-four-columns > ul > li {
    width: 49%;
    margin: 0 2% 25px 0;
  }
  .mkdf-blog-list-holder.mkdf-simple.mkdf-four-columns > ul > li:nth-child(2n) {
    margin: 0 0 25px;
  }
  .mkdf-blog-list-holder.mkdf-simple.mkdf-four-columns > ul > li:nth-child(2n+1) {
    clear: both;
  }
  .mkdf-blog-list-holder.mkdf-boxes.mkdf-four-columns > ul > li {
    width: 50%;
  }
  .mkdf-blog-list-holder.mkdf-boxes.mkdf-four-columns > ul > li:nth-child(2n+1) {
    clear: both;
  }
  .mkdf-blog-list-holder.mkdf-boxes.mkdf-three-columns > ul > li {
    width: 50%;
  }
  .mkdf-blog-list-holder.mkdf-boxes.mkdf-three-columns > ul > li:nth-child(3n+1) {
    clear: none;
  }
  .mkdf-blog-list-holder.mkdf-boxes.mkdf-three-columns > ul > li:nth-child(2n+1) {
    clear: both;
  }
  .mkdf-blog-list-holder.mkdf-boxes .mkdf-blog-list-item-table-cell .mkdf-section-title {
    font-size: 60px;
    text-align: left;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .mkdf-vertical-menu-area .mkdf-blog-list-holder.mkdf-simple.mkdf-two-columns > ul > li,
  .mkdf-vertical-menu-area .mkdf-blog-list-holder.mkdf-simple.mkdf-four-columns > ul > li {
    width: 49%;
    margin: 0 2% 25px 0;
  }
  .mkdf-vertical-menu-area .mkdf-blog-list-holder.mkdf-simple.mkdf-two-columns > ul > li:nth-child(2n),
  .mkdf-vertical-menu-area .mkdf-blog-list-holder.mkdf-simple.mkdf-four-columns > ul > li:nth-child(2n) {
    margin: 0 0 25px;
  }
  .mkdf-vertical-menu-area .mkdf-blog-list-holder.mkdf-simple.mkdf-two-columns > ul > li:nth-child(2n+1),
  .mkdf-vertical-menu-area .mkdf-blog-list-holder.mkdf-simple.mkdf-four-columns > ul > li:nth-child(2n+1) {
    clear: both;
  }
  .mkdf-vertical-menu-area .mkdf-blog-list-holder.mkdf-boxes.mkdf-two-columns > ul > li,
  .mkdf-vertical-menu-area .mkdf-blog-list-holder.mkdf-boxes.mkdf-four-columns > ul > li {
    width: 50%;
  }
  .mkdf-vertical-menu-area .mkdf-blog-list-holder.mkdf-boxes.mkdf-two-columns > ul > li:nth-child(2n+1),
  .mkdf-vertical-menu-area .mkdf-blog-list-holder.mkdf-boxes.mkdf-four-columns > ul > li:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 600px) {
  .mkdf-blog-list-holder.mkdf-masonry .mkdf-blog-list-masonry-grid-sizer,
  .mkdf-blog-list-holder.mkdf-masonry .mkdf-blog-list-masonry-item {
    width: 100%;
  }
  .mkdf-blog-list-holder.mkdf-masonry .mkdf-blog-list-masonry-grid-gutter {
    width: 0;
  }
  .mkdf-blog-list-holder.mkdf-simple.mkdf-four-columns > ul > li,
  .mkdf-blog-list-holder.mkdf-simple.mkdf-three-columns > ul > li,
  .mkdf-blog-list-holder.mkdf-simple.mkdf-two-columns > ul > li {
    width: 100% !important;
    margin: 0 0 25px !important;
  }
  .mkdf-blog-list-holder.mkdf-boxes.mkdf-four-columns > ul > li,
  .mkdf-blog-list-holder.mkdf-boxes.mkdf-three-columns > ul > li,
  .mkdf-blog-list-holder.mkdf-boxes.mkdf-two-columns > ul > li {
    width: 100% !important;
  }
  .mkdf-blog-list-holder.mkdf-image-in-box .mkdf-blog-list-item-inner {
    display: block;
  }
  .mkdf-blog-list-holder.mkdf-image-in-box .mkdf-item-text-holder {
    display: block;
    padding: 20px 0;
  }
  .mkdf-blog-list-holder.mkdf-image-in-box .mkdf-item-image {
    display: block;
    width: auto;
  }
}

/* ==========================================================================
# Image Gallery - begin
========================================================================== */
/* Image Gallery Grid - begin
========================================================================== */
@media only screen and (max-width: 480px) {
  .mkdf-image-gallery .mkdf-image-gallery-grid.mkdf-gallery-columns-2 .mkdf-gallery-image {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-image-gallery .mkdf-image-gallery-grid.mkdf-gallery-columns-3 .mkdf-gallery-image {
    width: 50%;
  }
  .mkdf-image-gallery .mkdf-image-gallery-grid.mkdf-gallery-columns-3 .mkdf-gallery-image:nth-child(2n+1) {
    clear: both;
  }
  .mkdf-image-gallery .mkdf-image-gallery-grid.mkdf-gallery-columns-3 .mkdf-gallery-image:nth-child(3n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 480px) {
  .mkdf-image-gallery .mkdf-image-gallery-grid.mkdf-gallery-columns-3 .mkdf-gallery-image {
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-image-gallery .mkdf-image-gallery-grid.mkdf-gallery-columns-4 .mkdf-gallery-image {
    width: 50%;
  }
  .mkdf-image-gallery .mkdf-image-gallery-grid.mkdf-gallery-columns-4 .mkdf-gallery-image:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 480px) {
  .mkdf-image-gallery .mkdf-image-gallery-grid.mkdf-gallery-columns-4 .mkdf-gallery-image {
    width: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  .mkdf-image-gallery .mkdf-image-gallery-grid.mkdf-gallery-columns-5 .mkdf-gallery-image {
    width: 25%;
  }
  .mkdf-image-gallery .mkdf-image-gallery-grid.mkdf-gallery-columns-5 .mkdf-gallery-image:nth-child(4n+1) {
    clear: both;
  }
  .mkdf-image-gallery .mkdf-image-gallery-grid.mkdf-gallery-columns-5 .mkdf-gallery-image:nth-child(5n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-image-gallery .mkdf-image-gallery-grid.mkdf-gallery-columns-5 .mkdf-gallery-image {
    width: 33.33%;
  }
  .mkdf-image-gallery .mkdf-image-gallery-grid.mkdf-gallery-columns-5 .mkdf-gallery-image:nth-child(3n+1) {
    clear: both;
  }
  .mkdf-image-gallery .mkdf-image-gallery-grid.mkdf-gallery-columns-5 .mkdf-gallery-image:nth-child(4n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-image-gallery .mkdf-image-gallery-grid.mkdf-gallery-columns-5 .mkdf-gallery-image {
    width: 50%;
  }
  .mkdf-image-gallery .mkdf-image-gallery-grid.mkdf-gallery-columns-5 .mkdf-gallery-image:nth-child(2n+1) {
    clear: both;
  }
  .mkdf-image-gallery .mkdf-image-gallery-grid.mkdf-gallery-columns-5 .mkdf-gallery-image:nth-child(3n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 480px) {
  .mkdf-image-gallery .mkdf-image-gallery-grid.mkdf-gallery-columns-5 .mkdf-gallery-image {
    width: 100%;
  }
}

/* Image Gallery Grid - end
========================================================================== */
/* Image Masonry Gallery - begin
========================================================================== */
@media only screen and (max-width: 480px) {
  .mkdf-image-gallery-masonry .mkdf-image-masonry-grid-sizer,
  .mkdf-image-gallery-masonry .mkdf-gallery-image.mkdf-size-square,
  .mkdf-image-gallery-masonry .mkdf-gallery-image.mkdf-size-portrait,
  .mkdf-image-gallery-masonry .mkdf-gallery-image.mkdf-size-big-square,
  .mkdf-image-gallery-masonry .mkdf-gallery-image.mkdf-size-landscape {
    width: 100%;
  }
}

/* Image Masonry Gallery - end
========================================================================== */
/* ==========================================================================
# Image Gallery - end
========================================================================== */
@media only screen and (max-width: 1024px) {
  .mkdf-portfolio-list-holder-outer.mkdf-ptf-five-columns article, .mkdf-portfolio-list-holder-outer.mkdf-ptf-six-columns article {
    width: 33.33%;
  }
  .mkdf-portfolio-list-holder-outer.mkdf-ptf-four-columns article {
    width: 50%;
  }
  .mkdf-portfolio-list-holder-outer.mkdf-ptf-pinterest-five-columns article,
  .mkdf-portfolio-list-holder-outer.mkdf-ptf-pinterest-five-columns .mkdf-portfolio-list-masonry-grid-sizer {
    width: 50%;
  }
  .mkdf-portfolio-list-holder-outer.mkdf-ptf-pinterest-four-columns article,
  .mkdf-portfolio-list-holder-outer.mkdf-ptf-pinterest-four-columns .mkdf-portfolio-list-masonry-grid-sizer {
    width: 33.33%;
  }
  .mkdf-portfolio-list-holder-outer.mkdf-ptf-masonry .mkdf-portfolio-list-masonry-grid-sizer,
  .mkdf-portfolio-list-holder-outer.mkdf-ptf-masonry article.mkdf-default-masonry-item,
  .mkdf-portfolio-list-holder-outer.mkdf-ptf-masonry article.mkdf-large-height-masonry-item {
    width: 50%;
  }
  .mkdf-portfolio-list-holder-outer.mkdf-ptf-masonry .mkdf-large-width-masonry-item,
  .mkdf-portfolio-list-holder-outer.mkdf-ptf-masonry .mkdf-large-width-height-masonry-item {
    width: 100%;
  }
  .mkdf-ptf-standard.mkdf-portfolio-list-holder-outer.mkdf-ptf-five-columns .mkdf-portfolio-gap,
  .mkdf-ptf-standard.mkdf-portfolio-list-holder-outer.mkdf-ptf-five-columns .mix, .mkdf-ptf-standard.mkdf-portfolio-list-holder-outer.mkdf-ptf-six-columns .mkdf-portfolio-gap,
  .mkdf-ptf-standard.mkdf-portfolio-list-holder-outer.mkdf-ptf-six-columns .mix,
  .mkdf-ptf-gallery.mkdf-ptf-with-space.mkdf-portfolio-list-holder-outer.mkdf-ptf-five-columns .mkdf-portfolio-gap,
  .mkdf-ptf-gallery.mkdf-ptf-with-space.mkdf-portfolio-list-holder-outer.mkdf-ptf-five-columns .mix,
  .mkdf-ptf-gallery.mkdf-ptf-with-space.mkdf-portfolio-list-holder-outer.mkdf-ptf-six-columns .mkdf-portfolio-gap,
  .mkdf-ptf-gallery.mkdf-ptf-with-space.mkdf-portfolio-list-holder-outer.mkdf-ptf-six-columns .mix {
    width: 33.33%;
  }
  .mkdf-ptf-standard.mkdf-portfolio-list-holder-outer.mkdf-ptf-four-columns .mkdf-portfolio-gap,
  .mkdf-ptf-standard.mkdf-portfolio-list-holder-outer.mkdf-ptf-four-columns .mix,
  .mkdf-ptf-gallery.mkdf-ptf-with-space.mkdf-portfolio-list-holder-outer.mkdf-ptf-four-columns .mkdf-portfolio-gap,
  .mkdf-ptf-gallery.mkdf-ptf-with-space.mkdf-portfolio-list-holder-outer.mkdf-ptf-four-columns .mix {
    width: 50%;
  }
  .big-masonry .mkdf-single-masonry-grid-sizer,
  .big-masonry .mkdf-default-masonry-item,
  .big-masonry .mkdf-large-height-masonry-item {
    width: 33.33%;
  }
  .big-masonry .mkdf-large-width-height-masonry-item,
  .big-masonry .mkdf-large-width-masonry-item {
    width: 66.66%;
  }
  .mkdf-portfolio-single-holder:not(.big-images):not(.big-masonry):not(.big-slider) .mkdf-portfolio-info-holder {
    margin-bottom: 60px;
  }
  .mkdf-portfolio-single-holder .mkdf-portfolio-info-item:not(.mkdf-content-item) .mkdf-portfolio-info-item-title {
    width: 35%;
  }
  .mkdf-portfolio-single-holder .mkdf-portfolio-info-item:not(.mkdf-content-item) p {
    width: 65%;
  }
  .mkdf-portfolio-single-holder .mkdf-portfolio-social .mkdf-social-share-holder .mkdf-social-share-title {
    width: 35%;
  }
  .wide-slider .mkdf-two-columns-75-25 .mkdf-column1,
  .big-images .mkdf-two-columns-75-25 .mkdf-column1,
  .big-masonry .mkdf-two-columns-75-25 .mkdf-column1,
  .big-slider .mkdf-two-columns-75-25 .mkdf-column1 {
    width: 68%;
  }
  .wide-slider .mkdf-two-columns-75-25 .mkdf-column2,
  .big-images .mkdf-two-columns-75-25 .mkdf-column2,
  .big-masonry .mkdf-two-columns-75-25 .mkdf-column2,
  .big-slider .mkdf-two-columns-75-25 .mkdf-column2 {
    width: 32%;
  }
  .small-images .mkdf-two-columns-25-75 .mkdf-column1,
  .small-images .mkdf-two-columns-25-75 .mkdf-column2,
  .small-images .mkdf-two-columns-75-25 .mkdf-column1,
  .small-images .mkdf-two-columns-75-25 .mkdf-column2,
  .small-slider .mkdf-two-columns-25-75 .mkdf-column1,
  .small-slider .mkdf-two-columns-25-75 .mkdf-column2,
  .small-slider .mkdf-two-columns-75-25 .mkdf-column1,
  .small-slider .mkdf-two-columns-75-25 .mkdf-column2,
  .wide-images .mkdf-two-columns-25-75 .mkdf-column1,
  .wide-images .mkdf-two-columns-25-75 .mkdf-column2,
  .wide-images .mkdf-two-columns-75-25 .mkdf-column1,
  .wide-images .mkdf-two-columns-75-25 .mkdf-column2,
  .small-masonry .mkdf-two-columns-25-75 .mkdf-column1,
  .small-masonry .mkdf-two-columns-25-75 .mkdf-column2,
  .small-masonry .mkdf-two-columns-75-25 .mkdf-column1,
  .small-masonry .mkdf-two-columns-75-25 .mkdf-column2,
  .gallery .mkdf-two-columns-25-75 .mkdf-column1,
  .gallery .mkdf-two-columns-25-75 .mkdf-column2,
  .gallery .mkdf-two-columns-75-25 .mkdf-column1,
  .gallery .mkdf-two-columns-75-25 .mkdf-column2 {
    width: 100%;
  }
  .small-images .mkdf-two-columns-25-75 .mkdf-column1 .mkdf-column-inner,
  .small-images .mkdf-two-columns-25-75 .mkdf-column2 .mkdf-column-inner,
  .small-images .mkdf-two-columns-75-25 .mkdf-column1 .mkdf-column-inner,
  .small-images .mkdf-two-columns-75-25 .mkdf-column2 .mkdf-column-inner,
  .small-slider .mkdf-two-columns-25-75 .mkdf-column1 .mkdf-column-inner,
  .small-slider .mkdf-two-columns-25-75 .mkdf-column2 .mkdf-column-inner,
  .small-slider .mkdf-two-columns-75-25 .mkdf-column1 .mkdf-column-inner,
  .small-slider .mkdf-two-columns-75-25 .mkdf-column2 .mkdf-column-inner,
  .wide-images .mkdf-two-columns-25-75 .mkdf-column1 .mkdf-column-inner,
  .wide-images .mkdf-two-columns-25-75 .mkdf-column2 .mkdf-column-inner,
  .wide-images .mkdf-two-columns-75-25 .mkdf-column1 .mkdf-column-inner,
  .wide-images .mkdf-two-columns-75-25 .mkdf-column2 .mkdf-column-inner,
  .small-masonry .mkdf-two-columns-25-75 .mkdf-column1 .mkdf-column-inner,
  .small-masonry .mkdf-two-columns-25-75 .mkdf-column2 .mkdf-column-inner,
  .small-masonry .mkdf-two-columns-75-25 .mkdf-column1 .mkdf-column-inner,
  .small-masonry .mkdf-two-columns-75-25 .mkdf-column2 .mkdf-column-inner,
  .gallery .mkdf-two-columns-25-75 .mkdf-column1 .mkdf-column-inner,
  .gallery .mkdf-two-columns-25-75 .mkdf-column2 .mkdf-column-inner,
  .gallery .mkdf-two-columns-75-25 .mkdf-column1 .mkdf-column-inner,
  .gallery .mkdf-two-columns-75-25 .mkdf-column2 .mkdf-column-inner {
    padding: 0;
  }
  .small-images .mkdf-two-columns-75-25 .mkdf-column2,
  .small-slider .mkdf-two-columns-75-25 .mkdf-column2,
  .wide-images .mkdf-two-columns-75-25 .mkdf-column2,
  .small-masonry .mkdf-two-columns-75-25 .mkdf-column2 {
    margin-top: 50px;
  }
  .gallery .mkdf-two-columns-75-25 .mkdf-column1 .mkdf-portfolio-gallery {
    margin-bottom: 45px;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-portfolio-list-holder-outer.mkdf-ptf-three-columns article, .mkdf-portfolio-list-holder-outer.mkdf-ptf-four-columns article, .mkdf-portfolio-list-holder-outer.mkdf-ptf-five-columns article, .mkdf-portfolio-list-holder-outer.mkdf-ptf-six-columns article {
    width: 50%;
  }
  .mkdf-ptf-standard.mkdf-portfolio-list-holder-outer.mkdf-ptf-four-columns .mkdf-portfolio-gap,
  .mkdf-ptf-standard.mkdf-portfolio-list-holder-outer.mkdf-ptf-four-columns .mix, .mkdf-ptf-standard.mkdf-portfolio-list-holder-outer.mkdf-ptf-five-columns .mkdf-portfolio-gap,
  .mkdf-ptf-standard.mkdf-portfolio-list-holder-outer.mkdf-ptf-five-columns .mix, .mkdf-ptf-standard.mkdf-portfolio-list-holder-outer.mkdf-ptf-six-columns .mkdf-portfolio-gap,
  .mkdf-ptf-standard.mkdf-portfolio-list-holder-outer.mkdf-ptf-six-columns .mix, .mkdf-ptf-standard.mkdf-portfolio-list-holder-outer.mkdf-ptf-three-columns .mkdf-portfolio-gap,
  .mkdf-ptf-standard.mkdf-portfolio-list-holder-outer.mkdf-ptf-three-columns .mix,
  .mkdf-ptf-gallery.mkdf-ptf-with-space.mkdf-portfolio-list-holder-outer.mkdf-ptf-four-columns .mkdf-portfolio-gap,
  .mkdf-ptf-gallery.mkdf-ptf-with-space.mkdf-portfolio-list-holder-outer.mkdf-ptf-four-columns .mix,
  .mkdf-ptf-gallery.mkdf-ptf-with-space.mkdf-portfolio-list-holder-outer.mkdf-ptf-five-columns .mkdf-portfolio-gap,
  .mkdf-ptf-gallery.mkdf-ptf-with-space.mkdf-portfolio-list-holder-outer.mkdf-ptf-five-columns .mix,
  .mkdf-ptf-gallery.mkdf-ptf-with-space.mkdf-portfolio-list-holder-outer.mkdf-ptf-six-columns .mkdf-portfolio-gap,
  .mkdf-ptf-gallery.mkdf-ptf-with-space.mkdf-portfolio-list-holder-outer.mkdf-ptf-six-columns .mix,
  .mkdf-ptf-gallery.mkdf-ptf-with-space.mkdf-portfolio-list-holder-outer.mkdf-ptf-three-columns .mkdf-portfolio-gap,
  .mkdf-ptf-gallery.mkdf-ptf-with-space.mkdf-portfolio-list-holder-outer.mkdf-ptf-three-columns .mix {
    width: 50%;
  }
  .mkdf-portfolio-single-holder .mkdf-portfolio-info-item:not(.mkdf-content-item) .mkdf-portfolio-info-item-title {
    width: 30%;
  }
  .mkdf-portfolio-single-holder .mkdf-portfolio-info-item:not(.mkdf-content-item) p {
    width: 70%;
  }
  .mkdf-portfolio-single-holder .mkdf-portfolio-social .mkdf-social-share-holder .mkdf-social-share-title {
    width: 30%;
  }
  .wide-slider .mkdf-two-columns-75-25 .mkdf-column1,
  .wide-slider .mkdf-two-columns-75-25 .mkdf-column2,
  .big-images .mkdf-two-columns-75-25 .mkdf-column1,
  .big-images .mkdf-two-columns-75-25 .mkdf-column2,
  .big-masonry .mkdf-two-columns-75-25 .mkdf-column1,
  .big-masonry .mkdf-two-columns-75-25 .mkdf-column2,
  .big-slider .mkdf-two-columns-75-25 .mkdf-column1,
  .big-slider .mkdf-two-columns-75-25 .mkdf-column2 {
    width: 100%;
  }
  .split-screen .mkdf-column:first-child .mkdf-column-inner {
    padding: 0;
    margin-bottom: 50px;
  }
  .split-screen .mkdf-column:last-child .mkdf-column-inner {
    padding: 0;
  }
  .split-screen .mkdf-portfolio-info-holder {
    max-width: 100%;
    width: 90%;
    padding: 0 20px;
  }
  .big-masonry .mkdf-single-masonry-grid-sizer,
  .big-masonry .mkdf-default-masonry-item,
  .big-masonry .mkdf-large-height-masonry-item {
    width: 50%;
  }
  .big-masonry .mkdf-large-width-height-masonry-item,
  .big-masonry .mkdf-large-width-masonry-item {
    width: 100%;
  }
  .big-masonry .mkdf-big-masonry-holder {
    margin-top: 50px;
  }
  .mkdf-portfolio-filter-holder .mkdf-portfolio-filter-holder-inner ul li span {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 600px) {
  .mkdf-portfolio-list-holder-outer article:not(.slick-slide),
  .mkdf-single-masonry-grid-sizer,
  .mkdf-portfolio-list-holder-outer .mkdf-portfolio-list-masonry-grid-sizer {
    width: 100% !important;
  }
  .small-masonry .mkdf-portfolio-media {
    margin: 0;
  }
  .mkdf-portfolio-single-media:not(.slick-slide) {
    padding: 0 !important;
    width: 100% !important;
  }
  .mkdf-portfolio-single-media:not(.slick-slide):not(:last-child) {
    margin-bottom: 10px;
  }
  .split-screen.mkdf-portfolio-single-holder .mkdf-portfolio-single-media:not(.slick-slide):not(:last-child) {
    margin-bottom: 0px;
  }
  .mkdf-portfolio-filter-holder {
    margin-bottom: 20px;
  }
  .mkdf-portfolio-filter-holder .mkdf-portfolio-filter-holder-inner ul li {
    float: none;
    text-align: left;
    display: inline-block;
  }
  .mkdf-portfolio-filter-holder .mkdf-portfolio-filter-holder-inner ul li span {
    padding-left: 0;
    padding-right: 15px;
  }
  .mkdf-portfolio-filter-holder .mkdf-portfolio-filter-holder-inner ul li:last-child span {
    padding: 0;
  }
  .mkdf-portfolio-single-holder.full-screen-slider .mkdf-portfolio-slider-content {
    width: 100%;
  }
  .wide-images .mkdf-ptf-holder-wide {
    padding: 0 20px;
  }
  .wide-images.mkdf-portfolio-single-holder .mkdf-portfolio-related-holder .slick-slider {
    width: 100%;
    left: 0;
  }
  .wide-slider.mkdf-portfolio-single-holder .mkdf-portfolio-related-holder .slick-slider {
    width: 100%;
    left: 0;
  }
}

@media only screen and (max-width: 480px) {
  .mkdf-portfolio-filter-holder .mkdf-portfolio-filter-holder-inner ul li span {
    padding-right: 12px;
  }
  .mkdf-portfolio-filter-holder .mkdf-portfolio-filter-holder-inner ul li:last-child span {
    padding: 0;
  }
  .split-screen .mkdf-portfolio-info-holder {
    width: 100%;
  }
}

@media only screen and (max-width: 320px) {
  .mkdf-portfolio-single-holder.full-screen-slider .mkdf-portfolio-slider-content {
    padding: 30px 20px 30px 20px;
  }
  .mkdf-portfolio-single-holder.full-screen-slider .mkdf-portfolio-slider-content .mkdf-portfolio-title {
    font-size: 37px;
    padding-right: 35px;
  }
  .mkdf-portfolio-single-holder.full-screen-slider .mkdf-portfolio-slider-content .mkdf-control {
    top: 6px;
  }
  .big-masonry .mkdf-portfolio-media {
    margin: 0;
  }
}

@media only screen and (min-width: 1000px) {
  .mkdf-slider-thumbs .carousel-control.left:hover .mkdf-thumb-holder {
    left: 0;
  }
  .carousel:not(.in_progress).mkdf-slider-thumbs .carousel-control.left:hover .mkdf-prev-nav {
    left: -200px;
  }
  .mkdf-slider-thumbs .carousel-control.right:hover .mkdf-thumb-holder {
    right: 0;
  }
  .carousel:not(.in_progress).mkdf-slider-thumbs .carousel-control.right:hover .mkdf-next-nav {
    right: -200px;
  }
}

@media only screen and (max-width: 1200px) {
  .carousel .carousel-indicators.thumbnails {
    bottom: 40px;
  }
  .carousel .carousel-indicators.thumbnails li {
    width: 120px !important;
    height: 75px !important;
  }
}

@media only screen and (max-width: 1024px) {
  .carousel-inner {
    position: relative;
  }
  .carousel-inner > .item,
  .mkdf-slider .carousel-control,
  .mkdf-slider-elements-container {
    padding-top: 0px !important;
  }
  .carousel-inner .item.mkdf-animate-image.zoom_center .mkdf-image,
  .carousel-inner .item.mkdf-animate-image.zoom_top_left .mkdf-image,
  .carousel-inner .item.mkdf-animate-image.zoom_top_right .mkdf-image,
  .carousel-inner .item.mkdf-animate-image.zoom_bottom_left .mkdf-image,
  .carousel-inner .item.mkdf-animate-image.zoom_bottom_right .mkdf-image {
    transform: none !important;
    -webkit-transform: none !important;
  }
  .carousel .carousel-indicators.thumbnails {
    bottom: 40px;
  }
  .carousel .carousel-indicators.thumbnails li {
    width: 100px !important;
    height: 63px !important;
  }
}

@media only screen and (max-width: 768px) {
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    font-size: 30px;
  }
  .carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 30px;
  }
  .carousel .carousel-indicators.thumbnails li {
    display: inline-block;
    width: 6px !important;
    height: 6px !important;
    /* must not be overwritten by options*/
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    margin: 0px 3px;
  }
  .carousel .carousel-indicators.dark.thumbnails li {
    border: 2px solid rgba(0, 0, 0, 0.4);
  }
  .carousel .carousel-indicators.thumbnails .active {
    background-color: #fff;
    border-color: #fff;
    margin: 0px 3px;
  }
  .carousel .carousel-indicators.dark.thumbnails .active {
    background-color: #000;
    border-color: #000;
  }
  .carousel .carousel-indicators.thumbnails li .thumb-frame,
  .carousel .carousel-indicators.thumbnails li img {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .carousel-control {
    display: none;
  }
}

@media only screen and (max-width: 1280px) {
  .mkdf-process-holder .mkdf-process-item-holder .mkdf-pi-number-holder:after {
    border-width: 8px;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 1024px) {
  .mkdf-process-holder.mkdf-process-holder-items-five .mkdf-process-item-holder .mkdf-pi-holder-inner {
    padding: 0 25px;
  }
  .mkdf-process-holder.mkdf-process-holder-items-five .mkdf-process-item-holder .mkdf-pi-number-holder .mkdf-pi-arrow {
    right: -37px;
    font-size: 25px;
  }
  .mkdf-process-holder.mkdf-process-holder-items-five .mkdf-process-item-holder .mkdf-pi-number-holder:after {
    border-width: 8px;
  }
  .mkdf-process-holder.mkdf-process-holder-items-five .mkdf-process-inner {
    margin: 0 -25px;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-process-holder .mkdf-process-item-holder,
  .mkdf-process-holder.mkdf-process-holder-items-five .mkdf-process-item-holder {
    width: 33.33%;
    margin-bottom: 40px;
  }
  .mkdf-process-holder .mkdf-process-item-holder .mkdf-pi-arrow,
  .mkdf-process-holder.mkdf-process-holder-items-five .mkdf-process-item-holder .mkdf-pi-arrow {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-process-holder .mkdf-process-item-holder,
  .mkdf-process-holder.mkdf-process-holder-items-three .mkdf-process-item-holder,
  .mkdf-process-holder.mkdf-process-holder-items-five .mkdf-process-item-holder {
    width: 50%;
  }
  .mkdf-process-holder .mkdf-process-item-holder .mkdf-pi-arrow,
  .mkdf-process-holder.mkdf-process-holder-items-three .mkdf-process-item-holder .mkdf-pi-arrow,
  .mkdf-process-holder.mkdf-process-holder-items-five .mkdf-process-item-holder .mkdf-pi-arrow {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .mkdf-process-holder .mkdf-process-item-holder,
  .mkdf-process-holder.mkdf-process-holder-items-three .mkdf-process-item-holder,
  .mkdf-process-holder.mkdf-process-holder-items-five .mkdf-process-item-holder {
    width: 100%;
  }
  .mkdf-process-holder .mkdf-process-item-holder .mkdf-pi-holder-inner {
    padding: 0 50px;
  }
}

/* ==========================================================================
   Start of Vertical Split Slider Responsive
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  .mkdf-vertical-split-screen-initialized body {
    overflow-y: visible !important;
    height: auto !important;
  }
  .mkdf-vertical-split-slider,
  #multiscroll-nav {
    display: none;
  }
  .mkdf-vertical-split-slider-responsive {
    display: block;
  }
  .mkdf-vss-ms-section {
    background-position: center center;
  }
}

/* ==========================================================================
   End of Vertical Split Slider Responsive
   ========================================================================== */
@media only screen and (max-width: 1400px) {
  .mkdf-section-title {
    font-size: 50px;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-section-title {
    font-size: 45px;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-section-title {
    font-size: 40px;
  }
}

@media only screen and (max-width: 600px) {
  .mkdf-section-title {
    font-size: 30px;
  }
}

/* ==========================================================================
   #Twitter feed
   ========================================================================== */
@media only screen and (max-width: 768px) {
  .mkdf-twitter-feed.mkdf-twt-col3 li, .mkdf-twitter-feed.mkdf-twt-col4 li {
    width: 100%;
  }
  .mkdf-twitter-feed.mkdf-twt-col3 li:not(:last-child), .mkdf-twitter-feed.mkdf-twt-col4 li:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 1280px) {
  .mkdf-section-holder .mkdf-sh-title-area .mkdf-sh-title-area-inner {
    width: 75%;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-section-holder .mkdf-sh-title-area {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    padding: 15% 0;
  }
  .mkdf-section-holder .mkdf-sh-content-area {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
  }
}

@media only screen and (max-width: 600px) {
  .mkdf-section-holder.mkdf-sh-items-four .mkdf-section-item {
    float: none;
    width: 100%;
    border-bottom: 1px solid #cdcdcd;
  }
  .mkdf-section-holder.mkdf-sh-items-four .mkdf-section-item:last-child {
    border-bottom: none;
  }
  .mkdf-section-holder.mkdf-sh-items-four .mkdf-sh-content-area:before, .mkdf-section-holder.mkdf-sh-items-four .mkdf-sh-content-area:after {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-image-with-text span.mkdf-iwt-title {
    font-size: 90px;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-image-with-text span.mkdf-iwt-title {
    font-size: 70px;
  }
}

@media only screen and (max-width: 600px) {
  .mkdf-image-with-text span.mkdf-iwt-title {
    font-size: 45px;
  }
}

@media only screen and (max-width: 480px) {
  .mkdf-image-with-text span.mkdf-iwt-title {
    font-size: 33px;
  }
}

@media only screen and (max-width: 1200px) {
  .mkdf-interactive-items-holder.mkdf-ii-five-columns .mkdf-int-item {
    width: 25%;
  }
  .mkdf-interactive-items-holder.mkdf-ii-five-columns .mkdf-int-item:nth-child(5n+1) {
    clear: none;
  }
  .mkdf-interactive-items-holder.mkdf-ii-five-columns .mkdf-int-item:nth-child(4n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-interactive-items-holder.mkdf-ii-five-columns .mkdf-int-item, .mkdf-interactive-items-holder.mkdf-ii-four-columns .mkdf-int-item {
    width: 33.33%;
  }
  .mkdf-interactive-items-holder.mkdf-ii-five-columns .mkdf-int-item:nth-child(4n+1), .mkdf-interactive-items-holder.mkdf-ii-five-columns .mkdf-int-item:nth-child(5n+1), .mkdf-interactive-items-holder.mkdf-ii-four-columns .mkdf-int-item:nth-child(4n+1), .mkdf-interactive-items-holder.mkdf-ii-four-columns .mkdf-int-item:nth-child(5n+1) {
    clear: none;
  }
  .mkdf-interactive-items-holder.mkdf-ii-five-columns .mkdf-int-item:nth-child(3n+1), .mkdf-interactive-items-holder.mkdf-ii-four-columns .mkdf-int-item:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-interactive-items-holder.mkdf-ii-five-columns .mkdf-int-item, .mkdf-interactive-items-holder.mkdf-ii-four-columns .mkdf-int-item, .mkdf-interactive-items-holder.mkdf-ii-three-columns .mkdf-int-item {
    width: 50%;
  }
  .mkdf-interactive-items-holder.mkdf-ii-five-columns .mkdf-int-item:nth-child(3n+1), .mkdf-interactive-items-holder.mkdf-ii-five-columns .mkdf-int-item:nth-child(4n+1), .mkdf-interactive-items-holder.mkdf-ii-five-columns .mkdf-int-item:nth-child(5n+1), .mkdf-interactive-items-holder.mkdf-ii-four-columns .mkdf-int-item:nth-child(3n+1), .mkdf-interactive-items-holder.mkdf-ii-four-columns .mkdf-int-item:nth-child(4n+1), .mkdf-interactive-items-holder.mkdf-ii-four-columns .mkdf-int-item:nth-child(5n+1), .mkdf-interactive-items-holder.mkdf-ii-three-columns .mkdf-int-item:nth-child(3n+1), .mkdf-interactive-items-holder.mkdf-ii-three-columns .mkdf-int-item:nth-child(4n+1), .mkdf-interactive-items-holder.mkdf-ii-three-columns .mkdf-int-item:nth-child(5n+1) {
    clear: none;
  }
  .mkdf-interactive-items-holder.mkdf-ii-five-columns .mkdf-int-item:nth-child(2n+1), .mkdf-interactive-items-holder.mkdf-ii-four-columns .mkdf-int-item:nth-child(2n+1), .mkdf-interactive-items-holder.mkdf-ii-three-columns .mkdf-int-item:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 480px) {
  .mkdf-interactive-items-holder {
    margin: 0;
  }
  .mkdf-interactive-items-holder.mkdf-ii-five-columns .mkdf-int-item, .mkdf-interactive-items-holder.mkdf-ii-four-columns .mkdf-int-item, .mkdf-interactive-items-holder.mkdf-ii-three-columns .mkdf-int-item {
    width: 100%;
  }
}

/* ==========================================================================
# Clients responsive style - begin
========================================================================== */
@media only screen and (max-width: 600px) {
  .mkdf-clients.mkdf-clients-two-columns .mkdf-client-holder, .mkdf-clients.mkdf-clients-three-columns .mkdf-client-holder, .mkdf-clients.mkdf-clients-four-columns .mkdf-client-holder, .mkdf-clients.mkdf-clients-five-columns .mkdf-client-holder, .mkdf-clients.mkdf-clients-six-columns .mkdf-client-holder {
    width: 100%;
    margin-bottom: 20px;
  }
}

/* ==========================================================================
# Clients responsive style - end
========================================================================== */
@media only screen and (max-width: 600px) {
  .mkdf-carousel-holder .mkdf-carousel-item-holder {
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .mkdf-testimonials.mkdf-testimonials-type-standard .mkdf-testimonial-text {
    padding: 0 6%;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-testimonials.mkdf-testimonials-type-cortex .mkdf-testimonial-content-inner {
    margin-left: 10%;
    margin-right: 10%;
  }
  .mkdf-testimonials.mkdf-testimonials-type-cortex .mkdf-testimonial-text {
    font-size: 42px;
  }
  .mkdf-testimonials.mkdf-testimonials-type-cortex .mkdf-slick-prev {
    left: 0px;
  }
  .mkdf-testimonials.mkdf-testimonials-type-cortex .mkdf-slick-next {
    right: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .mkdf-testimonials.mkdf-testimonials-type-cortex .mkdf-testimonial-text {
    font-size: 36px;
    letter-spacing: 0;
  }
  .mkdf-testimonials.mkdf-testimonials-type-cortex .mkdf-slick-prev {
    left: -29px;
  }
  .mkdf-testimonials.mkdf-testimonials-type-cortex .mkdf-slick-next {
    right: -29px;
  }
  .mkdf-testimonials.mkdf-testimonials-type-cortex .mkdf-testimonial-author {
    font-size: 15px;
  }
}

@media only screen and (max-width: 480px) {
  .mkdf-testimonials.mkdf-testimonials-type-cortex .mkdf-testimonial-text {
    font-size: 28px;
  }
  .mkdf-testimonials.mkdf-testimonials-type-cortex .mkdf-slick-prev {
    left: 0px;
  }
  .mkdf-testimonials.mkdf-testimonials-type-cortex .mkdf-slick-next {
    right: 0px;
  }
  .mkdf-testimonials.mkdf-testimonials-type-cortex .mkdf-slick-prev,
  .mkdf-testimonials.mkdf-testimonials-type-cortex .mkdf-slick-next {
    font-size: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .mkdf-text-slider .mkdf-slick-numbers li {
    font-size: 15px;
  }
}

/* ==========================================================================
# Parallax Call To Action responsive style - begin
========================================================================== */
@media only screen and (max-width: 1024px) {
  .mkdf-parallax-call-to-action {
    margin: 0 5%;
  }
  .mkdf-parallax-call-to-action .mkdf-pcta-images-holder {
    width: 35%;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-parallax-call-to-action .mkdf-pcta-title-holder {
    max-width: 100%;
  }
  .mkdf-parallax-call-to-action .mkdf-pcta-separator {
    height: 30px;
  }
  .mkdf-parallax-call-to-action .mkdf-pcta-images-holder {
    width: 25%;
  }
}

/* ==========================================================================
# Parallax Call To Action responsive style - end
========================================================================== */
@media only screen and (max-width: 1024px) {
  .mkdf-instagram-feed.mkdf-col-9 li {
    width: 33.33%;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-instagram-feed.mkdf-col-4 li {
    width: 50%;
  }
  .mkdf-instagram-feed.mkdf-col-6 li {
    width: 33.33%;
  }
  .mkdf-sidebar .mkdf-instagram-feed {
    max-width: 75%;
  }
}

@media only screen and (max-width: 480px) {
  .mkdf-instagram-feed.mkdf-col-4 li,
  .mkdf-instagram-feed.mkdf-col-3 li,
  .mkdf-instagram-feed.mkdf-col-6 li,
  .mkdf-instagram-feed.mkdf-col-9 li {
    width: 100%;
  }
  .mkdf-sidebar .mkdf-instagram-feed.mkdf-col-4 li,
  .mkdf-sidebar .mkdf-instagram-feed.mkdf-col-3 li,
  .mkdf-sidebar .mkdf-instagram-feed.mkdf-col-6 li,
  .mkdf-sidebar .mkdf-instagram-feed.mkdf-col-9 li {
    width: 50%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .mkdf-sidebar .widget.widget_tag_cloud .tagcloud a {
    padding: 0 15px;
  }
}

/*# sourceMappingURL=modules-responsive.css.map */