/* ==========================================================================
   Pretty Photo style start
   ========================================================================== */
body div.pp_default .pp_top,
body div.pp_default .pp_top .pp_middle,
body div.pp_default .pp_top .pp_left,
body div.pp_default .pp_top .pp_right,
body div.pp_default .pp_bottom,
body div.pp_default .pp_bottom .pp_left,
body div.pp_default .pp_bottom .pp_middle,
body div.pp_default .pp_bottom .pp_right {
  background: none;
  display: none;
}

body div.pp_default .pp_content_container .pp_left, body div.pp_default .pp_content_container .pp_right {
  background: none;
  padding: 0px;
}

body div.pp_default .pp_expand {
  display: none !important;
}

body div.pp_default .pp_content {
  background: none;
  margin: 0 auto;
}

body div.pp_default .pp_loaderIcon {
  background-color: #fff;
  border-radius: 20px;
}

div.pp_default .pp_content .ppt {
  color: #f8f8f8;
}

div.pp_default .pp_close {
  width: 30px;
  height: 30px;
  background: url(img/prettyPhoto/sprite.png) 2px 1px no-repeat;
  cursor: pointer;
}

div.pp_default .pp_gallery ul li a {
  background: url(img/prettyPhoto/default_thumb.png) center center #f8f8f8;
  border: 1px solid #aaa;
}

div.pp_default .pp_social {
  margin-top: 7px;
}

div.pp_default .pp_gallery a.pp_arrow_previous, div.pp_default .pp_gallery a.pp_arrow_next {
  position: static;
  left: auto;
}

div.pp_default .pp_nav .pp_play, div.pp_default .pp_nav .pp_pause {
  background: url(img/prettyPhoto/sprite.png) -51px 1px no-repeat;
  height: 30px;
  width: 30px;
}

div.pp_default .pp_nav .pp_pause {
  background-position: -51px -29px;
}

div.pp_default a.pp_arrow_previous, div.pp_default a.pp_arrow_next {
  background: url(img/prettyPhoto/sprite.png) -31px -3px no-repeat;
  height: 20px;
  width: 20px;
  margin: 4px 0 0;
}

div.pp_default a.pp_arrow_next {
  left: 52px;
  background-position: -82px -3px;
}

div.pp_default .pp_content_container .pp_details {
  margin-top: 5px;
}

div.pp_default .pp_nav {
  clear: none;
  height: 30px;
  width: 60px;
  position: relative;
  float: left;
}

div.pp_default .pp_nav .currentTextHolder {
  font-family: inherit;
  color: #999;
  font-size: 13px;
  left: 65px;
  line-height: 25px;
  position: absolute;
  top: 2px;
  margin: 0;
  padding: 0 0 0 10px;
}

div.pp_default .pp_close:hover, div.pp_default .pp_nav .pp_play:hover, div.pp_default .pp_nav .pp_pause:hover, div.pp_default .pp_arrow_next:hover, div.pp_default .pp_arrow_previous:hover {
  opacity: 0.7;
}

div.pp_default .pp_bottom .pp_left {
  background: url(img/prettyPhoto/sprite.png) -78px -127px no-repeat;
}

div.pp_default .pp_bottom .pp_middle {
  background: url(img/prettyPhoto/sprite_x.png) bottom left repeat-x;
}

div.pp_default .pp_bottom .pp_right {
  background: url(img/prettyPhoto/sprite.png) -112px -127px no-repeat;
}

div.pp_default .pp_loaderIcon {
  background: url(img/prettyPhoto/loader.gif) center center no-repeat;
}

div.pp_pic_holder a:focus {
  outline: none;
}

div.pp_overlay {
  background-color: #000;
  display: none;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10000 !important;
}

div.pp_pic_holder {
  display: none;
  position: absolute;
  width: 100px;
  z-index: 10001 !important;
}

.pp_content {
  height: 40px;
  min-width: 40px;
}

* html .pp_content {
  width: 40px;
}

.pp_content_container {
  position: relative;
  text-align: left;
  width: 100%;
}

.pp_content_container .pp_left {
  padding-left: 20px;
}

.pp_content_container .pp_right {
  padding-right: 20px;
}

.pp_content_container .pp_details {
  float: left;
  margin: 10px 0 2px;
}

.pp_social {
  float: left;
  margin: 0;
}

.pp_social .facebook {
  float: left;
  margin-left: 5px;
  width: 55px;
  overflow: hidden;
}

.pp_social .twitter {
  float: left;
}

.pp_nav p {
  float: left;
  white-space: nowrap;
  margin: 2px 4px;
}

.pp_nav .pp_play, .pp_nav .pp_pause {
  float: left;
  margin-right: 4px;
  text-indent: -10000px;
}

a.pp_arrow_previous, a.pp_arrow_next {
  display: block;
  float: left;
  height: 15px;
  margin-top: 3px;
  overflow: hidden;
  text-indent: -10000px;
  width: 14px;
}

.pp_hoverContainer {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2000;
}

.pp_gallery {
  display: none;
  left: 50%;
  margin-top: -50px;
  position: absolute;
  z-index: 10000;
}

.pp_gallery div {
  float: left;
  overflow: hidden;
  position: relative;
}

.pp_gallery ul {
  float: left;
  height: 35px;
  position: relative;
  white-space: nowrap;
  margin: 0 0 0 5px;
  padding: 0;
}

.pp_gallery ul a {
  border: 1px rgba(0, 0, 0, 0.5) solid;
  display: block;
  float: left;
  height: 33px;
  overflow: hidden;
}

.pp_gallery ul a img {
  border: 0;
}

.pp_gallery li {
  display: block;
  float: left;
  margin: 0 5px 0 0;
  padding: 0;
}

.pp_gallery li.default a {
  background: url(../images/prettyPhoto/facebook/default_thumbnail.gif) 0 0 no-repeat;
  display: block;
  height: 33px;
  width: 50px;
}

.pp_gallery .pp_arrow_previous, .pp_gallery .pp_arrow_next {
  margin-top: 7px !important;
}

a.pp_close {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  line-height: 22px;
  text-indent: -10000px;
}

.pp_loaderIcon {
  display: block;
  height: 24px;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 24px;
  margin: -12px 0 0 -12px;
}

#pp_full_res {
  line-height: 1 !important;
}

#pp_full_res .pp_inline {
  text-align: left;
}

#pp_full_res .pp_inline p {
  margin: 0 0 15px;
}

div.ppt {
  color: #fff;
  display: none !important;
  font-size: 17px;
  z-index: 9999;
  margin: 0 0 5px 0;
}

div.pp_default .pp_content {
  background-color: #fff;
}

div.pp_default #pp_full_res .pp_inline {
  color: #000;
}

div.pp_default .pp_gallery ul li a:hover, div.pp_default .pp_gallery ul li.selected a, .pp_gallery ul a:hover, .pp_gallery li.selected a {
  border-color: #fff;
}

div.pp_default .pp_details {
  position: relative;
}

.pp_top, .pp_bottom {
  height: 20px;
  position: relative;
}

* html .pp_top, * html .pp_bottom {
  padding: 0 20px;
}

.pp_top .pp_left, .pp_bottom .pp_left {
  height: 20px;
  left: 0;
  position: absolute;
  width: 20px;
}

.pp_top .pp_middle, .pp_bottom .pp_middle {
  height: 20px;
  left: 20px;
  position: absolute;
  right: 20px;
}

* html .pp_top .pp_middle, * html .pp_bottom .pp_middle {
  left: 0;
  position: static;
}

.pp_top .pp_right, .pp_bottom .pp_right {
  height: 20px;
  left: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
}

.pp_fade, .pp_gallery li.default a img {
  display: none;
}

body div.pp_overlay,
body div.pp_default .pp_content_container .pp_details {
  opacity: 0.7 !important;
}

body div.pp_default a.pp_next,
body div.pp_default a.pp_previous {
  position: absolute;
  top: 50%;
  display: block;
  height: 50px;
  width: 50px;
  line-height: 50px;
  margin: -25px 0 0;
  background-image: none !important;
  background-color: rgba(65, 235, 223, 0.5);
  color: #fff;
  font-size: 27px;
  text-align: center;
  text-indent: -9999px !important;
  opacity: 0;
  -webkit-transition: opacity 0.15s ease-out, background-color 0.15s ease-out, border-color 0.15s ease-out;
  -moz-transition: opacity 0.15s ease-out, background-color 0.15s ease-out, border-color 0.15s ease-out;
  -ms-transition: opacity 0.15s ease-out, background-color 0.15s ease-out, border-color 0.15s ease-out;
  -o-transition: opacity 0.15s ease-out, background-color 0.15s ease-out, border-color 0.15s ease-out;
  transition: opacity 0.15s ease-out, background-color 0.15s ease-out, border-color 0.15s ease-out;
  -webkit-transform: translateZ(0px);
  border-radius: 100px;
}

body div.pp_default a.pp_next span,
body div.pp_default a.pp_previous span {
  display: block;
  line-height: inherit;
}

body div.pp_default a.pp_next span:before,
body div.pp_default a.pp_previous span:before {
  position: absolute;
  top: 0;
  display: block;
  text-indent: 0 !important;
  width: 100%;
  text-align: center;
  line-height: inherit;
}

body div.pp_default a.pp_next:after,
body div.pp_default a.pp_previous:after {
  position: absolute;
  top: 0;
  left: 0%;
  display: block;
  color: #fff;
  font-family: 'FontAwesome',serif;
  text-indent: 0 !important;
  width: 100%;
  text-align: center;
}

body div.pp_default a.pp_next {
  right: 10px;
}

body div.pp_default a.pp_previous {
  left: 10px;
}

body div.pp_default a.pp_next:hover,
body div.pp_default a.pp_previous:hover {
  background-color: #41ebdf;
}

body div.pp_default .pp_content:hover a.pp_next,
body div.pp_default .pp_content:hover a.pp_previous {
  opacity: 1;
}

body div.pp_default .pp_description {
  float: left;
  font-size: 14px;
  line-height: 1.571428571428571em;
  font-weight: 400;
  color: #fff;
  margin: 2px 0 0;
}

body div.pp_default .pp_nav .currentTextHolder {
  left: auto;
  position: relative;
  float: left;
  padding: 0 20px;
  font-size: 15px;
  color: #ffffff;
  font-weight: 400;
}

body .pp_gallery {
  display: none !important;
}

body div.pp_default .pp_nav .pp_play,
body div.pp_default .pp_nav .pp_pause {
  display: none;
}

body div.pp_default a.pp_arrow_previous,
body div.pp_default a.pp_arrow_next {
  background: none;
  position: relative;
  left: 0;
  display: none;
}

body div.pp_default a.pp_arrow_previous:after {
  color: #FFFFFF;
  content: "\f104";
  font-family: 'FontAwesome',serif;
  font-size: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  width: 20px;
  text-indent: 0;
  position: absolute;
  top: 0;
  left: 0;
}

body div.pp_default a.pp_arrow_next:after {
  color: #FFFFFF;
  content: "\f105";
  font-family: 'FontAwesome',serif;
  font-size: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  width: 20px;
  text-indent: 0;
  position: absolute;
  top: 0;
  right: 0;
}

body div.pp_default .pp_close {
  background: none;
  opacity: 1 !important;
}

body div.pp_default .pp_close:after {
  color: #FFFFFF;
  content: "\f12a";
  font-family: "Ionicons";
  font-size: 15px;
  height: 15px;
  line-height: 30px;
  text-align: center;
  width: 30px;
  text-indent: 0;
  position: absolute;
  top: 0;
  left: 0;
}

/* ==========================================================================
   Pretty Photo style end
   ========================================================================== */
/* ==========================================================================
   WPML style start
   ========================================================================== */
.widget_icl_lang_sel_widget {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.mkdf-sidebar #lang_sel,
.wpb_widgetised_column #lang_sel, .mkdf-footer-inner #lang_sel,
.mkdf-side-menu #lang_sel, .mkdf-top-bar #lang_sel {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.mkdf-sidebar #lang_sel .lang_sel_sel,
.wpb_widgetised_column #lang_sel .lang_sel_sel, .mkdf-footer-inner #lang_sel .lang_sel_sel,
.mkdf-side-menu #lang_sel .lang_sel_sel, .mkdf-top-bar #lang_sel .lang_sel_sel {
  position: relative;
  display: block;
}

.mkdf-sidebar #lang_sel .lang_sel_sel:after,
.wpb_widgetised_column #lang_sel .lang_sel_sel:after, .mkdf-footer-inner #lang_sel .lang_sel_sel:after,
.mkdf-side-menu #lang_sel .lang_sel_sel:after, .mkdf-top-bar #lang_sel .lang_sel_sel:after {
  content: '\33';
  font-family: 'ElegantIcons';
  position: absolute;
  right: 10px;
  top: 50%;
  display: block;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.mkdf-sidebar #lang_sel ul,
.wpb_widgetised_column #lang_sel ul, .mkdf-footer-inner #lang_sel ul,
.mkdf-side-menu #lang_sel ul, .mkdf-top-bar #lang_sel ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mkdf-sidebar #lang_sel ul li,
.wpb_widgetised_column #lang_sel ul li, .mkdf-footer-inner #lang_sel ul li,
.mkdf-side-menu #lang_sel ul li, .mkdf-top-bar #lang_sel ul li {
  border-bottom: 0;
}

.mkdf-sidebar #lang_sel ul ul,
.wpb_widgetised_column #lang_sel ul ul, .mkdf-footer-inner #lang_sel ul ul,
.mkdf-side-menu #lang_sel ul ul, .mkdf-top-bar #lang_sel ul ul {
  position: absolute;
  top: 100%;
  width: calc(100% + 2px);
  left: -1px;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  border-top: none;
  padding: 10px 18px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: visibility 0s linear 0.25s, opacity 0.25s ease-in-out;
  -moz-transition: visibility 0s linear 0.25s, opacity 0.25s ease-in-out;
  transition: visibility 0s linear 0.25s, opacity 0.25s ease-in-out;
}

.mkdf-sidebar #lang_sel ul ul a,
.wpb_widgetised_column #lang_sel ul ul a, .mkdf-footer-inner #lang_sel ul ul a,
.mkdf-side-menu #lang_sel ul ul a, .mkdf-top-bar #lang_sel ul ul a {
  display: block;
}

.mkdf-sidebar #lang_sel:hover ul ul,
.wpb_widgetised_column #lang_sel:hover ul ul, .mkdf-footer-inner #lang_sel:hover ul ul,
.mkdf-side-menu #lang_sel:hover ul ul, .mkdf-top-bar #lang_sel:hover ul ul {
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
}

.mkdf-sidebar .widget_icl_lang_sel_widget,
.wpb_widgetised_column .widget_icl_lang_sel_widget {
  width: 100%;
}

.mkdf-sidebar .widget_icl_lang_sel_widget img,
.wpb_widgetised_column .widget_icl_lang_sel_widget img {
  display: inline-block !important;
  vertical-align: middle;
}

.mkdf-sidebar #lang_sel,
.wpb_widgetised_column #lang_sel {
  border: 1px solid #bcc0c4;
}

.mkdf-sidebar #lang_sel .lang_sel_sel,
.wpb_widgetised_column #lang_sel .lang_sel_sel {
  padding: 8px 18px;
  font-weight: 500;
}

.mkdf-sidebar #lang_sel ul ul,
.wpb_widgetised_column #lang_sel ul ul {
  background-color: #fff;
  border: 1px solid #bcc0c4;
  border-top: none;
}

.mkdf-sidebar #lang_sel ul ul a,
.wpb_widgetised_column #lang_sel ul ul a {
  font-weight: 500;
}

.mkdf-sidebar #lang_sel ul ul a:hover,
.wpb_widgetised_column #lang_sel ul ul a:hover {
  text-decoration: underline;
}

.mkdf-sidebar #lang_sel ul ul img,
.wpb_widgetised_column #lang_sel ul ul img {
  margin: 0 5px 0 0;
}

.mkdf-sidebar #lang_sel_list ul li,
.wpb_widgetised_column #lang_sel_list ul li {
  padding: 5px 0;
}

.mkdf-sidebar .lang_sel_list_horizontal ul li,
.wpb_widgetised_column .lang_sel_list_horizontal ul li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 15px 5px 0;
}

.mkdf-sidebar .lang_sel_list_horizontal ul li:last-child,
.wpb_widgetised_column .lang_sel_list_horizontal ul li:last-child {
  margin: 0 0 5px;
}

.mkdf-footer-inner .widget_icl_lang_sel_widget,
.mkdf-side-menu .widget_icl_lang_sel_widget {
  width: 100%;
}

.mkdf-footer-inner #lang_sel,
.mkdf-side-menu #lang_sel {
  border: 1px solid #444;
}

.mkdf-footer-inner #lang_sel .lang_sel_sel,
.mkdf-side-menu #lang_sel .lang_sel_sel {
  padding: 7px 25px 7px 15px;
}

.mkdf-footer-inner #lang_sel ul,
.mkdf-side-menu #lang_sel ul {
  background-color: #232323;
}

.mkdf-footer-inner #lang_sel a,
.mkdf-side-menu #lang_sel a {
  color: #8d8d8d;
  margin-bottom: 0;
}

.mkdf-footer-inner #lang_sel a:hover,
.mkdf-side-menu #lang_sel a:hover {
  color: #fff;
}

.mkdf-footer-inner #lang_sel ul ul,
.mkdf-side-menu #lang_sel ul ul {
  border: 1px solid #444;
  border-top: none;
  padding: 10px 15px;
}

.mkdf-footer-inner #lang_sel ul ul img,
.mkdf-side-menu #lang_sel ul ul img {
  margin: 0 5px 0 0;
}

.mkdf-footer-inner #lang_sel_list img,
.mkdf-side-menu #lang_sel_list img {
  margin-right: 5px;
}

.mkdf-footer-inner .lang_sel_list_horizontal ul li,
.mkdf-side-menu .lang_sel_list_horizontal ul li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 15px 5px 0;
}

.mkdf-footer-inner .lang_sel_list_horizontal ul li:last-child,
.mkdf-side-menu .lang_sel_list_horizontal ul li:last-child {
  margin: 0 0 5px;
}

.mkdf-footer-inner .mkdf-footer-bottom-holder #lang_sel_list,
.mkdf-side-menu .mkdf-footer-bottom-holder #lang_sel_list {
  line-height: 1.4em;
}

.mkdf-top-bar .mkdf-position-right-inner .widget_icl_lang_sel_widget {
  margin-left: 20px;
}

.mkdf-top-bar #lang_sel {
  display: inline-block;
  vertical-align: top;
}

.mkdf-top-bar #lang_sel li {
  padding: 0;
}

.mkdf-top-bar #lang_sel li .lang_sel_sel {
  font-size: 12px;
  color: #fff;
  font-weight: 600;
  padding: 0 0 0 5px;
}

.mkdf-top-bar #lang_sel li .lang_sel_sel:after {
  display: none;
}

.mkdf-top-bar #lang_sel li .lang_sel_sel:hover {
  color: #41ebdf;
}

.mkdf-top-bar #lang_sel li .lang_sel_sel img {
  position: relative;
  top: 2px;
}

.mkdf-top-bar #lang_sel ul {
  list-style-type: none;
}

.mkdf-top-bar #lang_sel ul ul {
  width: 45px;
  padding: 5px 0 10px;
  right: -14px;
  left: auto;
  text-align: right;
  line-height: 1.7em;
  background-color: #41294a;
}

.mkdf-top-bar #lang_sel ul ul img {
  position: relative;
  top: 2px;
  margin-right: 5px;
}

.mkdf-top-bar #lang_sel ul ul a {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  display: block;
  padding: 6px 15px 6px;
}

.mkdf-top-bar #lang_sel ul ul a:hover {
  color: #41ebdf;
}

.mkdf-top-bar #lang_sel_list ul {
  list-style-type: none;
}

.mkdf-top-bar #lang_sel_list ul li {
  float: left;
  margin-right: 10px;
}

.mkdf-top-bar #lang_sel_list ul li:last-child {
  margin-right: 0;
}

.mkdf-top-bar #lang_sel_list ul li a {
  color: #ccc;
}

.mkdf-top-bar #lang_sel_list ul li a:hover {
  color: #fff;
}

.mkdf-top-bar #lang_sel_list img {
  margin-right: 5px;
}

.mkdf-main-menu > ul > li.menu-item-language > a {
  padding: 0 30px 0 15px;
}

.mkdf-main-menu > ul > li.menu-item-language > a span {
  position: relative;
  display: block;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.mkdf-main-menu > ul > li.menu-item-language > a span :after {
  content: '\33';
  font-family: 'ElegantIcons';
  position: absolute;
  right: -15px;
  top: 50%;
  display: block;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.mkdf-main-menu > ul > li.menu-item-language > a img {
  display: inline-block !important;
  vertical-align: middle;
  margin: 0 5px 0 0;
}

.mkdf-main-menu .menu-item-language .submenu-languages {
  position: absolute;
  top: 100%;
  width: 200px;
  left: -1px;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  border-top: none;
  padding: 5px 0 10px;
  text-align: left;
  background-color: #232323;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: visibility 0s linear 0.25s, opacity 0.25s ease-in-out;
  -moz-transition: visibility 0s linear 0.25s, opacity 0.25s ease-in-out;
  transition: visibility 0s linear 0.25s, opacity 0.25s ease-in-out;
}

.mkdf-main-menu .menu-item-language .submenu-languages li {
  display: block;
  width: 100%;
  float: none;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.mkdf-main-menu .menu-item-language .submenu-languages a {
  display: block;
  color: #8d8d8d;
  font-size: 13px;
  line-height: 23px;
  font-weight: 500;
  text-transform: inherit;
  padding: 9px 0;
}

.mkdf-main-menu .menu-item-language .submenu-languages a:hover {
  color: #fff;
}

.mkdf-main-menu .menu-item-language .submenu-languages a img {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  top: -1px;
  margin: 0 5px 0 0;
}

.mkdf-main-menu .menu-item-language:hover ul {
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
}

/* ==========================================================================
   WPML style start
   ========================================================================== */
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: inline;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/*# sourceMappingURL=plugins.css.map */