@media only screen and (max-width: 1024px){
	/* generated in /sites/dorset.tech/files/wp-content/themes/dtech/assets/custom-styles/general-custom-styles-responsive.php cortex_mikado_design_responsive_styles function */
.mkdf-section.mkdf-parallax-section-holder,.touch .mkdf-parallax-section-holder.mkdf-parallax-section-holder-touch-disabled { height: auto !important;min-height: 400px;}

/* generated in /sites/dorset.tech/files/wp-content/themes/dtech/framework/modules/header/custom-styles/header.php cortex_mikado_header_top_bar_responsive_styles function */
.mkdf-top-bar { height: 0;display: none;}

}

@media only screen and (min-width: 480px) and (max-width: 768px){
	}

@media only screen and (max-width: 480px){
	}