/* ==========================================================================
# Woocommerce responsive style - begin
========================================================================== */
/* Woocommerce product list - begin
========================================================================== */
@media only screen and (max-width: 480px) {
  .mkdf-woocommerce-page .woocommerce-result-count,
  .mkdf-woocommerce-page .woocommerce-ordering {
    width: 100%;
    margin-bottom: 2%;
  }
}

@media only screen and (max-width: 480px) {
  .mkdf-woocommerce-page .woocommerce-result-count {
    padding-left: 0;
  }
}

@media only screen and (max-width: 480px) {
  .mkdf-woocommerce-page .woocommerce-ordering .orderby {
    display: block;
    float: none;
    margin: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .woocommerce.columns-5 .products .product,
  .woocommerce.columns-5 .mkdf-woocommerce-with-sidebar .products .product,
  .mkdf-woocommerce-page.mkdf-woocommerce-columns-5 .products .product,
  .mkdf-woocommerce-page.mkdf-woocommerce-columns-5 .mkdf-woocommerce-with-sidebar .products .product {
    width: 48%;
    margin-right: 4%;
    margin-bottom: 4%;
  }
  .woocommerce.columns-5 .products .product:nth-child(2n),
  .woocommerce.columns-5 .mkdf-woocommerce-with-sidebar .products .product:nth-child(2n),
  .mkdf-woocommerce-page.mkdf-woocommerce-columns-5 .products .product:nth-child(2n),
  .mkdf-woocommerce-page.mkdf-woocommerce-columns-5 .mkdf-woocommerce-with-sidebar .products .product:nth-child(2n) {
    margin-right: 0;
  }
  .woocommerce.columns-5 .products .product:nth-child(2n+1),
  .woocommerce.columns-5 .mkdf-woocommerce-with-sidebar .products .product:nth-child(2n+1),
  .mkdf-woocommerce-page.mkdf-woocommerce-columns-5 .products .product:nth-child(2n+1),
  .mkdf-woocommerce-page.mkdf-woocommerce-columns-5 .mkdf-woocommerce-with-sidebar .products .product:nth-child(2n+1) {
    clear: both;
    margin-right: 4%;
  }
}

@media only screen and (max-width: 1024px) {
  .woocommerce.columns-5 .products .product:nth-child(3n+1), .woocommerce.columns-5 .products .product:nth-child(5n+1),
  .mkdf-woocommerce-page.mkdf-woocommerce-columns-5 .products .product:nth-child(3n+1),
  .mkdf-woocommerce-page.mkdf-woocommerce-columns-5 .products .product:nth-child(5n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 480px) {
  .woocommerce.columns-5 .products .product,
  .mkdf-woocommerce-page.mkdf-woocommerce-columns-5 .products .product {
    width: 100%;
    margin-right: 0;
    margin-bottom: 6%;
  }
}

@media only screen and (max-width: 1024px) {
  .woocommerce.columns-5 .mkdf-woocommerce-with-sidebar .products .product:nth-child(3n+1), .woocommerce.columns-5 .mkdf-woocommerce-with-sidebar .products .product:nth-child(4n+1),
  .mkdf-woocommerce-page.mkdf-woocommerce-columns-5 .mkdf-woocommerce-with-sidebar .products .product:nth-child(3n+1),
  .mkdf-woocommerce-page.mkdf-woocommerce-columns-5 .mkdf-woocommerce-with-sidebar .products .product:nth-child(4n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 768px) {
  .woocommerce.columns-5 .mkdf-woocommerce-with-sidebar .products .product,
  .mkdf-woocommerce-page.mkdf-woocommerce-columns-5 .mkdf-woocommerce-with-sidebar .products .product {
    width: 100%;
    margin-bottom: 7%;
  }
}

@media only screen and (max-width: 1024px) {
  .woocommerce.columns-4 .products .product,
  .mkdf-woocommerce-page.mkdf-woocommerce-columns-4 .products .product {
    width: 32%;
    margin-right: 2%;
    margin-bottom: 4%;
  }
  .woocommerce.columns-4 .products .product:nth-child(4n),
  .mkdf-woocommerce-page.mkdf-woocommerce-columns-4 .products .product:nth-child(4n) {
    margin-right: 2%;
  }
  .woocommerce.columns-4 .products .product:nth-child(3n),
  .mkdf-woocommerce-page.mkdf-woocommerce-columns-4 .products .product:nth-child(3n) {
    margin-right: 0;
  }
  .woocommerce.columns-4 .products .product:nth-child(3n+1),
  .mkdf-woocommerce-page.mkdf-woocommerce-columns-4 .products .product:nth-child(3n+1) {
    clear: both;
    margin-right: 2%;
  }
  .woocommerce.columns-4 .products .product:nth-child(4n+1),
  .mkdf-woocommerce-page.mkdf-woocommerce-columns-4 .products .product:nth-child(4n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 768px) {
  .woocommerce.columns-4 .products .product,
  .mkdf-woocommerce-page.mkdf-woocommerce-columns-4 .products .product {
    width: 48%;
    margin-right: 4%;
    margin-bottom: 7%;
  }
  .woocommerce.columns-4 .products .product:nth-child(2n),
  .mkdf-woocommerce-page.mkdf-woocommerce-columns-4 .products .product:nth-child(2n) {
    margin-right: 0;
  }
  .woocommerce.columns-4 .products .product:nth-child(2n+1),
  .mkdf-woocommerce-page.mkdf-woocommerce-columns-4 .products .product:nth-child(2n+1) {
    clear: both;
    margin-right: 4%;
  }
  .woocommerce.columns-4 .products .product:nth-child(3n+1), .woocommerce.columns-4 .products .product:nth-child(4n+1),
  .mkdf-woocommerce-page.mkdf-woocommerce-columns-4 .products .product:nth-child(3n+1),
  .mkdf-woocommerce-page.mkdf-woocommerce-columns-4 .products .product:nth-child(4n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 480px) {
  .woocommerce.columns-4 .products .product,
  .mkdf-woocommerce-page.mkdf-woocommerce-columns-4 .products .product {
    width: 100%;
    margin-right: 0;
    margin-bottom: 6%;
  }
}

@media only screen and (max-width: 1024px) {
  .woocommerce.columns-4 .mkdf-woocommerce-with-sidebar .products .product,
  .mkdf-woocommerce-page.mkdf-woocommerce-columns-4 .mkdf-woocommerce-with-sidebar .products .product {
    width: 48%;
    margin-right: 4%;
    margin-bottom: 4%;
  }
  .woocommerce.columns-4 .mkdf-woocommerce-with-sidebar .products .product:nth-child(2n),
  .mkdf-woocommerce-page.mkdf-woocommerce-columns-4 .mkdf-woocommerce-with-sidebar .products .product:nth-child(2n) {
    margin-right: 0;
  }
  .woocommerce.columns-4 .mkdf-woocommerce-with-sidebar .products .product:nth-child(2n+1),
  .mkdf-woocommerce-page.mkdf-woocommerce-columns-4 .mkdf-woocommerce-with-sidebar .products .product:nth-child(2n+1) {
    clear: both;
    margin-right: 4%;
  }
  .woocommerce.columns-4 .mkdf-woocommerce-with-sidebar .products .product:nth-child(3n+1), .woocommerce.columns-4 .mkdf-woocommerce-with-sidebar .products .product:nth-child(4n+1),
  .mkdf-woocommerce-page.mkdf-woocommerce-columns-4 .mkdf-woocommerce-with-sidebar .products .product:nth-child(3n+1),
  .mkdf-woocommerce-page.mkdf-woocommerce-columns-4 .mkdf-woocommerce-with-sidebar .products .product:nth-child(4n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 600px) {
  .woocommerce.columns-4 .mkdf-woocommerce-with-sidebar .products .product,
  .mkdf-woocommerce-page.mkdf-woocommerce-columns-4 .mkdf-woocommerce-with-sidebar .products .product {
    width: 100%;
    margin-bottom: 3%;
  }
}

@media only screen and (max-width: 480px) {
  .woocommerce.columns-4 .mkdf-woocommerce-with-sidebar .products .product,
  .mkdf-woocommerce-page.mkdf-woocommerce-columns-4 .mkdf-woocommerce-with-sidebar .products .product {
    margin-bottom: 6%;
  }
}

@media only screen and (max-width: 768px) {
  .woocommerce.columns-3 .products .product,
  .mkdf-woocommerce-page.mkdf-woocommerce-columns-3 .products .product {
    width: 48%;
    margin-right: 4%;
    margin-bottom: 7%;
  }
  .woocommerce.columns-3 .products .product:nth-child(2n),
  .mkdf-woocommerce-page.mkdf-woocommerce-columns-3 .products .product:nth-child(2n) {
    margin-right: 0;
  }
  .woocommerce.columns-3 .products .product:nth-child(2n+1),
  .mkdf-woocommerce-page.mkdf-woocommerce-columns-3 .products .product:nth-child(2n+1) {
    clear: both;
    margin-right: 4%;
  }
  .woocommerce.columns-3 .products .product:nth-child(3n+1), .woocommerce.columns-3 .products .product:nth-child(4n+1),
  .mkdf-woocommerce-page.mkdf-woocommerce-columns-3 .products .product:nth-child(3n+1),
  .mkdf-woocommerce-page.mkdf-woocommerce-columns-3 .products .product:nth-child(4n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 480px) {
  .woocommerce.columns-3 .products .product,
  .mkdf-woocommerce-page.mkdf-woocommerce-columns-3 .products .product {
    width: 100%;
    margin-right: 0;
    margin-bottom: 6%;
  }
}

@media only screen and (max-width: 768px) {
  .woocommerce.columns-3 .mkdf-woocommerce-with-sidebar .products .product,
  .mkdf-woocommerce-page.mkdf-woocommerce-columns-3 .mkdf-woocommerce-with-sidebar .products .product {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .woocommerce-pagination .page-numbers {
    padding: 6px 8px;
  }
}

.woocommerce-pagination .page-numbers.next,
.woocommerce-pagination .page-numbers.prev {
  padding: 6px;
}

@media only screen and (max-width: 768px) {
  .woocommerce .mkdf-two-columns-75-25 .mkdf-column2,
  .woocommerce .mkdf-two-columns-66-33 .mkdf-column2,
  .mkdf-woocommerce-page .mkdf-two-columns-75-25 .mkdf-column2,
  .mkdf-woocommerce-page .mkdf-two-columns-66-33 .mkdf-column2 {
    margin-top: 55px;
  }
}

/* Woocommerce product list - end
========================================================================== */
/* Woocommerce single product - begin
========================================================================== */
@media only screen and (max-width: 1024px) {
  .mkdf-single-product-images {
    width: 100%;
    margin: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-single-product-summary {
    width: 100%;
    margin: 45px 0 0;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-single-product-summary .product_meta,
  .mkdf-single-product-summary .mkdf-social-share-holder {
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-single-product-wrapper-top .mkdf-tabs.mkdf-horizontal-tab .mkdf-tabs-nav li a {
    padding: 16px 22px;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-single-product-wrapper-top .mkdf-tabs.mkdf-horizontal-tab .mkdf-tabs-nav li {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-woocommerce-page .mkdf-three-columns .mkdf-column {
    width: 33.33%;
  }
}

@media only screen and (max-width: 480px) {
  .mkdf-single-product-images .thumbnails a {
    width: calc(33.33% - 14px);
    margin-top: 21px;
    margin-right: 21px;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 767px) {
  .variations_form .variations td {
    padding: 5px 6px;
  }
}

@media only screen and (max-width: 480px) {
  .variations_form .variations td {
    display: block;
    padding: 7px 0;
  }
}

@media only screen and (max-width: 600px) {
  .woocommerce-Reviews .avatar {
    float: none;
    padding: 0;
    margin-bottom: 20px;
  }
  .woocommerce-Reviews .comment-text {
    padding-left: 0;
    margin-bottom: 0;
  }
}

/* Woocommerce single product - end
========================================================================== */
/* Woocommerce table - begin
========================================================================== */
@media only screen and (max-width: 600px) {
  .mkdf-woocommerce-page table td {
    padding: 5px 5px;
  }
}

@media only screen and (max-width: 480px) {
  .mkdf-woocommerce-page td.product-thumbnail img {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-woocommerce-page td.actions .coupon {
    width: 65%;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-woocommerce-page td.actions .mkdf-cart-proceed-update {
    width: 35%;
  }
}

@media only screen and (max-width: 600px) {
  .mkdf-woocommerce-page td.actions .coupon,
  .mkdf-woocommerce-page td.actions .mkdf-cart-proceed-update {
    width: 100%;
    margin-bottom: 20px;
    text-align: right;
  }
}

@media only screen and (max-width: 600px) {
  .mkdf-woocommerce-page td.actions .mkdf-cart-proceed-update .checkout-button {
    float: left;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-woocommerce-page .coupon input[type="text"] {
    width: 150px;
  }
}

@media only screen and (max-width: 480px) {
  .mkdf-woocommerce-page .coupon input[type="text"] {
    width: 215px;
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .woocommerce-cart .product-thumbnail {
    width: 0;
  }
  .woocommerce-cart .product-thumbnail img {
    visibility: hidden;
  }
  .woocommerce-cart .product-quantity {
    width: 32%;
  }
  .woocommerce-cart .product-price {
    width: 15%;
  }
  .woocommerce-cart .product-remove {
    width: 9%;
  }
  .woocommerce-cart .shop_table .product-name h5 {
    font-size: 15px;
  }
  .woocommerce-cart .shop_table .amount {
    font-size: 13px;
  }
}

@media only screen and (max-width: 480px) {
  .woocommerce-cart .shop_table .mkdf-quantity-buttons .mkdf-quantity-input {
    width: 40px;
    height: 35px;
    line-height: 35px;
  }
  .woocommerce-cart .shop_table .mkdf-quantity-buttons .mkdf-quantity-plus,
  .woocommerce-cart .shop_table .mkdf-quantity-buttons .mkdf-quantity-minus {
    width: 35px;
    height: 18px;
    line-height: 18px;
  }
}

/* Woocommerce table - end
========================================================================== */
/* Woocommerce shipping calculator - begin
========================================================================== */
@media only screen and (max-width: 600px) {
  .mkdf-woocommerce-page .mkdf-shipping-calculator {
    width: 100%;
    margin-bottom: 25px;
  }
}

/* Woocommerce shipping calculator - end
========================================================================== */
/* Woocommerce totals - begin
========================================================================== */
@media only screen and (max-width: 600px) {
  .mkdf-woocommerce-page .mkdf-cart-totals {
    width: 100%;
  }
}

/* Woocommerce totals - end
========================================================================== */
/* Woocommerce checkout - begin
========================================================================== */
@media only screen and (max-width: 768px) {
  .mkdf-woocommerce-page .woocommerce-checkout .col-1,
  .mkdf-woocommerce-page .woocommerce-checkout .col-2 {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-woocommerce-page.woocommerce-checkout .woocommerce-info {
    line-height: 40px;
  }
}

/* Woocommerce checkout - end
========================================================================== */
/* Woocommerce Account - begin
========================================================================== */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .woocommerce-account.woocommerce-downloads .woocommerce-info {
    padding: 8px 35px;
  }
}

@media only screen and (max-width: 768px) {
  .woocommerce-account .woocommerce-MyAccount-navigation {
    width: 30%;
  }
  .woocommerce-account .woocommerce-MyAccount-content {
    width: 65%;
  }
}

@media only screen and (max-width: 600px) {
  .woocommerce-account .woocommerce-MyAccount-content,
  .woocommerce-account .woocommerce-MyAccount-navigation {
    float: none;
    width: 100%;
  }
  .woocommerce-account .woocommerce-MyAccount-content {
    margin-top: 40px;
  }
}

/* Woocommerce Account - end
========================================================================== */
/* Woocommerce dropdown cart - begin
========================================================================== */
@media only screen and (max-width: 1024px) {
  .mkdf-shopping-cart-outer:hover .mkdf-shopping-cart-dropdown {
    display: none;
    visibility: hidden;
  }
  .mkdf-top-bar .mkdf-shopping-cart-outer {
    float: none;
  }
}

@media only screen and (max-width: 320px) {
  .mkdf-shopping-cart-outer {
    display: none;
  }
}

/* Woocommerce dropdown cart - end
========================================================================== */
/* Woocommerce widgets - begin
========================================================================== */
@media only screen and (min-width: 1201px) and (max-width: 1280px) {
  .woocommerce.widget.widget_price_filter button {
    padding: 12px 26px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .woocommerce.widget.widget_price_filter button {
    padding: 12px 15px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .woocommerce.widget.widget_price_filter {
    margin-bottom: 27px;
  }
  .woocommerce.widget.widget_price_filter .price_slider_amount .price_label {
    float: none;
  }
  .woocommerce.widget.widget_product_tag_cloud .tagcloud a {
    padding: 0 15px;
  }
}

/* Woocommerce widgets - end
========================================================================== */
/* ==========================================================================
# Woocommerce responsive style - end
========================================================================== */

/*# sourceMappingURL=woocommerce-responsive.css.map */