/* ==========================================================================
# Woocommerce style - begin
========================================================================== */
@font-face {
  font-family: 'star';
  src: url("../../../../plugins/woocommerce/assets/fonts/star.eot");
  src: url("../../../../plugins/woocommerce/assets/fonts/star.eot?#iefix") format("embedded-opentype"), url("../../../../plugins/woocommerce/assets/fonts/star.woff") format("woff"), url("../../../../plugins/woocommerce/assets/fonts/star.ttf") format("truetype"), url("../../../../plugins/woocommerce/assets/fonts/star.svg#star") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Woocommerce product list - begin
========================================================================== */
.woocommerce .amount,
.mkdf-woocommerce-page .amount {
  font-size: 26px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

.woocommerce ins,
.woocommerce .price > .amount,
.mkdf-woocommerce-page ins,
.mkdf-woocommerce-page .price > .amount {
  text-decoration: none;
}

.woocommerce del,
.mkdf-woocommerce-page del {
  color: #ababab;
}

.woocommerce .woocommerce-result-count,
.woocommerce .woocommerce-ordering,
.mkdf-woocommerce-page .woocommerce-result-count,
.mkdf-woocommerce-page .woocommerce-ordering {
  width: 50%;
  height: 45px;
  margin: 0;
  display: inline;
  float: left;
}

.woocommerce .woocommerce-result-count .select2-container .select2-choice,
.woocommerce .woocommerce-ordering .select2-container .select2-choice,
.mkdf-woocommerce-page .woocommerce-result-count .select2-container .select2-choice,
.mkdf-woocommerce-page .woocommerce-ordering .select2-container .select2-choice {
  margin-bottom: 0;
}

.woocommerce .woocommerce-result-count,
.mkdf-woocommerce-page .woocommerce-result-count {
  line-height: 45px;
  font-size: 12px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.woocommerce .mkdf-product-list-product-title,
.mkdf-woocommerce-page .mkdf-product-list-product-title {
  margin-top: 12px;
}

.woocommerce .full_width .woocommerce-result-count,
.mkdf-woocommerce-page .full_width .woocommerce-result-count {
  position: relative;
  left: 45px;
}

.woocommerce .full_width .woocommerce-ordering,
.mkdf-woocommerce-page .full_width .woocommerce-ordering {
  position: relative;
  right: 45px;
}

.woocommerce .products,
.mkdf-woocommerce-page .products {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.woocommerce .product,
.mkdf-woocommerce-page .product {
  position: relative;
  float: left;
  text-align: left;
  border-style: solid;
  border-color: #e1e2e5;
}

.woocommerce .product img:not(.avatar),
.mkdf-woocommerce-page .product img:not(.avatar) {
  display: block;
  width: 100%;
}

.woocommerce .product .price,
.mkdf-woocommerce-page .product .price {
  display: block;
  width: 100%;
}

.woocommerce .product .mkdf-product-badge,
.mkdf-woocommerce-page .product .mkdf-product-badge {
  position: absolute;
  display: table;
  top: 20px;
  right: 20px;
  height: 80px;
  width: 80px;
  line-height: 80px;
  text-align: center;
  z-index: 100;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #ff2c54;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

.woocommerce .product .mkdf-product-badge-inner,
.mkdf-woocommerce-page .product .mkdf-product-badge-inner {
  display: table-cell;
  vertical-align: middle;
}

.woocommerce .mkdf-product-list-image-wrapper,
.mkdf-woocommerce-page .mkdf-product-list-image-wrapper {
  position: relative;
  overflow: hidden;
}

.woocommerce .mkdf-product-list-title-holder,
.mkdf-woocommerce-page .mkdf-product-list-title-holder {
  display: table;
  width: 100%;
  margin-top: 6px;
  line-height: 18px;
}

.woocommerce .mkdf-product-list-title-holder .mkdf-product-list-product-title,
.mkdf-woocommerce-page .mkdf-product-list-title-holder .mkdf-product-list-product-title {
  display: block;
  vertical-align: top;
}

.woocommerce .mkdf-product-list-title-holder .price,
.mkdf-woocommerce-page .mkdf-product-list-title-holder .price {
  display: block;
  vertical-align: top;
  color: #41294a;
  margin-top: 2px;
}

.woocommerce .mkdf-product-list-title-holder .price .amount,
.mkdf-woocommerce-page .mkdf-product-list-title-holder .price .amount {
  font-size: 18px;
  line-height: 24px;
}

.woocommerce .mkdf-product-cat,
.mkdf-woocommerce-page .mkdf-product-cat {
  font-size: 21px;
  line-height: 1em;
}

.woocommerce .mkdf-product-cat a,
.mkdf-woocommerce-page .mkdf-product-cat a {
  color: inherit;
}

.woocommerce .mkdf-product-cat a:hover,
.mkdf-woocommerce-page .mkdf-product-cat a:hover {
  color: #ff2c54;
}

.woocommerce .mkdf-view-product,
.woocommerce .add_to_cart_button,
.mkdf-woocommerce-page .mkdf-view-product,
.mkdf-woocommerce-page .add_to_cart_button {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: #41294a;
  text-transform: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94), background-color 0.15s ease-out;
  transition: transform 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94), background-color 0.15s ease-out;
}

.woocommerce .mkdf-view-product.mkdf-btn-huge-full-width .mkdf-btn-text,
.woocommerce .add_to_cart_button.mkdf-btn-huge-full-width .mkdf-btn-text,
.mkdf-woocommerce-page .mkdf-view-product.mkdf-btn-huge-full-width .mkdf-btn-text,
.mkdf-woocommerce-page .add_to_cart_button.mkdf-btn-huge-full-width .mkdf-btn-text {
  padding: 22px;
}

.woocommerce .add_to_cart_button.added,
.mkdf-woocommerce-page .add_to_cart_button.added {
  display: none;
}

.woocommerce .added_to_cart,
.mkdf-woocommerce-page .added_to_cart {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.03em;
  line-height: 1.7em;
  text-transform: none;
  padding: 20px 60px;
  background-color: #41294a;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94), background-color 0.15s ease-out;
  transition: transform 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94), background-color 0.15s ease-out;
}

.woocommerce .product:hover .mkdf-view-product,
.woocommerce .product:hover .add_to_cart_button,
.woocommerce .product:hover .added_to_cart,
.mkdf-woocommerce-page .product:hover .mkdf-view-product,
.mkdf-woocommerce-page .product:hover .add_to_cart_button,
.mkdf-woocommerce-page .product:hover .added_to_cart {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  transform: translateY(0);
}

.woocommerce.columns-5 .products .product,
.mkdf-woocommerce-page.mkdf-woocommerce-columns-5 .products .product {
  width: calc(20% - 24px);
  margin-right: 30px;
  margin-bottom: 30px;
}

.woocommerce.columns-5 .products .product:nth-child(5n),
.mkdf-woocommerce-page.mkdf-woocommerce-columns-5 .products .product:nth-child(5n) {
  margin-right: 0;
}

.woocommerce.columns-5 .products .product:nth-child(5n+1),
.mkdf-woocommerce-page.mkdf-woocommerce-columns-5 .products .product:nth-child(5n+1) {
  clear: both;
}

.woocommerce.columns-5 .mkdf-woocommerce-with-sidebar .products .product,
.mkdf-woocommerce-page.mkdf-woocommerce-columns-5 .mkdf-woocommerce-with-sidebar .products .product {
  width: calc(33.33% - 20px);
  margin-right: 30px;
  margin-bottom: 30px;
}

.woocommerce.columns-5 .mkdf-woocommerce-with-sidebar .products .product:nth-child(3n),
.mkdf-woocommerce-page.mkdf-woocommerce-columns-5 .mkdf-woocommerce-with-sidebar .products .product:nth-child(3n) {
  margin: 0;
}

.woocommerce.columns-5 .mkdf-woocommerce-with-sidebar .products .product:nth-child(3n+1),
.mkdf-woocommerce-page.mkdf-woocommerce-columns-5 .mkdf-woocommerce-with-sidebar .products .product:nth-child(3n+1) {
  clear: both;
}

.woocommerce.columns-5 .mkdf-woocommerce-with-sidebar .products .product:nth-child(5n+1),
.mkdf-woocommerce-page.mkdf-woocommerce-columns-5 .mkdf-woocommerce-with-sidebar .products .product:nth-child(5n+1) {
  clear: none;
}

.woocommerce.columns-4 .products .product,
.mkdf-woocommerce-page.mkdf-woocommerce-columns-4 .products .product {
  width: calc(25% - 22.5px);
  margin-right: 30px;
  margin-bottom: 30px;
}

.woocommerce.columns-4 .products .product:nth-child(4n),
.mkdf-woocommerce-page.mkdf-woocommerce-columns-4 .products .product:nth-child(4n) {
  margin-right: 0;
}

.woocommerce.columns-4 .products .product:nth-child(4n+1),
.mkdf-woocommerce-page.mkdf-woocommerce-columns-4 .products .product:nth-child(4n+1) {
  clear: both;
}

.woocommerce.columns-4 .mkdf-woocommerce-with-sidebar .products .product,
.mkdf-woocommerce-page.mkdf-woocommerce-columns-4 .mkdf-woocommerce-with-sidebar .products .product {
  width: calc(33.33% - 20px);
  margin-right: 30px;
  margin-bottom: 30px;
}

.woocommerce.columns-4 .mkdf-woocommerce-with-sidebar .products .product:nth-child(3n),
.mkdf-woocommerce-page.mkdf-woocommerce-columns-4 .mkdf-woocommerce-with-sidebar .products .product:nth-child(3n) {
  margin-right: 0;
}

.woocommerce.columns-4 .mkdf-woocommerce-with-sidebar .products .product:nth-child(3n+1),
.mkdf-woocommerce-page.mkdf-woocommerce-columns-4 .mkdf-woocommerce-with-sidebar .products .product:nth-child(3n+1) {
  clear: both;
}

.woocommerce.columns-4 .mkdf-woocommerce-with-sidebar .products .product:nth-child(4n+1),
.mkdf-woocommerce-page.mkdf-woocommerce-columns-4 .mkdf-woocommerce-with-sidebar .products .product:nth-child(4n+1) {
  clear: none;
}

.woocommerce.columns-3 .products .product,
.mkdf-woocommerce-page.mkdf-woocommerce-columns-3 .products .product {
  width: calc(33.33% - 20px);
  margin-right: 30px;
  margin-bottom: 30px;
}

.woocommerce.columns-3 .products .product:nth-child(3n),
.mkdf-woocommerce-page.mkdf-woocommerce-columns-3 .products .product:nth-child(3n) {
  margin-right: 0;
}

.woocommerce.columns-3 .products .product:nth-child(3n+1),
.mkdf-woocommerce-page.mkdf-woocommerce-columns-3 .products .product:nth-child(3n+1) {
  clear: both;
}

.woocommerce.columns-3 .mkdf-woocommerce-with-sidebar .products .product,
.mkdf-woocommerce-page.mkdf-woocommerce-columns-3 .mkdf-woocommerce-with-sidebar .products .product {
  width: calc(50% - 15px);
  margin-right: 30px;
  margin-bottom: 30px;
}

.woocommerce.columns-3 .mkdf-woocommerce-with-sidebar .products .product:nth-child(2n),
.mkdf-woocommerce-page.mkdf-woocommerce-columns-3 .mkdf-woocommerce-with-sidebar .products .product:nth-child(2n) {
  margin-right: 0;
}

.woocommerce.columns-3 .mkdf-woocommerce-with-sidebar .products .product:nth-child(2n+1),
.mkdf-woocommerce-page.mkdf-woocommerce-columns-3 .mkdf-woocommerce-with-sidebar .products .product:nth-child(2n+1) {
  clear: both;
}

.woocommerce.columns-3 .mkdf-woocommerce-with-sidebar .products .product:nth-child(3n+1),
.mkdf-woocommerce-page.mkdf-woocommerce-columns-3 .mkdf-woocommerce-with-sidebar .products .product:nth-child(3n+1) {
  clear: none;
}

.woocommerce.columns-4 .mkdf-single-product-related-products-holder .products.related .product,
.woocommerce.columns-3 .mkdf-single-product-related-products-holder .products.related .product,
.mkdf-woocommerce-page.mkdf-woocommerce-columns-4 .mkdf-single-product-related-products-holder .products.related .product,
.mkdf-woocommerce-page.mkdf-woocommerce-columns-3 .mkdf-single-product-related-products-holder .products.related .product {
  width: auto;
  margin: 0 15px;
}

.woocommerce.columns-4 .mkdf-single-product-related-products-holder .products.related .product:nth-child(2n+1), .woocommerce.columns-4 .mkdf-single-product-related-products-holder .products.related .product:nth-child(3n+1), .woocommerce.columns-4 .mkdf-single-product-related-products-holder .products.related .product:nth-child(4n+1),
.woocommerce.columns-3 .mkdf-single-product-related-products-holder .products.related .product:nth-child(2n+1),
.woocommerce.columns-3 .mkdf-single-product-related-products-holder .products.related .product:nth-child(3n+1),
.woocommerce.columns-3 .mkdf-single-product-related-products-holder .products.related .product:nth-child(4n+1),
.mkdf-woocommerce-page.mkdf-woocommerce-columns-4 .mkdf-single-product-related-products-holder .products.related .product:nth-child(2n+1),
.mkdf-woocommerce-page.mkdf-woocommerce-columns-4 .mkdf-single-product-related-products-holder .products.related .product:nth-child(3n+1),
.mkdf-woocommerce-page.mkdf-woocommerce-columns-4 .mkdf-single-product-related-products-holder .products.related .product:nth-child(4n+1),
.mkdf-woocommerce-page.mkdf-woocommerce-columns-3 .mkdf-single-product-related-products-holder .products.related .product:nth-child(2n+1),
.mkdf-woocommerce-page.mkdf-woocommerce-columns-3 .mkdf-single-product-related-products-holder .products.related .product:nth-child(3n+1),
.mkdf-woocommerce-page.mkdf-woocommerce-columns-3 .mkdf-single-product-related-products-holder .products.related .product:nth-child(4n+1) {
  clear: none;
}

/* Woocommerce product list - end
========================================================================== */
/* Woocommerce pagination - begin
========================================================================== */
.woocommerce-pagination {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 100px;
}

.woocommerce-pagination .page-numbers {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  list-style-type: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  color: #ff2c54;
  border-bottom: 1px solid transparent;
  padding: 12px 15px;
  margin: 0 6px;
  font-weight: 400;
  -webkit-transition: color 0.15s ease-out, border-color 0.15s ease-out;
  -moz-transition: color 0.15s ease-out, border-color 0.15s ease-out;
  transition: color 0.15s ease-out, border-color 0.15s ease-out;
  box-sizing: content-box;
}

.woocommerce-pagination .page-numbers.prev, .woocommerce-pagination .page-numbers.next {
  padding: 12px;
  font-weight: 600;
}

.woocommerce-pagination .page-numbers.prev > span, .woocommerce-pagination .page-numbers.next > span {
  font-weight: inherit;
}

.woocommerce-pagination .page-numbers.prev:hover, .woocommerce-pagination .page-numbers.next:hover {
  border-bottom-color: transparent;
}

.woocommerce-pagination .page-numbers.current {
  border-bottom-color: #ff2c54;
}

.woocommerce-pagination .page-numbers:hover, .woocommerce-pagination .page-numbers.current:hover {
  border-bottom-color: #ff2c54;
}

@media only screen and (min-width: 1400px) {
  .mkdf-grid-1300 .woocommerce-pagination > .mkdf-woocommerce-pagination-inner {
    width: 100%;
  }
}

@media only screen and (min-width: 1300px) {
  .mkdf-grid-1200 .woocommerce-pagination > .mkdf-woocommerce-pagination-inner {
    width: 1200px;
  }
}

@media only screen and (min-width: 1200px) {
  .mkdf-grid-1000 .woocommerce-pagination > .mkdf-woocommerce-pagination-inner {
    width: 1000px;
  }
}

@media only screen and (min-width: 1000px) {
  .mkdf-grid-800 .woocommerce-pagination > .mkdf-woocommerce-pagination-inner {
    width: 800px;
  }
}

/* Woocommerce pagination - end
========================================================================== */
/* Woocommerce single product - begin
========================================================================== */
.single-product .pp_pic_holder, .single-product div.pp_overlay {
  display: none !important;
}

.single-product .mkdf-content .mkdf-content-inner > .mkdf-container > .mkdf-container-inner {
  padding: 100px 0 90px;
}

.mkdf-single-product-related-products-holder {
  margin-top: 76px;
}

.mkdf-single-product-related-products-holder .related.products {
  margin-top: 0;
}

.mkdf-single-product-related-products-holder .products {
  position: relative;
  margin-top: 22px;
  overflow: hidden;
}

.mkdf-single-product-related-products-holder .products .slick-list {
  margin: 0 -15px;
}

.mkdf-single-product-related-products-holder .products .slick-slide.product {
  margin: 0 15px;
}

.mkdf-single-product-related-products-holder .products .slick-slide.product:nth-child(3n) {
  margin: 0 15px;
}

.mkdf-single-product-related-products-holder .products .slick-slide.product:nth-child(3n + 1) {
  clear: none;
}

.mkdf-single-product-related-products-holder .products .mkdf-related-nav-holder {
  position: absolute;
  top: 0;
  right: 0;
}

.mkdf-single-product-related-products-holder .products .mkdf-related-prev,
.mkdf-single-product-related-products-holder .products .mkdf-related-next {
  font-size: 20px;
  color: #363636;
  cursor: pointer;
  vertical-align: top;
}

.mkdf-single-product-related-products-holder .products .mkdf-slick-prev,
.mkdf-single-product-related-products-holder .products .mkdf-slick-next {
  visibility: hidden;
}

.mkdf-single-product-related-products-holder .products .mkdf-related-glob {
  font-size: 15px;
  vertical-align: text-bottom;
}

.mkdf-single-product-related-products-holder .products .mkdf-related-glob a {
  color: #303030;
}

.mkdf-single-product-related-products-holder .products .mkdf-related-glob:hover a {
  color: #ff2c54;
}

.mkdf-single-product-wrapper-top .out-of-stock {
  color: #ff2c54;
  font-size: 17px;
  line-height: 1.5555555555555555555555555555556em;
  /* 33px/17px */
  font-weight: 700;
}

.mkdf-single-product-wrapper-top .mkdf-tabs.mkdf-horizontal-tab .mkdf-tabs-nav {
  font-size: 0;
}

.mkdf-single-product-wrapper-top .mkdf-tabs.mkdf-horizontal-tab .mkdf-tabs-nav li {
  float: none;
  display: inline-block;
}

.mkdf-single-product-wrapper-top .mkdf-tabs.mkdf-horizontal-tab .wc-tab > h2 {
  display: none;
}

.mkdf-single-product-wrapper-top .mkdf-tabs.mkdf-horizontal-tab .wc-tab h2 {
  font-size: 18px;
  line-height: 1.55em;
  margin-bottom: 37px;
}

.mkdf-single-product-wrapper-top .mkdf-tabs.mkdf-horizontal-tab .mkdf-tab-container {
  padding: 16px 0;
}

.mkdf-single-product-wrapper-top .woocommerce-review-link {
  color: #ababab;
  font-size: 12px;
  font-weight: 400;
}

.mkdf-single-product-wrapper-top .upsells.products {
  margin-top: 35px;
  margin-bottom: 0;
}

.mkdf-single-product-wrapper-top .upsells.products h2 {
  margin-bottom: 20px;
}

.mkdf-single-product-images {
  width: 48.8%;
  margin-right: 2.4%;
  display: inline-block;
  float: left;
  position: relative;
}

.mkdf-single-product-images a {
  display: inline-block;
  vertical-align: middle;
}

.mkdf-single-product-images .images > .woocommerce-product-gallery__image {
  position: relative;
}

.mkdf-single-product-images img.mkdf-fake-featured-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.mkdf-single-product-images .thumbnails > a,
.mkdf-single-product-images .thumbnails > div {
  float: left;
  width: calc(33.33% - 20px);
  margin-right: 30px;
  margin-top: 30px;
}

.mkdf-single-product-images .thumbnails > a:nth-child(3n),
.mkdf-single-product-images .thumbnails > div:nth-child(3n) {
  margin-right: 0;
}

.mkdf-single-product-summary {
  width: 48.8%;
  display: inline-block;
  float: left;
}

.mkdf-single-product-summary .mkdf-single-product-title {
  line-height: 1em;
}

.mkdf-single-product-summary ins .amount,
.mkdf-single-product-summary .price > .amount {
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
}

.mkdf-single-product-summary del,
.mkdf-single-product-summary del .amount {
  color: #ababab;
  font-size: 17px;
  font-weight: 500;
  margin-right: 5px;
}

.mkdf-single-product-summary .price {
  margin: 19px 0 0;
  font-size: 17px;
  font-weight: 500;
}

.mkdf-single-product-summary [itemprop="description"],
.mkdf-single-product-summary .woocommerce-product-details__short-description {
  margin-top: 15px;
}

.mkdf-single-product-summary .stock.in-stock {
  display: none;
}

.mkdf-single-product-summary .cart,
.mkdf-single-product-summary .out-of-stock {
  margin-top: 39px;
}

.mkdf-single-product-summary .cart:before {
  content: " ";
  display: table;
}

.mkdf-single-product-summary .cart:after {
  content: " ";
  display: table;
  clear: both;
}

.mkdf-single-product-summary .product_meta {
  margin-top: 42px;
  padding-bottom: 21px;
  width: 50%;
  border-bottom: 1px solid #cdcdcd;
}

.mkdf-single-product-summary .product_meta .mkdf-product-meta-title {
  margin-bottom: 11px;
  font-size: 13px;
  text-transform: uppercase;
}

.mkdf-single-product-summary .product_meta > span {
  color: #ababab;
  font-size: 13px;
  font-weight: 700;
  display: table;
  width: 100%;
  table-layout: fixed;
}

.mkdf-single-product-summary .product_meta > span a {
  color: inherit;
}

.mkdf-single-product-summary .product_meta > span a:hover {
  color: #ff2c54;
}

.mkdf-single-product-summary .product_meta > span .mkdf-info-meta-title {
  display: table-cell;
  width: 34%;
  font-family: "Montserrat", sans-serif;
}

.mkdf-single-product-summary .product_meta > span .mkdf-info-meta-content {
  display: table-cell;
  width: 66%;
}

.mkdf-single-product-summary .mkdf-social-share-holder {
  display: table;
  table-layout: fixed;
  width: 50%;
  padding-top: 21px;
}

.mkdf-single-product-summary .mkdf-social-share-holder .mkdf-social-share-title {
  display: table-cell;
  width: 33%;
  font-weight: 700;
  font-size: 13px;
  color: #41294a;
}

.mkdf-single-product-summary .mkdf-btn.single_add_to_cart_button {
  float: left;
  margin-right: 31px;
}

.mkdf-single-product-summary .mkdf-tabs-nav h6 {
  color: inherit;
}

.mkdf-woocommerce-page .mkdf-tabs {
  clear: both;
  padding-bottom: 15px;
  padding-top: 60px;
}

.mkdf-woocommerce-page .mkdf-product-single-navigation {
  border-top: 1px solid #cdcdcd;
  padding-top: 24px;
  margin: 48px 0 0;
}

.mkdf-woocommerce-page .mkdf-product-single-navigation .mkdf-column {
  min-height: 1px;
  width: 50%;
}

.mkdf-woocommerce-page .mkdf-product-single-navigation a {
  font-size: 12px;
  color: #ababab;
  font-weight: 700;
  line-height: 23px;
  vertical-align: top;
}

.mkdf-woocommerce-page .mkdf-container-bottom-navigation {
  padding: 7px 0;
}

.mkdf-woocommerce-page .mkdf-product-single-next {
  text-align: right;
}

.mkdf-woocommerce-page .mkdf-product-single-next span {
  float: right;
  font-size: 21px;
  padding-left: 7px;
}

.mkdf-woocommerce-page .mkdf-product-single-prev {
  text-align: left;
}

.mkdf-woocommerce-page .mkdf-product-single-prev span {
  float: left;
  font-size: 21px;
  padding-right: 7px;
}

/*Variable Products*/
.variations_form .variations {
  width: auto;
  margin-bottom: 34px;
}

.variations_form .variations tr {
  border: none;
}

.variations_form .variations td {
  text-align: left;
  padding: 5px 16px;
}

.variations_form .variations td.label {
  padding-left: 0;
  color: #000;
  font-weight: 700;
  line-height: 1.4em;
}

.variations_form .variations select {
  height: 45px;
  padding: 0 20px 0 15px;
  border: 1px solid #5e5e5e;
  line-height: 50px;
  color: #757575;
  border-radius: 0;
  font-family: inherit;
  background-image: none;
}

.variations_form .variations .reset_variations {
  padding-left: 12px;
}

.variations_form .single_variation {
  margin-bottom: 34px;
}

.sold-individually .variations_form .mkdf-quantity-buttons {
  display: none;
}

.variations_button {
  display: inline-block;
  vertical-align: top;
}

/*Group Product*/
.summary .group_table {
  margin-bottom: 35px;
}

.summary .group_table tbody td {
  text-align: left;
  padding: 5px 0;
}

.summary .group_table tbody tr {
  border: none;
}

.summary .group_table tbody td.price {
  display: table-cell;
  width: auto;
}

.summary .group_table tbody td.price .amount {
  font-size: 18px;
}

.summary .group_table td.label a {
  color: #ff2c54;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
}

/* Woocommerce single product - end
========================================================================== */
/* Woocommerce quantity buttons - begin
========================================================================== */
.mkdf-woocommerce-page .mkdf-quantity-buttons {
  display: inline-block;
  position: relative;
  margin-right: calc(25px + 15px);
}

.mkdf-woocommerce-page .mkdf-quantity-buttons .mkdf-quantity-minus,
.mkdf-woocommerce-page .mkdf-quantity-buttons .mkdf-quantity-plus {
  width: 25px;
  height: 27px;
  display: inline-block;
  color: #363636;
  font-size: 12px;
  line-height: 23px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #5e5e5e;
  background-color: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.mkdf-woocommerce-page .mkdf-quantity-buttons .mkdf-quantity-minus {
  margin-top: -1px;
}

.mkdf-woocommerce-page .mkdf-quantity-buttons .mkdf-quantity-input {
  height: 53px;
  width: 50px;
  display: inline-block;
  padding: 0;
  border: none;
  text-align: center;
  color: #363636;
  font-size: 14px;
  line-height: 45px;
  font-weight: 700;
  margin-right: -1px;
  margin-bottom: 0;
  border: 1px solid #5e5e5e;
  background-color: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0;
  -webkit-appearance: none;
}

.mkdf-woocommerce-page .mkdf-quantity-buttons .mkdf-quantity-input:focus {
  border-color: #5e5e5e;
}

.mkdf-woocommerce-page .mkdf-quantity-buttons .mkdf-quantity-controls {
  position: absolute;
  left: 100%;
  top: 0;
  line-height: 0;
}

/* Woocommerce quantity buttons - end
========================================================================== */
/* Woocommerce message - begin
========================================================================== */
.mkdf-woocommerce-page .woocommerce-message,
.mkdf-woocommerce-page .woocommerce-info,
.mkdf-woocommerce-page .woocommerce-error {
  margin-bottom: 25px;
  position: relative;
  display: block;
  padding: 8px 40px;
  background-color: #fcfcfc;
  line-height: 50px;
  color: #41294a;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  border: 1px solid #cdcdcd;
}

.mkdf-woocommerce-page .woocommerce-message a {
  float: right;
}

.mkdf-woocommerce-page .woocommerce-info .showcoupon:hover {
  color: #000;
}

/* Woocommerce message - end
========================================================================== */
/* Woocommerce table - begin
========================================================================== */
.mkdf-woocommerce-page table.cart tr:last-child {
  border: none;
}

.mkdf-woocommerce-page table td {
  vertical-align: middle;
}

.mkdf-woocommerce-page td.product-thumbnail img {
  width: 80px;
  vertical-align: middle;
}

.mkdf-woocommerce-page td.actions {
  padding: 30px 0;
}

.mkdf-woocommerce-page td.actions .coupon,
.mkdf-woocommerce-page td.actions .mkdf-cart-proceed-update {
  float: left;
  display: inline-block;
  text-align: left;
  font-size: 0;
}

.mkdf-woocommerce-page td.actions .coupon {
  width: 70%;
}

.mkdf-woocommerce-page td.actions .mkdf-cart-proceed-update {
  text-align: right;
  width: 30%;
}

.mkdf-woocommerce-page .coupon label {
  display: none;
}

.mkdf-woocommerce-page .coupon input[type="text"] {
  width: 300px;
  vertical-align: top;
}

/* Woocommerce table - end
========================================================================== */
/* Woocommerce shipping calculator - begin
========================================================================== */
.mkdf-woocommerce-page .mkdf-shipping-calculator {
  width: 100%;
  display: inline-block;
}

.mkdf-woocommerce-page .mkdf-shipping-calculator .form-row {
  width: 49%;
  margin-right: 2%;
  margin-bottom: 20px;
  float: left;
}

.mkdf-woocommerce-page .mkdf-shipping-calculator .form-row-last {
  margin-right: 0;
}

.mkdf-woocommerce-page .mkdf-shipping-calculator .form-row-wide {
  width: 100%;
}

/* Woocommerce shipping calculator - end
========================================================================== */
/* Woocommerce totals - begin
========================================================================== */
.mkdf-woocommerce-page .mkdf-cart-totals {
  width: 100%;
  display: inline-block;
  margin-bottom: 60px;
}

.mkdf-woocommerce-page .mkdf-cart-totals .wc-proceed-to-checkout {
  margin-top: 30px;
}

.mkdf-woocommerce-page .mkdf-cart-totals table tr {
  padding: 18px 7px;
  background-color: #fcfcfc;
}

.mkdf-woocommerce-page .mkdf-cart-totals table th {
  border: none;
  padding: 18px 7px;
}

/* Woocommerce totals - end
========================================================================== */
/* Woocommerce checkout - begin
========================================================================== */
.mkdf-woocommerce-page .woocommerce-checkout .col2-set:before,
.mkdf-woocommerce-page .woocommerce-checkout .col2-set:after {
  content: '';
  display: table;
}

.mkdf-woocommerce-page .woocommerce-checkout .col2-set:after {
  clear: both;
}

.mkdf-woocommerce-page .woocommerce-checkout .col-1,
.mkdf-woocommerce-page .woocommerce-checkout .col-2 {
  width: 49%;
  margin-right: 1%;
  display: inline-block;
  float: left;
}

.mkdf-woocommerce-page .woocommerce-checkout .col-1 h3,
.mkdf-woocommerce-page .woocommerce-checkout .col-2 h3 {
  text-transform: none;
  font-size: 18px;
  margin-bottom: 35px;
  margin-top: 40px;
}

.mkdf-woocommerce-page .woocommerce-checkout .col-1 .form-row,
.mkdf-woocommerce-page .woocommerce-checkout .col-2 .form-row {
  width: 49%;
  margin-right: 2%;
  margin-bottom: 0;
  float: left;
}

.mkdf-woocommerce-page .woocommerce-checkout .col-1 .form-row-last,
.mkdf-woocommerce-page .woocommerce-checkout .col-2 .form-row-last {
  margin-right: 0;
}

.mkdf-woocommerce-page .woocommerce-checkout .col-1 .form-row-wide,
.mkdf-woocommerce-page .woocommerce-checkout .col-1 .form-row.notes,
.mkdf-woocommerce-page .woocommerce-checkout .col-2 .form-row-wide,
.mkdf-woocommerce-page .woocommerce-checkout .col-2 .form-row.notes {
  width: 100%;
}

.mkdf-woocommerce-page .woocommerce-checkout .col-1 .form-row label,
.mkdf-woocommerce-page .woocommerce-checkout .col-2 .form-row label {
  display: none;
}

.mkdf-woocommerce-page .woocommerce-checkout .col-2 {
  margin-left: 1%;
  margin-right: 0;
}

.woocommerce-account input[type=submit],
.woocommerce-checkout input[type=submit] {
  display: inline-block;
  position: relative;
  outline: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  line-height: 1.6em;
  text-transform: uppercase;
  padding: 12px 36px;
  outline: 0;
  background-color: #41294a;
  border: 1px solid #41294a;
  color: #fff;
  -webkit-transition: border-color 0.15s ease-out, background-color 0.15s ease-out;
  -moz-transition: border-color 0.15s ease-out, background-color 0.15s ease-out;
  transition: border-color 0.15s ease-out, background-color 0.15s ease-out;
  box-sizing: border-box;
  cursor: pointer;
}

.woocommerce-account input[type=submit]:hover,
.woocommerce-checkout input[type=submit]:hover {
  background-color: #ff2c54;
  border-color: #ff2c54;
}

.create-account label.checkbox {
  display: inline-block !important;
  vertical-align: middle;
}

.woocommerce-account .woocommerce-MyAccount-navigation {
  float: left;
  width: 25%;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul {
  list-style-type: none;
  margin: 0;
}

.woocommerce-account .woocommerce-MyAccount-navigation .woocommerce-MyAccount-navigation-link {
  position: relative;
}

.woocommerce-account .woocommerce-MyAccount-navigation .woocommerce-MyAccount-navigation-link:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  z-index: 1;
  -webkit-transition: background-color 0.15s ease-in-out;
  -moz-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
}

.woocommerce-account .woocommerce-MyAccount-navigation .woocommerce-MyAccount-navigation-link a {
  position: relative;
  display: block;
  padding: 11px 22px 11px 0;
  color: #818181;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 1px solid #ededed;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  -moz-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.woocommerce-account .woocommerce-MyAccount-navigation .woocommerce-MyAccount-navigation-link.is-active a, .woocommerce-account .woocommerce-MyAccount-navigation .woocommerce-MyAccount-navigation-link:hover a {
  color: #ff2c54;
}

.woocommerce-account .woocommerce-MyAccount-navigation .woocommerce-MyAccount-navigation-link.is-active:after, .woocommerce-account .woocommerce-MyAccount-navigation .woocommerce-MyAccount-navigation-link:hover:after {
  background-color: #808080;
}

.woocommerce-account .woocommerce-MyAccount-content {
  float: right;
  width: 70%;
  padding-top: 10px;
}

.woocommerce-account .woocommerce-Address-title.title {
  margin: 20px 0 10px;
}

.woocommerce-account form.login {
  margin-top: 20px;
}

.woocommerce-account form.login input.woocommerce-Button {
  margin-right: 20px;
}

/* Woocommerce checkout - end
========================================================================== */
.mkdf-woocommerce-page input[type="text"],
.mkdf-woocommerce-page input[type="email"],
.mkdf-woocommerce-page input[type="tel"],
.mkdf-woocommerce-page input[type="password"],
.mkdf-woocommerce-page textarea {
  width: 100%;
  margin-top: 0;
  margin-bottom: 15px;
  padding: 13px 15px;
  border: 1px solid transparent;
  outline: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 19px;
  background-color: #f6f6f6;
  color: #41294a;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle;
}

.mkdf-woocommerce-page input[type="text"]:-moz-placeholder,
.mkdf-woocommerce-page input[type="email"]:-moz-placeholder,
.mkdf-woocommerce-page input[type="tel"]:-moz-placeholder,
.mkdf-woocommerce-page input[type="password"]:-moz-placeholder,
.mkdf-woocommerce-page textarea:-moz-placeholder {
  color: #41294a;
}

.mkdf-woocommerce-page input[type="text"]::-moz-placeholder,
.mkdf-woocommerce-page input[type="email"]::-moz-placeholder,
.mkdf-woocommerce-page input[type="tel"]::-moz-placeholder,
.mkdf-woocommerce-page input[type="password"]::-moz-placeholder,
.mkdf-woocommerce-page textarea::-moz-placeholder {
  color: #41294a;
  opacity: 1;
}

.mkdf-woocommerce-page input[type="text"]:-ms-input-placeholder,
.mkdf-woocommerce-page input[type="email"]:-ms-input-placeholder,
.mkdf-woocommerce-page input[type="tel"]:-ms-input-placeholder,
.mkdf-woocommerce-page input[type="password"]:-ms-input-placeholder,
.mkdf-woocommerce-page textarea:-ms-input-placeholder {
  color: #41294a;
}

.mkdf-woocommerce-page input[type="text"]::-webkit-input-placeholder,
.mkdf-woocommerce-page input[type="email"]::-webkit-input-placeholder,
.mkdf-woocommerce-page input[type="tel"]::-webkit-input-placeholder,
.mkdf-woocommerce-page input[type="password"]::-webkit-input-placeholder,
.mkdf-woocommerce-page textarea::-webkit-input-placeholder {
  color: #41294a;
}

.mkdf-woocommerce-page input[type="text"]:focus,
.mkdf-woocommerce-page input[type="email"]:focus,
.mkdf-woocommerce-page input[type="tel"]:focus,
.mkdf-woocommerce-page input[type="password"]:focus,
.mkdf-woocommerce-page textarea:focus {
  border: 1px solid #ededed;
}

/* Dropdown Shopping Cart */
.mkdf-shopping-cart-outer {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.mkdf-shopping-cart-outer .mkdf-shopping-cart-inner {
  display: table;
  vertical-align: middle;
  height: 100%;
}

.mkdf-shopping-cart-outer .mkdf-shopping-cart-header {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.mkdf-shopping-cart-outer .mkdf-shopping-cart-header .mkdf-header-cart {
  display: inline-block;
  position: relative;
  padding: 0 10px 0 0;
}

.mkdf-shopping-cart-outer .mkdf-shopping-cart-header .mkdf-cart-icon {
  color: #ff2c54;
  font-size: 30px;
  -webkit-transition: inital;
  -moz-transition: inital;
  transition: inital;
}

.mkdf-shopping-cart-outer .mkdf-shopping-cart-header .mkdf-cart-label {
  -webkit-transition: color 0.15s ease;
  -moz-transition: color 0.15s ease;
  transition: color 0.15s ease;
  margin: 0 0 0 5px;
}

.mkdf-shopping-cart-outer .mkdf-cart-amount {
  position: absolute;
  top: -1px;
  right: 3px;
  font-size: 10px;
  color: #fff;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  background-color: #ff2c54;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  line-height: 16px;
  text-align: center;
}

.mkdf-shopping-cart-dropdown {
  left: auto;
  position: absolute;
  right: -1px;
  top: 100%;
  z-index: 1000;
  width: 300px;
  visibility: hidden;
  background-color: #fff;
  border-top: 5px solid #ff2c54;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.mkdf-shopping-cart-dropdown ul {
  margin: 0;
}

.mkdf-shopping-cart-dropdown ul li {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  padding: 30px 30px 0;
  box-sizing: border-box;
}

.mkdf-shopping-cart-dropdown ul li a {
  display: block;
}

.mkdf-shopping-cart-dropdown ul li a:hover {
  color: #ff2c54;
}

.mkdf-shopping-cart-dropdown ul li .mkdf-item-image-holder {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  width: 55px;
}

.mkdf-shopping-cart-dropdown ul li .mkdf-item-image-holder img {
  vertical-align: middle;
}

.mkdf-shopping-cart-dropdown .mkdf-item-info-holder {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  vertical-align: top;
  padding-left: 20px;
  padding-right: 15px;
  text-align: left;
}

.mkdf-shopping-cart-dropdown .mkdf-item-info-holder .mkdf-cart-remove {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 15px;
}

.mkdf-shopping-cart-dropdown .mkdf-item-info-holder .mkdf-cart-remove a {
  color: #000;
}

.mkdf-shopping-cart-dropdown .mkdf-item-info-holder .mkdf-cart-remove span:before {
  vertical-align: top;
}

.mkdf-shopping-cart-dropdown .mkdf-item-info-holder .mkdf-item-left {
  float: left;
}

.mkdf-shopping-cart-dropdown .mkdf-item-info-holder .mkdf-item-left a {
  line-height: 1em;
  color: #000;
  font-style: 14px;
}

.mkdf-shopping-cart-dropdown .mkdf-item-info-holder .mkdf-item-left:hover {
  color: #ff2c54;
}

.mkdf-shopping-cart-dropdown .mkdf-item-info-holder .mkdf-item-left span {
  color: #999;
  font-size: 12px;
  font-weight: 400;
}

.mkdf-shopping-cart-dropdown .mkdf-item-info-holder .mkdf-item-left .mkdf-quantity-holder {
  line-height: 18px;
}

.mkdf-shopping-cart-dropdown .mkdf-empty-cart {
  color: #000;
  border: none;
  padding: 15px;
}

.mkdf-shopping-cart-dropdown .mkdf-cart-list a > img {
  display: block;
}

.mkdf-shopping-cart-dropdown .mkdf-cart-bottom {
  padding: 21px 0 0;
}

.mkdf-shopping-cart-dropdown .mkdf-cart-bottom .mkdf-btns-holder {
  padding: 24px 30px;
  border-top: 1px solid #ff2c54;
}

.mkdf-shopping-cart-dropdown .mkdf-cart-bottom .checkout,
.mkdf-shopping-cart-dropdown .mkdf-cart-bottom .view-cart {
  color: #303030;
  font-size: 14px;
  background: transparent;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.mkdf-shopping-cart-dropdown .mkdf-cart-bottom .checkout span,
.mkdf-shopping-cart-dropdown .mkdf-cart-bottom .view-cart span {
  font-size: 18px;
  color: #ff2c54;
  padding-right: 7px;
}

.mkdf-shopping-cart-dropdown .mkdf-cart-bottom .view-cart {
  float: left;
  padding-left: 0;
}

.mkdf-shopping-cart-dropdown .mkdf-cart-bottom .view-cart:hover {
  color: #ababab;
}

.mkdf-shopping-cart-dropdown .mkdf-cart-bottom .view-cart span {
  font-size: 20px;
}

.mkdf-shopping-cart-dropdown .mkdf-cart-bottom .checkout {
  float: right;
  padding-right: 0;
  line-height: 28px;
}

.mkdf-shopping-cart-dropdown .mkdf-cart-bottom .checkout:hover {
  color: #ababab;
}

.mkdf-shopping-cart-dropdown .mkdf-cart-bottom .mkdf-subtotal-holder {
  padding: 0 30px;
  margin: 0 0 16px 0;
  color: #303030;
  font-size: 12px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.mkdf-shopping-cart-dropdown .mkdf-cart-bottom .mkdf-subtotal-holder .mkdf-total-amount .amount {
  font-size: 12px;
}

.mkdf-shopping-cart-outer:hover .mkdf-shopping-cart-dropdown {
  display: block;
  visibility: visible;
  text-align: left;
}

.mkdf-top-bar .mkdf-shopping-cart-outer {
  float: left;
  position: relative;
  height: 40px;
  line-height: 40px;
}

.mkdf-top-bar .mkdf-shopping-cart-outer .mkdf-shopping-cart-inner {
  display: block;
  height: 100%;
}

.mkdf-top-bar .mkdf-shopping-cart-outer .mkdf-shopping-cart-header {
  height: 100%;
}

@media only screen and (min-width: 1000px) {
  .mkdf-dark-header .mkdf-page-header > div:not(.mkdf-sticky-header) .mkdf-shopping-cart-header .mkdf-header-cart > .mkdf-cart-icon,
  .mkdf-light-header .mkdf-page-header > div:not(.mkdf-sticky-header) .mkdf-shopping-cart-header .mkdf-header-cart > .mkdf-cart-amount {
    color: #151515;
  }
  .mkdf-light-header .mkdf-page-header > div:not(.mkdf-sticky-header) .mkdf-shopping-cart-header .mkdf-header-cart > .mkdf-cart-amount {
    background-color: #ffffff;
  }
  .mkdf-light-header .mkdf-page-header > div:not(.mkdf-sticky-header) .mkdf-shopping-cart-header .mkdf-header-cart > .mkdf-cart-icon,
  .mkdf-dark-header .mkdf-page-header > div:not(.mkdf-sticky-header) .mkdf-shopping-cart-header .mkdf-header-cart > .mkdf-cart-amount {
    color: #ffffff;
  }
  .mkdf-dark-header .mkdf-page-header > div:not(.mkdf-sticky-header) .mkdf-shopping-cart-header .mkdf-header-cart > .mkdf-cart-amount {
    background-color: #151515;
  }
  .mkdf-sticky-header .mkdf-shopping-cart-outer .mkdf-shopping-cart-header .mkdf-cart-icon {
    color: #ff2c54;
  }
  .mkdf-sticky-header .mkdf-shopping-cart-outer .mkdf-cart-amount {
    background-color: #ff2c54;
  }
}

.mkdf-vertical-align-containers .mkdf-shopping-cart-header {
  padding-left: 10px;
  padding-right: 18px;
}

.mkdf-vertical-align-containers .mkdf-shopping-cart-header i {
  vertical-align: middle;
  position: relative;
  top: -2px;
}

.mkdf-vertical-menu-area .mkdf-shopping-cart-dropdown {
  right: auto;
}

/* ==========================================================================
# Woocommerce style - end
========================================================================== */
/* ==========================================================================
# Select 2 - begin
========================================================================== */
/*
Version: 3.5.4 Timestamp: Sun Aug 30 13:30:32 EDT 2015
*/
.select2-container {
  margin: 0;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.select2-container,
.select2-drop,
.select2-search,
.select2-search input {
  /*
	  Force border-box so that % widths fit the parent
	  container without overlap because of margin/padding.
	  More Info : http://www.quirksmode.org/css/box.html
	*/
  -webkit-box-sizing: border-box;
  /* webkit */
  -moz-box-sizing: border-box;
  /* firefox */
  box-sizing: border-box;
  /* css3 */
}

.select2-container .select2-choice {
  display: block;
  height: 26px;
  padding: 0 0 0 8px;
  overflow: hidden;
  position: relative;
  border: 1px solid #aaa;
  white-space: nowrap;
  line-height: 26px;
  color: #444;
  text-decoration: none;
  border-radius: 4px;
  background-clip: padding-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(0.5, #fff));
  background-image: -webkit-linear-gradient(center bottom, #eee 0%, #fff 50%);
  background-image: -moz-linear-gradient(center bottom, #eee 0%, #fff 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#eeeeee', GradientType = 0);
  background-image: linear-gradient(to top, #eee 0%, #fff 50%);
}

html[dir="rtl"] .select2-container .select2-choice {
  padding: 0 8px 0 0;
}

.select2-container.select2-drop-above .select2-choice {
  border-bottom-color: #aaa;
  border-radius: 0 0 4px 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(0.9, #fff));
  background-image: -webkit-linear-gradient(center bottom, #eee 0%, #fff 90%);
  background-image: -moz-linear-gradient(center bottom, #eee 0%, #fff 90%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
  background-image: linear-gradient(to bottom, #eee 0%, #fff 90%);
}

.select2-container.select2-allowclear .select2-choice .select2-chosen {
  margin-right: 42px;
}

.select2-container .select2-choice > .select2-chosen {
  margin-right: 26px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  float: none;
  width: auto;
}

html[dir="rtl"] .select2-container .select2-choice > .select2-chosen {
  margin-left: 26px;
  margin-right: 0;
}

.select2-container .select2-choice abbr {
  display: none;
  width: 12px;
  height: 12px;
  position: absolute;
  right: 24px;
  top: 8px;
  font-size: 1px;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  outline: 0;
}

.select2-container.select2-allowclear .select2-choice abbr {
  display: inline-block;
}

.select2-container .select2-choice abbr:hover {
  background-position: right -11px;
  cursor: pointer;
}

.select2-drop-mask {
  border: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 9998;
  /* styles required for IE to work */
  background-color: #fff;
  filter: alpha(opacity=0);
}

.select2-drop {
  width: 100%;
  margin-top: -1px;
  position: absolute;
  z-index: 9999;
  top: 100%;
  background: #fff;
  color: #000;
  border: 1px solid #aaa;
  border-top: 0;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
}

.select2-drop.select2-drop-above {
  margin-top: 1px;
  border-top: 1px solid #aaa;
  border-bottom: 0;
  border-radius: 4px 4px 0 0;
  -webkit-box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.15);
}

.select2-drop-active {
  border: 1px solid #5897fb;
  border-top: none;
}

.select2-drop.select2-drop-above.select2-drop-active {
  border-top: 1px solid #5897fb;
}

.select2-drop-auto-width {
  border-top: 1px solid #aaa;
  width: auto;
}

/*.select2-container .select2-choice .select2-arrow {
	display: inline-block;
	width: 18px;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;

	border-left: 1px solid #aaa;
	border-radius: 0 4px 4px 0;

	background-clip: padding-box;

	background: #ccc;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ccc), color-stop(0.6, #eee));
	background-image: -webkit-linear-gradient(center bottom, #ccc 0%, #eee 60%);
	background-image: -moz-linear-gradient(center bottom, #ccc 0%, #eee 60%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#cccccc', GradientType = 0);
	background-image: linear-gradient(to top, #ccc 0%, #eee 60%);
}*/
html[dir="rtl"] .select2-container .select2-choice .select2-arrow {
  left: 0;
  right: auto;
  border-left: none;
  border-right: 1px solid #aaa;
  border-radius: 4px 0 0 4px;
}

.select2-container .select2-choice .select2-arrow b {
  display: block;
  width: 100%;
  height: 100%;
}

html[dir="rtl"] .select2-container .select2-choice .select2-arrow b {
  background-position: 2px 1px;
}

.select2-search {
  display: inline-block;
  width: 100%;
  min-height: 26px;
  margin: 0;
  padding: 4px 4px 0 4px;
  position: relative;
  z-index: 10000;
  white-space: nowrap;
}

.select2-search input {
  width: 100%;
  height: auto !important;
  min-height: 26px;
  padding: 4px 20px 4px 5px;
  margin: 0;
  outline: 0;
  font-family: sans-serif;
  font-size: 1em;
  border: 1px solid #aaa;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

html[dir="rtl"] .select2-search input {
  padding: 4px 5px 4px 20px;
}

.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
  border: 1px solid #5897fb;
  outline: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.select2-dropdown-open .select2-choice {
  border-bottom-color: transparent;
  -webkit-box-shadow: 0 1px 0 #fff inset;
  box-shadow: 0 1px 0 #fff inset;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #eee;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #fff), color-stop(0.5, #eee));
  background-image: -webkit-linear-gradient(center bottom, #fff 0%, #eee 50%);
  background-image: -moz-linear-gradient(center bottom, #fff 0%, #eee 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0);
  background-image: linear-gradient(to top, #fff 0%, #eee 50%);
}

.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices {
  border: 1px solid #5897fb;
  border-top-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(0.5, #eee));
  background-image: -webkit-linear-gradient(center top, #fff 0%, #eee 50%);
  background-image: -moz-linear-gradient(center top, #fff 0%, #eee 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0);
  background-image: linear-gradient(to bottom, #fff 0%, #eee 50%);
}

.select2-dropdown-open .select2-choice .select2-arrow {
  background: transparent;
  border-left: none;
  filter: none;
}

html[dir="rtl"] .select2-dropdown-open .select2-choice .select2-arrow {
  border-right: none;
}

.select2-dropdown-open .select2-choice .select2-arrow b {
  background-position: -18px 1px;
}

html[dir="rtl"] .select2-dropdown-open .select2-choice .select2-arrow b {
  background-position: -16px 1px;
}

.select2-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* results */
.select2-results {
  max-height: 200px;
  padding: 0 0 0 4px;
  margin: 4px 4px 4px 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-tap-highlight-color: transparent;
}

html[dir="rtl"] .select2-results {
  padding: 0 4px 0 0;
  margin: 4px 0 4px 4px;
}

.select2-results ul.select2-result-sub {
  margin: 0;
  padding-left: 0;
}

.select2-results li {
  list-style: none;
  display: list-item;
  background-image: none;
}

.select2-results li.select2-result-with-children > .select2-result-label {
  font-weight: bold;
}

.select2-results .select2-result-label {
  padding: 3px 7px 4px;
  margin: 0;
  cursor: pointer;
  min-height: 1em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.select2-results-dept-1 .select2-result-label {
  padding-left: 20px;
}

.select2-results-dept-2 .select2-result-label {
  padding-left: 40px;
}

.select2-results-dept-3 .select2-result-label {
  padding-left: 60px;
}

.select2-results-dept-4 .select2-result-label {
  padding-left: 80px;
}

.select2-results-dept-5 .select2-result-label {
  padding-left: 100px;
}

.select2-results-dept-6 .select2-result-label {
  padding-left: 110px;
}

.select2-results-dept-7 .select2-result-label {
  padding-left: 120px;
}

.select2-results .select2-highlighted {
  background: #3875d7;
  color: #fff;
}

.select2-results li em {
  background: #feffde;
  font-style: normal;
}

.select2-results .select2-highlighted em {
  background: transparent;
}

.select2-results .select2-highlighted ul {
  background: #fff;
  color: #000;
}

.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-ajax-error,
.select2-results .select2-selection-limit {
  background: #f4f4f4;
  display: list-item;
  padding-left: 5px;
}

/*
disabled look for disabled choices in the results dropdown
*/
.select2-results .select2-disabled.select2-highlighted {
  color: #666;
  background: #f4f4f4;
  display: list-item;
  cursor: default;
}

.select2-results .select2-disabled {
  background: #f4f4f4;
  display: list-item;
  cursor: default;
}

.select2-results .select2-selected {
  display: none;
}

.select2-more-results.select2-active {
  background: #f4f4f4 url("select2-spinner.gif") no-repeat 100%;
}

.select2-results .select2-ajax-error {
  background: rgba(255, 50, 50, 0.2);
}

.select2-more-results {
  background: #f4f4f4;
  display: list-item;
}

/* disabled styles */
.select2-container.select2-container-disabled .select2-choice {
  background-color: #f4f4f4;
  background-image: none;
  border: 1px solid #ddd;
  cursor: default;
}

.select2-container.select2-container-disabled .select2-choice .select2-arrow {
  background-color: #f4f4f4;
  background-image: none;
  border-left: 0;
}

.select2-container.select2-container-disabled .select2-choice abbr {
  display: none;
}

/* multiselect */
.select2-container-multi .select2-choices {
  height: auto !important;
  height: 1%;
  margin: 0;
  padding: 0 5px 0 0;
  position: relative;
  border: 1px solid #aaa;
  cursor: text;
  overflow: hidden;
  background-color: #fff;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eee), color-stop(15%, #fff));
  background-image: -webkit-linear-gradient(top, #eee 1%, #fff 15%);
  background-image: -moz-linear-gradient(top, #eee 1%, #fff 15%);
  background-image: linear-gradient(to bottom, #eee 1%, #fff 15%);
}

html[dir="rtl"] .select2-container-multi .select2-choices {
  padding: 0 0 0 5px;
}

.select2-locked {
  padding: 3px 5px 3px 5px !important;
}

.select2-container-multi .select2-choices {
  min-height: 26px;
}

.select2-container-multi.select2-container-active .select2-choices {
  border: 1px solid #5897fb;
  outline: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.select2-container-multi .select2-choices li {
  float: left;
  list-style: none;
}

html[dir="rtl"] .select2-container-multi .select2-choices li {
  float: right;
}

.select2-container-multi .select2-choices .select2-search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.select2-container-multi .select2-choices .select2-search-field input {
  padding: 5px;
  margin: 1px 0;
  font-family: sans-serif;
  font-size: 100%;
  color: #666;
  outline: 0;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent !important;
}

.select2-container-multi .select2-choices .select2-search-field input.select2-active {
  background: #fff url("select2-spinner.gif") no-repeat 100% !important;
}

.select2-default {
  color: #999 !important;
}

.select2-container-multi .select2-choices .select2-search-choice {
  padding: 3px 5px 3px 18px;
  margin: 3px 0 3px 5px;
  position: relative;
  line-height: 13px;
  color: #333;
  cursor: default;
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  background-clip: padding-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #e4e4e4;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#f4f4f4', GradientType=0);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eee));
  background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
  background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
  background-image: linear-gradient(to bottom, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
}

html[dir="rtl"] .select2-container-multi .select2-choices .select2-search-choice {
  margin: 3px 5px 3px 0;
  padding: 3px 18px 3px 5px;
}

.select2-container-multi .select2-choices .select2-search-choice .select2-chosen {
  cursor: default;
}

.select2-container-multi .select2-choices .select2-search-choice-focus {
  background: #d4d4d4;
}

.select2-search-choice-close {
  display: block;
  width: 12px;
  height: 13px;
  position: absolute;
  right: 3px;
  top: 4px;
  font-size: 1px;
  outline: none;
}

html[dir="rtl"] .select2-search-choice-close {
  right: auto;
  left: 3px;
}

.select2-container-multi .select2-search-choice-close {
  left: 3px;
}

html[dir="rtl"] .select2-container-multi .select2-search-choice-close {
  left: auto;
  right: 2px;
}

.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close:hover {
  background-position: right -11px;
}

.select2-container-multi .select2-choices .select2-search-choice-focus .select2-search-choice-close {
  background-position: right -11px;
}

/* disabled styles */
.select2-container-multi.select2-container-disabled .select2-choices {
  background-color: #f4f4f4;
  background-image: none;
  border: 1px solid #ddd;
  cursor: default;
}

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
  padding: 3px 5px 3px 5px;
  border: 1px solid #ddd;
  background-image: none;
  background-color: #f4f4f4;
}

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close {
  display: none;
  background: none;
}

/* end multiselect */
.select2-result-selectable .select2-match,
.select2-result-unselectable .select2-match {
  text-decoration: underline;
}

.select2-offscreen, .select2-offscreen:focus {
  clip: rect(0 0 0 0) !important;
  width: 1px !important;
  height: 1px !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  position: absolute !important;
  outline: 0 !important;
  left: 0px !important;
  top: 0px !important;
}

.select2-display-none {
  display: none;
}

.select2-measure-scrollbar {
  position: absolute;
  top: -10000px;
  left: -10000px;
  width: 100px;
  height: 100px;
  overflow: scroll;
}

/* Retina-ize icons */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 2dppx) {
  .select2-search input,
  .select2-search-choice-close,
  .select2-container .select2-choice abbr,
  .select2-container .select2-choice .select2-arrow b {
    background-image: url("select2x2.png") !important;
    background-repeat: no-repeat !important;
    background-size: 60px 40px !important;
  }
  .select2-search input {
    background-position: 100% -21px !important;
  }
}

/*
	Version: 4.0.3 Timestamp: Monday Mart 27 2:59:00pm EDT 2017
*/
.select2-container--default {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  border: 0;
  border-radius: 0;
  text-align: initial;
  box-sizing: border-box;
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left;
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__rendered {
  padding: 0 10px 0 26px;
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  left: 20px;
  right: auto;
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice,
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder,
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-search--inline {
  float: right;
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__rendered {
  padding: 0 10px 0 26px;
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin: 7px auto 0 5px;
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin: 0 auto 0 3px;
}

.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: #eee;
  cursor: default;
}

.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
  display: none;
}

.select2-container--default.select2-container--disabled .select2-selection--multiple {
  background-color: #eee;
  cursor: default;
}

.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
  display: none;
}

.select2-container--default.select2-container--open .select2-selection--single {
  color: #41294a;
}

.select2-container--default.select2-container--open .select2-dropdown {
  left: 0;
}

.mkdf-woocommerce-page .cart-collaterals .woocommerce-shipping-calculator .select2-container--default {
  width: 100% !important;
  margin: 0 0 14px;
}

.select2-container--default .select2-selection--single {
  display: block;
  height: 44px;
  line-height: 42px;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  display: block;
  padding: 0 26px 0 10px;
  color: inherit;
  line-height: inherit;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  box-sizing: border-box;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
  position: relative;
  cursor: pointer;
  float: right;
  margin: 0;
  font-weight: inherit;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: inherit;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  position: absolute;
  width: auto;
  height: 100%;
  top: 0;
  right: 20px;
  color: inherit;
  line-height: inherit;
  text-align: center;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}

.select2-container--default .select2-selection--single .select2-selection__arrow:before {
  font-family: 'FontAwesome';
  content: '\f107';
}

.select2-container--default .select2-selection--multiple {
  display: block;
  height: 44px;
  line-height: 42px;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border: 1px solid #cdcdcd;
  border-radius: 0;
  outline: 0;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  display: block;
  list-style: none;
  padding: 0 30px 0 20px;
  margin: 0;
  color: inherit;
  line-height: inherit;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  box-sizing: border-box;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
  list-style: none;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__placeholder {
  float: left;
  margin: 0;
  color: inherit;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__clear {
  position: relative;
  cursor: pointer;
  float: right;
  margin: 0;
  font-weight: inherit;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
  float: left;
  margin: 7px 5px 0 0;
  padding: 0 10px;
  line-height: 30px;
  color: #fff;
  background-color: #41294a;
  border: 0;
  border-radius: 0;
  cursor: default;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__choice__remove {
  display: inline-block;
  margin: 0 3px 0 0;
  color: inherit;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__choice__remove:hover {
  color: inherit;
  opacity: 0.8;
}

.select2-container--default .select2-search--inline {
  float: left;
}

.select2-container--default .select2-search--inline .select2-search__field {
  margin: 0;
  padding: 0;
  font-size: 100%;
  background: transparent;
  border: none;
  outline: 0;
  box-shadow: none;
  -webkit-appearance: textfield;
  box-sizing: border-box;
}

.select2-container--default .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.select2-container--default .select2-dropdown {
  position: absolute;
  top: 0;
  left: -100000px;
  width: 100%;
  display: block;
  color: #ababab;
  background-color: #fcfcfc;
  border: 1px solid #aaa;
  border-radius: 0;
  z-index: 1051;
  box-sizing: border-box;
}

.select2-container--default .select2-search--dropdown {
  display: block;
}

.select2-container--default .select2-search--dropdown.select2-search--hide {
  display: none;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  width: 100%;
  margin-top: 0;
  margin-bottom: 15px;
  padding: 4px 20px 4px 5px;
  border: 1px solid transparent;
  outline: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 19px;
  background-color: #f6f6f6;
  color: #565656;
  vertical-align: middle;
  box-shadow: none;
  -webkit-appearance: textfield;
  box-sizing: border-box;
}

.select2-container--default .select2-search--dropdown .select2-search__field:focus {
  border-color: #ededed;
}

.select2-container--default .select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.select2-container--default .select2-results {
  display: block;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.select2-container--default .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}

.select2-container--default .select2-results__options {
  position: relative;
  padding: 0 0 0 4px;
  margin: 4px 4px 4px 0;
  list-style: none;
}

.select2-container--default .select2-results__option {
  padding: 3px 7px 4px;
  user-select: none;
  -webkit-user-select: none;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

.select2-container--default .select2-results__option[aria-selected] {
  cursor: pointer;
  color: #303030;
  font-size: 14px;
  font-weight: 300;
}

.select2-container--default .select2-results__option[role=group] {
  padding: 0;
}

.select2-container--default .select2-results__option[aria-disabled=true] {
  color: #41294a;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  color: #41294a;
  background: none;
}

.select2-container--default .select2-results__option .select2-results__option {
  padding-left: 1em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__group {
  padding-left: 0;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -1em;
  padding-left: 2em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -2em;
  padding-left: 3em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -3em;
  padding-left: 4em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -4em;
  padding-left: 5em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -5em;
  padding-left: 6em;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  color: #41294a;
}

.select2-container--default .select2-results__group {
  display: block;
  padding: 7px 0;
  cursor: default;
}

.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;
  background-color: #fff;
  filter: alpha(opacity=0);
}

.select2-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

/* Woocommerce Select2 override - begin
========================================================================== */
.mkdf-woocommerce-page {
  /*Select 2 updated override*/
}

.mkdf-woocommerce-page .select2-container .select2-choice {
  height: 45px;
  padding-left: 10px;
  border: none;
  line-height: 45px;
  border-radius: 0;
  background-image: none;
  border: 1px solid transparent;
  outline: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  background-color: #f6f6f6;
  color: #41294a;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle;
  margin-bottom: 15px;
}

.mkdf-woocommerce-page .select2-container .select2-choice:-moz-placeholder {
  color: #41294a;
}

.mkdf-woocommerce-page .select2-container .select2-choice::-moz-placeholder {
  color: #41294a;
  opacity: 1;
}

.mkdf-woocommerce-page .select2-container .select2-choice:-ms-input-placeholder {
  color: #41294a;
}

.mkdf-woocommerce-page .select2-container .select2-choice::-webkit-input-placeholder {
  color: #41294a;
}

.mkdf-woocommerce-page .select2-container .select2-choice:focus {
  border: 1px solid #ededed;
}

.mkdf-woocommerce-page .select2-container .select2-choice .select2-arrow {
  position: absolute;
  width: 40px;
  height: 100%;
  top: 0;
  right: 0;
  line-height: inherit;
  text-align: center;
}

.mkdf-woocommerce-page .select2-container .select2-choice .select2-arrow b {
  display: none;
}

.mkdf-woocommerce-page .select2-container .select2-choice .select2-arrow:before {
  font-family: 'Linearicons-Free';
  content: "\e874";
  font-size: 14px;
}

.mkdf-woocommerce-page .select2-container-active .select2-choice,
.mkdf-woocommerce-page .select2-container-active .select2-choices {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.mkdf-woocommerce-page .select2-drop-active {
  border: 1px solid #e9e9e9;
}

.mkdf-woocommerce-page .select2-drop {
  background-color: #fcfcfc;
  color: #ababab;
  border: 1px solid #aaa;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.mkdf-woocommerce-page .woocommerce-ordering .orderby,
.mkdf-woocommerce-page .woocommerce-ordering .select2.select2-container--default {
  float: right;
  width: 210px;
}

.mkdf-woocommerce-page .mkdf-shipping-calculator .country_to_state {
  width: 100%;
}

.mkdf-woocommerce-page .select2-search input {
  background-image: none;
  position: relative;
}

.mkdf-woocommerce-page .select2-results {
  background-color: #fcfcfc;
}

.mkdf-woocommerce-page .select2.select2-container--default {
  height: 45px;
  padding: 0;
  border: none;
  line-height: 45px;
  border-radius: 0;
  background-image: none;
  border: 1px solid transparent;
  outline: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  background-color: #f6f6f6;
  color: #41294a;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle;
  margin-bottom: 15px;
}

.mkdf-woocommerce-page .select2.select2-container--default:-moz-placeholder {
  color: #41294a;
}

.mkdf-woocommerce-page .select2.select2-container--default::-moz-placeholder {
  color: #41294a;
  opacity: 1;
}

.mkdf-woocommerce-page .select2.select2-container--default:-ms-input-placeholder {
  color: #41294a;
}

.mkdf-woocommerce-page .select2.select2-container--default::-webkit-input-placeholder {
  color: #41294a;
}

.mkdf-woocommerce-page .select2.select2-container--default:focus {
  border: 1px solid #ededed;
}

.mkdf-woocommerce-page .select2.select2-container--default .select2-selection__arrow {
  position: absolute;
  width: 40px;
  height: 100%;
  top: 0;
  right: 0;
  line-height: inherit;
  text-align: center;
}

.mkdf-woocommerce-page .select2.select2-container--default .select2-selection__arrow b {
  display: none;
}

.mkdf-woocommerce-page .select2.select2-container--default .select2-selection__arrow:before {
  font-family: 'Linearicons-Free';
  content: "\e874";
  font-size: 14px;
}

/* Woocommerce Select2 override - end
========================================================================== */
/* ==========================================================================
# Select 2 - end
========================================================================== */
/*===========================================================
# Woocommerce star-rating
==============================================================*/
.star-rating {
  position: relative;
  display: inline-block;
  overflow: hidden;
  height: 1.1em;
  line-height: 1em;
  font-size: 13px;
  width: 5.3em;
  font-family: 'star';
  color: #ababab;
  vertical-align: middle;
}

.star-rating:before {
  content: "\73\73\73\73\73";
  position: absolute;
  top: 0;
  left: 0;
}

.star-rating span {
  height: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 1.5em;
}

.star-rating span:before {
  content: "\53\53\53\53\53";
  position: absolute;
  top: 0;
  left: 0;
}

.stars {
  height: 16px;
}

.comment-form-rating .stars span {
  width: 80px;
  height: 16px;
  position: relative;
  float: left;
  background: url(img/star.png) repeat-x left 0;
}

.comment-form-rating .stars span a {
  float: left;
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 0;
  padding-top: 16px;
  overflow: hidden;
}

.comment-form-rating .stars span a.star-1 {
  width: 16px;
  z-index: 10;
}

.comment-form-rating .stars span a.star-2 {
  width: 32px;
  z-index: 9;
}

.comment-form-rating .stars span a.star-3 {
  width: 48px;
  z-index: 8;
}

.comment-form-rating .stars span a.star-4 {
  width: 64px;
  z-index: 7;
}

.comment-form-rating .stars span a.star-5 {
  width: 80px;
  z-index: 6;
}

.comment-form-rating .stars span a:hover,
.comment-form-rating .stars span a:focus,
.comment-form-rating .stars span a.active {
  background: url(img/star.png) repeat-x left -16px;
}

/*===========================================================
# Woocommerce star-rating - end
==============================================================*/
/*===========================================================
#Woocommmerce review form -start
=============================================================*/
.commentlist {
  list-style: none;
}

.comment_container {
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 55px;
  border-bottom: 1px solid #cdcdcd;
}

.mkdf-rating-wrapper {
  position: absolute;
  right: 0;
}

.mkdf-product-comment-meta {
  display: inline-block;
  vertical-align: top;
}

.mkdf-product-comment-meta {
  margin-bottom: 10px;
}

.woocommerce-Reviews .comment-text {
  padding-left: 107px;
  margin-bottom: 8px;
}

.woocommerce-Reviews .comment-text .star-rating {
  position: absolute;
  top: 0;
  right: 0;
}

.mkdf-product-comment-date {
  font-size: 12px;
}

.mkdf-product-comment-author {
  font-size: 18px;
  line-height: 1em;
  color: #000;
  display: block;
  margin-bottom: 2px;
}

.woocommerce-Reviews .avatar {
  float: left;
  padding-right: 24px;
}

#reply-title {
  font-size: 18px;
  line-height: 1.55;
  text-transform: none;
}

.comment-form-rating label {
  color: #000;
  font-weight: 600;
  padding-right: 15px;
}

.comment-form-rating .stars {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

/*===========================================================
#Woocommmerce review form -end
=============================================================*/
/*===========================================================
#Cart & Checkout page
=============================================================*/
.wc-proceed-to-checkout {
  text-align: right;
}

.woocommerce-cart .amount {
  font-size: 14px;
}

.woocommerce-cart .mkdf-quantity-buttons {
  left: 7.5px;
}

.woocommerce-cart .product-thumbnail {
  width: 14%;
}

.woocommerce-cart .product-name {
  width: 26%;
  text-align: left;
}

.woocommerce-cart .product-price {
  width: 18%;
}

.woocommerce-cart .product-quantity {
  width: 18%;
}

.woocommerce-cart .product-subtotal {
  width: 18%;
}

.woocommerce-cart .product-remove {
  width: 6%;
}

.woocommerce-cart .remove {
  font-size: 21px;
  color: #959595;
}

.woocommerce-cart .shop_table {
  table-layout: fixed;
}

.woocommerce-cart .shop_table thead {
  border-bottom: 1px solid #cdcdcd;
}

.woocommerce-cart .shop_table th {
  color: #ababab;
  font-size: 12px;
}

.woocommerce-cart .cart_item {
  border-width: 0 0 1px;
  border-color: #cdcdcd;
}

.woocommerce-cart .cart_item .product-thumbnail {
  padding: 30px 18px 30px 0;
  text-align: left;
}

.woocommerce-cart .cross-sells {
  margin-bottom: 30px;
}

.woocommerce-cart .cross-sells h2 {
  margin-bottom: 20px;
}

.woocommerce-checkout .shop_table th,
.woocommerce-checkout .shop_table td {
  text-align: left;
  padding: 15px 7px 15px 30px;
}

.woocommerce-checkout .shop_table tfoot {
  background-color: #fcfcfc;
  border: 1px solid #cdcdcd;
}

.woocommerce-checkout .shop_table tfoot th {
  font-size: 18px;
  font-weight: 600;
}

.woocommerce-checkout .shop_table .amount {
  font-size: 18px;
  font-weight: 500;
}

.woocommerce-checkout .shop_table .order-total th,
.woocommerce-checkout .shop_table .product-name,
.woocommerce-checkout .shop_table thead .product-total {
  font-weight: 600;
  color: #1b0101;
}

.woocommerce-checkout .shop_table thead .product-name,
.woocommerce-checkout .shop_table thead .product-total {
  font-size: 18px;
}

.woocommerce-checkout #order_review_heading {
  margin-bottom: 30px;
  margin-top: 54px;
  text-transform: none;
  font-size: 18px;
}

.wc_payment_methods,
#shipping_method {
  list-style: none;
  margin: 20px 0;
}

/*==========================================================
#Widgets start
=============================================================*/
.woocommerce.widget {
  margin-bottom: 35px;
}

.woocommerce.widget:last-child {
  margin-bottom: 0;
}

.woocommerce.widget h4 {
  padding: 11px 15px;
  border: 1px solid #cdcdcd;
  margin-bottom: 30px;
}

.woocommerce.widget:not(.widget_layered_nav) ul:not(.product-categories) li {
  padding-left: 0;
}

.woocommerce.widget:not(.widget_layered_nav) ul:not(.product-categories) li:before {
  display: none;
}

.woocommerce.widget .quantity {
  font-size: 21px;
}

.woocommerce.widget .total {
  margin: 10px 0 10px;
}

.woocommerce.widget .buttons:after, .woocommerce.widget .buttons:before {
  content: '';
  display: table;
}

.woocommerce.widget .buttons:after {
  clear: both;
}

.woocommerce.widget .buttons .wc-forward {
  text-transform: uppercase;
  font-weight: 500;
}

.woocommerce.widget .buttons .wc-forward:first-child {
  float: left;
}

.woocommerce.widget .buttons .wc-forward:last-child {
  float: right;
}

.woocommerce.widget input[type=submit],
.woocommerce.widget button {
  display: inline-block;
  position: relative;
  outline: none;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  line-height: 1.6em;
  text-transform: uppercase;
  padding: 12px 36px;
  -webkit-transition: color 0.15s ease-out, background-color 0.15s ease-out, border-color 0.15s ease-out;
  -moz-transition: color 0.15s ease-out, background-color 0.15s ease-out, border-color 0.15s ease-out;
  transition: color 0.15s ease-out, background-color 0.15s ease-out, border-color 0.15s ease-out;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ff2c54;
  border: 1px solid #ff2c54;
  color: #fff;
  cursor: pointer;
}

.woocommerce.widget input[type=submit]:hover,
.woocommerce.widget button:hover {
  background-color: #41294a;
  border-color: #41294a;
}

.woocommerce.widget input[type=search] {
  width: 100%;
  outline: none;
  border: 1px solid #cdcdcd;
  line-height: 45px;
  height: 45px;
  padding: 0 45px 0 13px;
  font-size: 14px;
  color: #41294a;
  font-family: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.woocommerce.widget input[type=search]:-moz-placeholder {
  color: #41294a;
}

.woocommerce.widget input[type=search]::-moz-placeholder {
  color: #41294a;
  opacity: 1;
}

.woocommerce.widget input[type=search]:-ms-input-placeholder {
  color: #41294a;
}

.woocommerce.widget input[type=search]::-webkit-input-placeholder {
  color: #41294a;
}

.woocommerce.widget input[type=submit].mkdf-product-search-form {
  font-family: 'Linearicons-Free';
  position: absolute;
  right: 0;
  top: 0;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  cursor: pointer;
  color: #363636;
  font-size: 15px;
  font-weight: 700;
  border: none;
  background-color: transparent;
  padding: 0 10px;
  -webkit-font-smoothing: antialiased;
}

.woocommerce.widget .mkdf-product-search {
  font-size: 0;
  position: relative;
}

.woocommerce.widget.widget_product_tag_cloud {
  margin-bottom: 40px;
}

.woocommerce.widget.widget_product_tag_cloud .mkdf-widget-title {
  margin-bottom: 12px;
}

.woocommerce.widget.widget_price_filter {
  margin-bottom: 42px;
}

.woocommerce.widget.widget_price_filter .mkdf-widget-title {
  margin-bottom: 15px;
}

.woocommerce.widget.widget_product_categories li {
  font-family: "Montserrat", sans-serif;
  color: #303030;
}

.woocommerce.widget.widget_product_categories li a:hover {
  color: #ff2c54;
}

.product_list_widget li:before, .product_list_widget li:after {
  content: " ";
  display: table;
}

.product_list_widget li:after {
  clear: both;
}

.product_list_widget li > a {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.product_list_widget li > div {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 135px);
}

.product_list_widget li > div a {
  display: block;
  margin-bottom: 7px;
}

.product_list_widget li img {
  float: left;
  padding-right: 15px;
  max-width: 112px;
}

.product_list_widget li .star-rating {
  display: block;
  margin-top: 6px;
}

.product_list_widget li .star-rating span {
  color: #41294a;
}

.product_list_widget li .product-title {
  display: block;
  line-height: 1em;
  color: #ff2c54;
  font-weight: 700;
  margin: 0;
}

.product_list_widget li a.remove {
  float: right;
  font-size: 18px;
}

.product_list_widget li .amount {
  font-size: 16px;
  font-weight: 700;
  margin-top: 6px;
}

.widget_recent_reviews ul li > a,
.widget_shopping_cart ul li > a {
  display: block;
}

.widget_recent_reviews ul li .variation dt, .widget_recent_reviews ul li .variation dd,
.widget_shopping_cart ul li .variation dt,
.widget_shopping_cart ul li .variation dd {
  display: inline-block;
  vertical-align: top;
}

.widget_recent_reviews ul li .variation p,
.widget_shopping_cart ul li .variation p {
  margin-bottom: 0;
}

.widget_price_filter .ui-slider-horizontal {
  height: 3px;
}

.widget_price_filter .ui-slider {
  position: relative;
  text-align: left;
}

.widget_price_filter .price_slider {
  margin-bottom: 30px;
  margin-right: 7px;
}

.widget_price_filter .ui-widget-content {
  background-color: #cdcdcd;
}

.widget_price_filter .ui-slider-horizontal .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-color: #a5a5a5;
  top: 0;
  height: 100%;
}

.widget_price_filter .ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 10px;
  height: 10px;
  cursor: pointer;
  outline: 0;
  top: -4px;
  border-radius: 10px;
  background-color: #ff2c54;
  margin-left: -3px;
}

.widget_price_filter .price_slider_amount .price_label {
  display: inline-block;
  line-height: 45px;
  height: 45px;
  float: right;
  color: #303030;
}

/*==========================================================
#Widgets end
=============================================================*/

/*# sourceMappingURL=woocommerce.css.map */