/*
Theme Name: Dorset Tech
Theme URI: http://dorset.tech
Description: Dorset Tech
Author: Dorset Tech
Author URI: http://dorset.tech
Version: 1.2
License: GNU General Public License
License URI: licence/GPL.txt
Text Domain: cortex
Tags: translation-ready

CSS changes can be made in files in the /css/ folder. This is a placeholder file required by WordPress, so do not delete it.

*/

body {
    color: #303133!important;
}

h1,
h2,
h3,
h4,
h5 {
    margin-bottom: 20px!important;
    color: #303133;
    font-family: Poppins;
}

h1,
h2,
h3,
h4,
h5,
h6,
.mkdf-comment-holder .mkdf-comment-text .replay,
.mkdf-comment-holder .mkdf-comment-text .comment-reply-link,
.mkdf-comment-holder .mkdf-comment-text .comment-edit-link,
.mkdf-comment-holder .mkdf-comment-text .mkdf-comment-date,
.wpcf7-form-control.wpcf7-text,
.wpcf7-form-control.wpcf7-number,
.wpcf7-form-control.wpcf7-date,
.wpcf7-form-control.wpcf7-textarea,
.wpcf7-form-control.wpcf7-select,
.wpcf7-form-control.wpcf7-quiz,
.select2-container--default .select2-search--inline .select2-search__field,
#respond textarea,
#respond input[type="text"],
.post-password-form input[type="password"],
.slick-slider .mkdf-slick-numbers li,
.mkdf-404-text,
.mkdf-main-menu>ul>li>a,
.mkdf-drop-down .mkdf-menu-wide .mkdf-menu-second .mkdf-menu-inner>ul>li>a,
.mkdf-header-vertical .mkdf-vertical-menu>ul>li>a,
.mkdf-mobile-header .mkdf-mobile-nav a,
.mkdf-mobile-header .mkdf-mobile-nav h4,
.mkdf-title .mkdf-title-holder h1,
nav.mkdf-fullscreen-menu ul li a,
.mkdf-search-cover input,
.mkdf-search-cover input:focus,
.mkdf-counter-holder .mkdf-counter,
.countdown-section,
.mkdf-message .mkdf-message-inner .mkdf-message-text .mkdf-message-text-inner,
.mkdf-testimonials.mkdf-testimonials-type-cortex .mkdf-testimonial-text,
.mkdf-testimonials.mkdf-testimonials-type-cortex .mkdf-testimonials-quotes,
.mkdf-price-table .mkdf-price-table-inner ul li.mkdf-table-prices .mkdf-price-holder,
.mkdf-pie-chart-holder .mkdf-to-counter,
.mkdf-pie-chart-holder .mkdf-percent-sign,
.mkdf-pie-chart-doughnut-holder .mkdf-pie-legend ul li p,
.mkdf-process-holder .mkdf-process-item-holder .mkdf-pi-number-holder .mkdf-pi-number,
.mkdf-tabs .mkdf-tabs-nav li a,
.mkdf-blog-list-holder .mkdf-item-info-section .mkdf-post-info-date,
.mkdf-blog-slider .mkdf-item-info-section .mkdf-post-info-date,
.mkdf-btn,
blockquote .mkdf-blockquote-text,
.mkdf-portfolio-filter-holder .mkdf-portfolio-filter-holder-inner ul li span,
.mkdf-social-share-holder.mkdf-list .mkdf-social-share-title,
.mkdf-section-title,
.mkdf-image-with-text span.mkdf-iwt-title,
.mkdf-sidebar .widget.widget_categories li,
.mkdf-sidebar .widget.widget_archive li,
.mkdf-sidebar .widget a,
.mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-left>div,
.mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-right>div,
.mkdf-blog-holder article .mkdf-post-mark .mkdf-quote-mark-inner,
.mkdf-blog-single-navigation .mkdf-nav-holder .mkdf-nav-text,
.woocommerce .amount,
.mkdf-woocommerce-page .amount,
.woocommerce .woocommerce-result-count,
.mkdf-woocommerce-page .woocommerce-result-count,
.woocommerce .added_to_cart,
.mkdf-woocommerce-page .added_to_cart,
.mkdf-single-product-summary .product_meta>span .mkdf-info-meta-title,
.woocommerce-account input[type=submit],
.woocommerce-checkout input[type=submit],
.mkdf-woocommerce-page input[type="text"],
.mkdf-woocommerce-page input[type="email"],
.mkdf-woocommerce-page input[type="tel"],
.mkdf-woocommerce-page input[type="password"],
.mkdf-woocommerce-page textarea,
.mkdf-shopping-cart-outer .mkdf-cart-amount,
.mkdf-shopping-cart-dropdown,
.mkdf-shopping-cart-dropdown .mkdf-cart-bottom .mkdf-subtotal-holder,
.mkdf-woocommerce-page .select2-container .select2-choice,
.woocommerce.widget input[type=submit],
.woocommerce.widget button,
.woocommerce.widget.widget_product_categories li,
.mkdf-top-bar .widget {
    font-family: Poppins!important;
}

.mkdf-side-menu .socIcon {
    width: 48px!important;
    height: 58px!important;
    line-height: 42px!important;
}

.ion-bag:before {
    content: ""!important;
    width: 68px!important;
    height: 48px!important;
    background-image: url(/wp-content/uploads/shopping-bag2.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.mkdf-shopping-cart-outer .mkdf-shopping-cart-header .mkdf-header-cart {
    padding: 0px!important;
    margin-top: 20px;
}

#mkdf-back-to-top {
    bottom: 115px!important;
}

footer .widget.widget_nav_menu ul li {
    display: inline-block;
}

footer .widget.widget_nav_menu ul li a:before {
    display: none!important;
}

footer .widget.widget_nav_menu ul li a {
    font-family: 'Comic'!important;
    padding: 0px 24px!important;
    color: #ec008c!important;
}

footer .widget.widget_nav_menu ul li a:hover {
    color: #009fe3!important;
}

footer .mkdf-two-columns-50-50 .mkdf-column:first-of-type {
    width: 75%;
    float: left;
}

footer .mkdf-two-columns-50-50 .mkdf-column:last-of-type {
    width: 25%;
    float: right;
}

.menu-copyright-menu-container .mkdf-footer-bottom-holder ul li a {
    color: #000000!important;
    font-size: 14px!important;
    padding: 0px!important;
}

#respond input[type=text],
#respond textarea,
.post-password-form input[type=password],
.wpcf7-form-control.wpcf7-date,
.wpcf7-form-control.wpcf7-number,
.wpcf7-form-control.wpcf7-quiz,
.wpcf7-form-control.wpcf7-select,
.wpcf7-form-control.wpcf7-text,
.wpcf7-form-control.wpcf7-textarea {
    width: 100%;
    margin-top: 0;
    margin-bottom: 14px;
    padding: 20px 15px!important;
    border: 1px solid #f2f2f2;
    outline: 0;
    font-family: Poppins!important;
    font-size: 14px!important;
    font-weight: 700;
    background-color: #f2f2f2;
    color: #303133;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
    -webkit-appearance: none;
}

span.checkbox-gdpr {
    font-size: 12px;
    display: block;
    margin-top: 30px;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener {
    float: right!important;
}

.ion-navicon:before {
    width: 46px!important;
    height: 46px!important;
    content: " "!important;
    background-image: url(/wp-content/uploads/mobile-menu.png)!important;
    background-size: contain!important;
}

.page-id-1405 .mkdf-content .mkdf-content-inner>.mkdf-container>.mkdf-container-inner,
.page-id-1405 .mkdf-content .mkdf-content-inner>.mkdf-full-width>.mkdf-full-width-inner {
    padding: 160px 0 40px 0!important;
}

.mkdf-sidebar .widget.widget_text .mkdf-widget-title {
    padding-bottom: 15px;
    margin-bottom: 0px!important;
}

.mkdf-sidebar .mkdf-widget-title {
    color: #ff2c54;
    padding: 0 0 7px;
    border-bottom: none;
    font-weight: 700;
}

.mkdf-blog-holder article .mkdf-post-title {
    color: #303133!important;
}

.mkdf-page-header .mkdf-sticky-header {
    display: none;
}

.widget a {
    color: #303133!important;
}

.mkdf-btn,
input[type=submit],
.woocommerce-checkout input[type=submit],
.frm_style_formidable-style.with_frm_style .frm_submit button {
    color: #000000!important;
    background-color: #ffffff!important;
    margin: 30px 0px 0px;
    border: 2px solid #000!important;
    font-family: 'Comic'!important;
    -webkit-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.75);
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
    display: block;
}

a.mkdf-btn:hover,
input[type=submit]:hover,
.frm_style_formidable-style.with_frm_style .frm_submit button:hover {
    color: #000000;
    background: #f1734d!important;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #f1734d 0%, #f1e227 100%)!important;
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #f1734d 0%, #f1e227 100%)!important;
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #f1734d 0%, #f1e227 100%)!important;
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f1734d', endColorstr='#f1e227', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    -webkit-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.75);
}

a.mkdf-btn:hover::first-letter,
input[type=submit]:hover::first-letter {
    font-size: 200%!important;
    color: #cc0033!important;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

button.frm_button_submit {
    padding: 15px 52px!important;
    border-radius: 0px!important;
}

.mkdf-btn.mkdf-btn-solid .mkdf-btn-text,
.mkdf-btn.mkdf-btn-transparent {
    padding: 10px 52px!important;
}

.mkdf-btn-top-shadow,
.mkdf-btn-bottom-shadow {
    display: none;
}

#mkdf-back-to-top.on {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
    color: #000000!important;
    background: #f1734d;
    background: -moz-linear-gradient(-45deg, #f1734d 0%, #f1e227 100%);
    background: -webkit-linear-gradient(-45deg, #f1734d 0%, #f1e227 100%);
    background: linear-gradient(135deg, #f1734d 0%, #f1e227 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f1734d', endColorstr='#f1e227', GradientType=1);
    border: 2px solid #000!important;
    width: auto!important;
    padding: 0px 15px;
    -webkit-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.75);
}

#mkdf-back-to-top>.mkdf-icon-stack {
    background-color: transparent!important;
}

#mkdf-back-to-top>.mkdf-icon-stack {
    width: 100%!important;
    height: auto!important;
    color: #000!important;
    font-size: 13px!important;
}

#mkdf-back-to-top>.mkdf-icon-stack::first-letter {
    font-size: 200%!important;
    color: #cc0033!important;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.arrow_carrot-up:before {
    content: "meanwhile at the top..."!important;
    font-family: 'Comic'!important;
}

.mkdf-btt-top-shadow,
.mkdf-btt-bottom-shadow {
    display: none;
}

.socIcon {
    background-image: url(/wp-content/uploads/si-bg.png);
    width: 70px;
    height: 78px;
    background-size: contain;
    background-repeat: no-repeat;
    line-height: 62px;
    color: #000000;
    text-align: center;
}

.socIcon a {
    color: #000000!important;
    font-size: 22px!important;
}

.socIcon a:hover {
    color: #ff2c54!important;
}

.mkdf-call-to-action .mkdf-text-wrapper .mkdf-call-to-action-text {
    font-size: 50px!important;
    font-weight: 700!important;
    line-height: 1.2em;
    letter-spacing: -3px!important;
    text-align: left;
    color: #303133;
}

.mkdf-call-to-action-sub-text {
    display: block;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0px;
    font-family: 'Comic';
    color: #ec008c;
}

.icon-arrows-question:before {
    background-image: url(/wp-content/uploads/burger.png);
    background-size: 30px 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
    content: ""!important;
}


/*.btn {
    width: 125px;
    height: 100px;
    background: url(/wp-content/uploads/button-1.svg) no-repeat;
}
*/

.hidden {
    display: none;
}

.mkdf-sticky-nav {
    display: none!important;
}

.mkdf-title.mkdf-has-parallax-background {
    max-height: 250px;
}

.mkdf-main-menu.mkdf-default-nav>ul>li>a,
.mkdf-page-header #lang_sel>ul>li>a,
.mkdf-page-header #lang_sel_click>ul>li>a,
.mkdf-page-header #lang_sel ul>li:hover>a {
    font-family: 'Comic'!important;
}

.mkdf-main-menu>ul>li {
    height: 30px!important;
}

.mkdf-main-menu>ul {
    height: 30px!important;
    margin-top: 50px!important;
}

.mkdf-main-menu.mkdf-default-nav>ul>li>a {
    height: 20px!important;
    border: 2px solid transparent;
    margin: 0px 8px;
    display: block;
    font-size: 15px;
}

.mkdf-main-menu>ul>li>a span.mkdf-item-inner .mkdf-item-text {
    display: block;
}

.mkdf-main-menu ul li a {
    line-height: 32px!important;
}

.current .mkdf-item-text::first-letter {
    font-size: 200%!important;
    color: #cc0033!important;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.mkdf-main-menu.mkdf-default-nav>ul>li.mkdf-active-item>a {
    color: #000000!important;
    background: #f1734d;
    background: -moz-linear-gradient(-45deg, #f1734d 0%, #f1e227 100%);
    background: -webkit-linear-gradient(-45deg, #f1734d 0%, #f1e227 100%);
    background: linear-gradient(135deg, #f1734d 0%, #f1e227 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f1734d', endColorstr='#f1e227', GradientType=1);
    border: 2px solid #000!important;
}

@font-face {
    font-family: 'Comic';
    src: url('/wp-content/themes/dtech/assets/fonts/Comic.eot');
    src: url('/wp-content/themes/dtech/assets/fonts/Comic.eot') format('embedded-opentype'), url('/wp-content/themes/dtech/assets/fonts/Comic.woff2') format('woff2'), url('/wp-content/themes/dtech/assets/fonts/Comic.woff') format('woff'), url('/wp-content/themes/dtech/assets/fonts/Comic.ttf') format('truetype'), url('/wp-content/themes/dtech/assets/fonts/Comic.svg#Comic') format('svg');
}

.mkdf-main-menu>ul>li>a:hover {
    color: #000000;
    background: #f1734d;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #f1734d 0%, #f1e227 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #f1734d 0%, #f1e227 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #f1734d 0%, #f1e227 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f1734d', endColorstr='#f1e227', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    border: 2px solid;
}

.mkdf-main-menu.mkdf-default-nav>ul>li.mkdf-active-item>a {
    color: #dd3333;
}

.mkdf-main-menu>ul>li>a span.mkdf-item-inner {
    padding: 0 15px 0 15px!important;
}

.mkdf-main-menu>ul>li>a>span.mkdf-item-outer {
    display: block;
    position: relative;
    top: 60%!important;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}

.mkdf-main-menu>ul>li>a span.mkdf-item-inner .mkdf-item-text:before {
    display: none;
}

.btn a {
    background-image: url(/wp-content/uploads/button-2.svg)!important;
    font-size: 1.3em!important;
    background-repeat: no-repeat!important;
    border: none!important;
    background-color: transparent!important;
    padding: 20px 15px 20px 15px!important;
    text-align: center!important;
    display: inline-block;
    margin-left: -10px;
    margin-top: 15px;
    font-family: 'Bangers', cursive;
    transition: all 0.5s ease;
    background-position: center;
    background-size: 100%;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

.btn a span.text {
    -webkit-text-stroke: 0.5px #000;
    text-stroke: 1px #000;
    color: #fedc37!important;
    font-size: 16px;
    text-shadow: 1px 1px 0px #000000;
}

.btn a:hover {
    transform: scale(1.2);
    position: relative
}

.z {
    zoom: 300%;
    -moz-transform: 0 0;
    -moz-transform: scale(3);
}

.subhead {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0px;
    letter-spacing: 2px;
    font-weight: 600;
}

.desc {
    text-align: center;
    margin-bottom: 45px!important;
}

.white {
    color: #fff;
}

.black {
    color: #303133;
}

#batphonhead {
    width: 58px;
    margin-top: -10px;
}

.mkdf-blog-list-holder .mkdf-item-title {
    color: #303133;
}

.mkdf-blog-list-holder .mkdf-excerpt {
    margin: 0 0 18px;
    color: #303133;
}

.mkdf-blog-list-holder .mkdf-post-info-author {
    display: none;
}

footer .mkdf-footer-bottom-holder {
    background-color: #ffffff!important;
}

footer .mkdf-footer-top-holder {
    background-image: url(/wp-content/uploads/footer-bg.jpg)
}

.mkdf-footer-bottom-holder p {
    font-family: 'Comic';
    margin-bottom: 0px;
    font-size: 14px;
}

.mkdf-footer-bottom-holder a {
    color: #000000!important;
}

.mkdf-footer-bottom-holder a:hover {
    color: #ff2c54!important;
}

.mkdf-footer-top-holder p {
    font-size: 14px;
    padding: 0px 20%;
}

.mkdf-social-icon-widget-holder {
    background-image: url(/wp-content/uploads/si-bg.png);
    width: 70px;
    height: 78px;
    background-size: contain;
    background-repeat: no-repeat;
    line-height: 62px;
    color: #000000;
    text-align: center;
}

a.mkdf-social-icon-widget-holder {
    color: #000000!important;
}

a:hover.mkdf-social-icon-widget-holder {
    color: #ff2c54!important;
}

.page-template-blog-standard .mkdf-social-icon-widget-holder {
    background-image: url(/wp-content/uploads/si-bg.png);
    width: 50px;
    height: 58px;
    background-size: contain;
    background-repeat: no-repeat;
    line-height: 46px;
    font-size: 18px!important;
    color: #000000;
    text-align: center;
}

.mkdf-side-menu-title h4,
.mkdf-side-menu-title h5 {
    color: #ffffff;
    font-weight: 700;
    text-align: left;
    font-size: 46px;
    margin-top: 45px!important;
}

.hmText {
    margin-top: 60px;
}

.flex-control-paging.flex-control-nav li a,
.sa_owl_theme .owl-dots .owl-dot .span {
    width: 12px!important;
    height: 12px!important;
}

.mkdf-testimonials.mkdf-testimonials-type-cortex .mkdf-testimonial-author {
    color: #fff!important;
    font-size: 28px!important;
}

.mkdf-team-info h4,
.mkdf-team-info h6,
.mkdf-team-info p {
    color: #fff!important;
}

.mkdf-testimonials.mkdf-testimonials-type-cortex .mkdf-testimonial-text {
    color: #303133!important;
    font-size: 22px!important;
    line-height: 1.4em!important;
}

.mkdf-testimonials.mkdf-testimonials-type-cortex .mkdf-testimonials-quotes {
    display: none;
}

.mkdf-portfolio-filter-holder .mkdf-portfolio-filter-holder-inner ul li {
    cursor: pointer;
    display: block;
    margin: 7.5px 15px!important;
    float: left;
    text-align: center;
    color: #000000!important;
    background-color: #ffffff!important;
    margin: 30px 0px 0px;
    border: 2px solid #000!important;
    font-family: 'Comic'!important;
    -webkit-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.75);
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
}

.mkdf-portfolio-filter-holder .mkdf-portfolio-filter-holder-inner ul li:hover {
    color: #000000!important;
    background: #f1734d;
    background: -moz-linear-gradient(-45deg, #f1734d 0%, #f1e227 100%);
    background: -webkit-linear-gradient(-45deg, #f1734d 0%, #f1e227 100%);
    background: linear-gradient(135deg, #f1734d 0%, #f1e227 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f1734d', endColorstr='#f1e227', GradientType=1);
    border: 2px solid #000!important;
}

.mkdf-portfolio-filter-holder .mkdf-portfolio-filter-holder-inner ul li span {
    font-family: 'Comic'!important;
    font-size: 14px!important;
    color: #000000!important;
    padding-top: 3px!important;
}

.mkdf-portfolio-filter-holder .mkdf-portfolio-filter-holder-inner ul li:first-child span {
    padding-left: 15px!important;
}

li.filter.current {
    color: #000000!important;
    background: #f1734d;
    background: -moz-linear-gradient(-45deg, #f1734d 0%, #f1e227 100%);
    background: -webkit-linear-gradient(-45deg, #f1734d 0%, #f1e227 100%);
    background: linear-gradient(135deg, #f1734d 0%, #f1e227 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f1734d', endColorstr='#f1e227', GradientType=1);
    border: 2px solid #000!important;
}

li.filter.current span::first-letter {
    font-size: 200%!important;
    color: #cc0033!important;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.mkdf-portfolio-list-holder-outer.mkdf-ptf-hover-sweep-left article .mkdf-item-text-holder-inner .mkdf-item-title a:after {
    display: none;
}

.mkdf-portfolio-list-holder-outer.mkdf-ptf-gallery article .mkdf-item-text-holder,
.mkdf-portfolio-list-holder-outer.mkdf-ptf-masonry article .mkdf-item-text-holder,
.mkdf-portfolio-list-holder-outer.mkdf-ptf-pinterest article .mkdf-item-text-holder {
    vertical-align: middle!important;
    text-align: center!important;
    padding: 24px 30px;
}

.mkdf-portfolio-list-holder-outer.mkdf-ptf-hover-sweep-left article .mkdf-item-title,
.mkdf-portfolio-list-holder-outer.mkdf-ptf-hover-sweep-left article .mkdf-ptf-category-holder {
    margin-bottom: 0px!important;
}

.mkdf-portfolio-list-holder article .mkdf-ptf-category-holder {
    color: #009FE1!important;
    font-size: 18px!important;
    font-style: normal!important;
    text-align: center;
    font-weight: 700;
}


/*.portfolio-item-template-default .mkdf-content{
    margin-top: -90px!important;
}*/

.mkdf-two-columns-50-50 {
    width: 100%;
}

.mkdf-two-columns-50-50 .mkdf-column1,
.mkdf-two-columns-50-50 .mkdf-column2 {
    width: 50%;
    float: left;
}

.single-portfolio-item .wide-images .mkdf-ptf-holder-wide {
    padding: 0 45px;
}

.single-portfolio-item .mkdf-portfolio-info-holder {
    padding: 0px 0px 0px 45px;
}

.mkdf-portfolio-single-holder .mkdf-portfolio-info-item:not(.mkdf-content-item) {
    color: #ff2c54!important;
    font-size: 16px!important;
}

h1.mkdf-portfolio-title {
    font-size: 60px;
}

.single-portfolio-item h4 {
    margin-bottom: 0px!important;
}

.single-portfolio-item h5 {
    font-size: 26px;
    margin-bottom: 15px!important;
    color: #303133;
    font-family: Poppins;
    font-weight: 700;
}

.mkdf-portfolio-single-holder .mkdf-portfolio-social .mkdf-social-share-holder .mkdf-social-share-title {
    font-size: 26px;
    color: #303133;
    font-family: Poppins;
    font-weight: 700;
    letter-spacing: -1px;
}

.single-portfolio-item p {
    font-size: 14px!important;
}

.mkdf-social-share-holder.mkdf-list li {
    display: inline-block;
    margin-right: 22px;
    background-image: url(/wp-content/uploads/si-bg.png);
    width: 70px;
    height: 78px;
    background-size: contain;
    background-repeat: no-repeat;
    line-height: 62px;
    color: #000000;
    text-align: center;
}

.mkdf-social-share-holder.mkdf-list li a {
    color: #000000!important;
}

.mkdf-social-share-holder.mkdf-list li a:hover {
    color: #ff2c54!important;
}

.mkdf-portfolio-single-holder .mkdf-container-inner {
    width: 93%!important;
}

.mkdf-portfolio-single-holder.mkdf-title-subtitle-holder-inner {
    display: none!important;
}

.mkdf-drop-down .mkdf-menu-second {
    top: 165%!important;
}

.mkdf-drop-down .mkdf-menu-wide.mkdf-wide-background .mkdf-menu-second .mkdf-menu-inner {
    background: url(/wp-content/uploads/nav-bg.jpg);
    background-size: cover;
}

.mkdf-drop-down .mkdf-menu-wide.mkdf-wide-background .mkdf-menu-second .mkdf-menu-inner ul {
    background: transparent;
}

.mkdf-drop-down .mkdf-menu-wide .mkdf-menu-second .mkdf-menu-inner>ul>li>a {
    color: #000000!important;
    font-size: 22px!important;
    letter-spacing: -1px;
    font-family: 'Comic'!important;
}

.mkdf-drop-down .mkdf-menu-second .mkdf-menu-inner ul li a,
.mkdf-drop-down .mkdf-menu-second .mkdf-menu-inner ul li h4 {
    color: #000!important;
    font-weight: 700!important;
    font-size: 16px!important;
    letter-spacing: -0.8px!important;
    padding: 0px 5px!important;
}

.mkdf-drop-down .mkdf-menu-second .mkdf-menu-inner ul li a:hover {
    color: #ff2c54!important;
}

#nav-menu-item-22357 .mkdf-no-link {
    color: #e6007e!important;
}

#nav-menu-item-22359 .mkdf-no-link {
    color: #ed9b20!important;
}

#nav-menu-item-22358 .mkdf-no-link {
    color: #009fe3!important;
}

#nav-menu-item-22360 .mkdf-no-link {
    color: #808080!important;
}


/* Shop Start */

.widget .mkdf-search-wrapper input[type=submit] {
    font-family: ElegantIcons!important;
    color: #ff2c54!important;
    background: transparent;
    background-color: transparent!important;
    border: none!important;
    box-shadow: none!important;
}

.woocommerce.widget button,
.woocommerce.widget input[type=submit] {
    color: #000000!important;
    background-color: #ffffff!important;
    margin: 30px 0px 0px;
    border: 2px solid #000!important;
    font-family: 'Comic'!important;
    -webkit-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.75);
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
    margin-top: 0px!important;
}

.woocommerce.widget button:hover,
.woocommerce.widget input[type=submit]:hover {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
    color: #000000!important;
    background: #f1734d;
    background: -moz-linear-gradient(-45deg, #f1734d 0%, #f1e227 100%);
    background: -webkit-linear-gradient(-45deg, #f1734d 0%, #f1e227 100%);
    background: linear-gradient(135deg, #f1734d 0%, #f1e227 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f1734d', endColorstr='#f1e227', GradientType=1);
    border: 2px solid #000!important;
    width: auto!important;
    -webkit-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.75);
}

a.mkdf-social-icon-widget-holder {
    color: #000000!important;
    background-image: url(/wp-content/uploads/si-bg.png);
    width: 50px;
    height: 58px;
    background-size: contain;
    background-repeat: no-repeat;
    line-height: 46px;
    font-size: 18px!important;
    color: #000000;
    text-align: center;
}

.widget_price_filter .price_slider_amount .price_label {
    font-weight: 700;
}

.mkdf-sidebar .widget ul li {
    line-height: 20px;
    padding: 5px 0!important;
    font-weight: 700;
    font-size: 15px!important;
}

.mkdf-sidebar .widget a:hover {
    color: #ff2c54!important;
}

.widget_price_filter .ui-slider .ui-slider-handle {
    width: 20px!important;
    height: 20px!important;
    top: -8px!important;
}

h5.mkdf-product-list-product-title {
    font-size: 15px;
    font-weight: 700;
    min-height: 40px;
}

h5.mkdf-product-list-product-title a {
    color: #303133!important;
}

h5.mkdf-product-list-product-title a:hover {
    color: #ff2c54!important;
}

.mkdf-woocommerce-page .mkdf-product-list-product-title,
.woocommerce .mkdf-product-list-product-title {
    margin-top: 10px!important;
    margin-bottom: 10px!important;
}

.mkdf-woocommerce-page .mkdf-product-list-title-holder .price .amount,
.woocommerce .mkdf-product-list-title-holder .price .amount {
    font-size: 15px!important;
    line-height: 20px!important;
    font-weight: 700;
}

.mkdf-woocommerce-page .mkdf-product-list-title-holder .price,
.woocommerce .mkdf-product-list-title-holder .price {
    color: #009fe3!important;
    margin-top: 2px;
}

.single-product .mkdf-content .mkdf-content-inner>.mkdf-container>.mkdf-container-inner {
    padding: 30px 0 90px!important;
}

.mkdf-single-product-summary .mkdf-single-product-title {
    line-height: 1em;
    font-size: 60px!important;
}

.mkdf-single-product-summary .mkdf-social-share-holder {
    display: table;
    table-layout: fixed;
    width: 100%!important;
    padding-top: 21px;
}

.mkdf-single-product-summary .product_meta {
    margin-top: 42px;
    padding-bottom: 21px;
    width: 100%!important;
    border-bottom: 1px solid #cdcdcd;
}

.mkdf-single-product-summary .product_meta .mkdf-product-meta-title,
.mkdf-single-product-summary .mkdf-social-share-holder .mkdf-social-share-title {
    font-size: 26px!important;
    margin-bottom: 15px!important;
    color: #303133!important;
    font-weight: 700!important;
}

.mkdf-single-product-summary .product_meta>span {
    color: #ff2c54!important;
    font-size: 16px!important;
    font-weight: 700;
}

.mkdf-tabs .mkdf-tabs-nav li.ui-state-active a,
.mkdf-tabs .mkdf-tabs-nav li.ui-state-hover a {
    color: #ff2c54!important;
}

.mkdf-related-products-title-holder h5 {
    color: #303133;
    font-weight: 700!important;
}

.mkdf-single-product-summary .price>.amount,
.mkdf-single-product-summary ins .amount {
    font-size: 36px!important;
    font-weight: 700!important;
    color: #009fe3!important;
}

.mkdf-single-product-summary .mkdf-btn.single_add_to_cart_button:hover,
.woocommerce-checkout button:hover {
    color: #000000;
    background: #f1734d!important;
    background: -moz-linear-gradient(-45deg, #f1734d 0%, #f1e227 100%)!important;
    background: -webkit-linear-gradient(-45deg, #f1734d 0%, #f1e227 100%)!important;
    background: linear-gradient(135deg, #f1734d 0%, #f1e227 100%)!important;
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f1734d', endColorstr='#f1e227', GradientType=1);
    -webkit-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.75);
}

.page-id-7 .mkdf-title,
.page-id-8 .mkdf-title,
.page-id-9 .mkdf-title {
    display: none!important;
}

.woocommerce-cart .shop_table th {
    color: #303133!important;
    font-size: 20px!important;
}

.page-id-7 .mkdf-btn,
input[type=submit] {
    display: inline-block!important;
}

.woocommerce-cart .product-name {
    font-size: 18px!important;
    font-weight: 700!important;
}

.woocommerce-cart .amount {
    font-size: 18px!important;
    font-weight: 700!important;
    color: #009fe3!important;
}

.mkdf-woocommerce-page .mkdf-cart-totals table th {
    border: none;
    padding: 18px!important;
    text-align: left;
}

.mkdf-cart-totals td {
    text-align: right;
    padding: 18px!important;
}

.mkdf-woocommerce-page .woocommerce-error,
.mkdf-woocommerce-page .woocommerce-info,
.mkdf-woocommerce-page .woocommerce-message {
    margin-bottom: 15px!important;
    position: relative;
    display: block;
    padding: 8px 40px;
    background-color: #fcfcfc;
    line-height: 50px;
    color: #303133!important;
    font-size: 16px!important;
    font-weight: 700!important;
    text-transform: capitalize;
    border: 1px solid #cdcdcd;
}

.woocommerce-checkout button {
    color: #000000!important;
    background-color: #ffffff!important;
    margin: 30px 0px 0px;
    border: 2px solid #000!important;
    font-family: 'Comic'!important;
    -webkit-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.75);
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
    display: block;
    padding: 15px 52px!important;
    font-size: 14px;
}

.mailchimp-newsletter {
    display: none;
}

.woocommerce-checkout .shop_table .amount {
    font-weight: 700!important;
}

.woocommerce-checkout .shop_table td.product-total,
.woocommerce-checkout .shop_table th.product-total,
.woocommerce-checkout .shop_table tfoot td {
    text-align: right;
    padding: 15px;
}

.woocommerce-checkout .shop_table .order-total th,
.woocommerce-checkout .shop_table .product-name,
.woocommerce-checkout .shop_table thead .product-total,
.woocommerce-checkout .shop_table tfoot th {
    font-weight: 700!important;
    color: #303133!important;
}

.mkdf-woocommerce-page input[type=email],
.mkdf-woocommerce-page input[type=tel],
.mkdf-woocommerce-page input[type=password],
.mkdf-woocommerce-page input[type=text],
.mkdf-woocommerce-page textarea {
    color: #303133!important;
}

.woocommerce-account .woocommerce-MyAccount-navigation .woocommerce-MyAccount-navigation-link a {
    padding: 15px 22px 15px 0!important;
    color: #303133!important;
    font-size: 18px!important;
}

.woocommerce-account .woocommerce-MyAccount-navigation .woocommerce-MyAccount-navigation-link.is-active a,
.woocommerce-account .woocommerce-MyAccount-navigation .woocommerce-MyAccount-navigation-link:hover a {
    color: #ff2c54!important;
}

.tax-product_cat .mkdf-title {
    display: none;
}

.mkdf-woocommerce-page.mkdf-woocommerce-columns-4 .mkdf-woocommerce-with-sidebar .products .product,
.woocommerce.columns-4 .mkdf-woocommerce-with-sidebar .products .product {
    min-height: 400px;
}


/* Shop End */

#form_contact-form input:not([type='checkbox']):not([type='radio']):not([type='button']),
.frm_full select,
.frm_full textarea,
#form_website-audit input:not([type='checkbox']):not([type='radio']):not([type='button']),
.frm_full select,
.frm_full textarea {
    width: 100% !important;
    margin-top: 0!important;
    margin-bottom: 0!important;
    outline: 0!important;
    font-size: 14px!important;
    font-weight: 700!important;
    color: #303133!important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
    -webkit-appearance: none;
    box-shadow: none!important;
    border: none!important;
    border-bottom: 1px solid #c6bec8!important;
    background-color: transparent!important;
    padding: 20px 15px!important;
    font-family: Poppins!important;
    border-radius: 0px!important;
}

.frm_style_formidable-style.with_frm_style .frm_required {
    display: none;
}

.frm_style_formidable-style.with_frm_style div.frm_description {
    padding-left: 15px;
    padding-top: 5px;
    font-family: Poppins!important;
}

.frm_style_formidable-style.with_frm_style .frm_radio label,
.frm_style_formidable-style.with_frm_style .frm_checkbox label {
    font-family: Poppins!important;
    font-size: 12px!important;
}


/* Services START */

.serviceBlock h2 {
    text-align: center;
    color: #ffffff;
}

.serviceBlock h6 {
    text-align: center;
    color: #ffffff;
    line-height: 34px;
    font-size: 18px;
    margin-bottom: 30px;
    letter-spacing: -0.4px;
}

.serviceBlock .col-md-6 {
    width: 50%;
    float: left;
}

.serviceFrom {
    display: block;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
}

.servicePrice {
    font-size: 60px;
    font-weight: 700;
    letter-spacing: -.04em;
    display: inline-block;
    line-height: 60px;
    margin-top: 0px;
    color: #fff;
}

.mkdf-portfolio-filter-holder .mkdf-portfolio-filter-holder-inner {
    display: block;
    clear: both;
}


/** custom over --V portfolio archive **/

.archive-portfolio-list-holder .mkdf-portfolio-item {
    display: inline-block;
    width: 24% !important;
    vertical-align: top;
    margin-bottom: 45px;
}

.archive-portfolio-list-holder h2 {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px !important;
}

.portfolio-arch-title {
    padding: 20px 0;
    height: auto !important;
    margin-bottom: 20px;
}

.portfolio-arch-title h1 {
    margin-bottom: 0 !important;
}


/** custom over --V portfolio archive **/


/* Responsive Start */

@media only screen and (max-width: 480px) {
    .mkdf-mobile-header .mkdf-grid {
        width: 90%;
    }
	
	.mkdf-blog-single{
		margin-right: 30px;
	}
	
    .uncode-divider-wrap {
        height: 100px!important;
    }
}


@media only screen and (max-width: 768px) {
    footer .mkdf-footer-top:not(.mkdf-footer-top-full) .mkdf-container-inner {
        padding: 45px 0 45px!important;
    }
	
	.mkdf-blog-single{
		margin-right: 30px;
	}

    .mkdf-testimonials.mkdf-testimonials-type-cortex .mkdf-testimonial-text {
        font-size: 20px!important;
    }
    .mkdf-testimonials.mkdf-testimonials-type-cortex .mkdf-testimonial-author {
        font-size: 18px!important;
    }
}

@media only screen and (max-width: 992px) {
    h2 {
        letter-spacing: -2px!important;
        font-size: 34px!important;
    }
    .mkdf-mobile-header .mkdf-mobile-logo-wrapper img {
        height: 80%!important;
        margin-top: 10px!important;
    }
	
    .hmText {
        margin-top: 30px;
    }
    .page-id-1405 .mkdf-content .mkdf-content-inner>.mkdf-container>.mkdf-container-inner,
    .page-id-1405 .mkdf-content .mkdf-content-inner>.mkdf-full-width>.mkdf-full-width-inner {
        padding: 45px 0 40px 0!important;
    }
}

@media only screen and (max-width: 1024px) {
    .vc_col-sm-6 {
        width: 100%!important;
    }
	.mkdf-blog-single{
		margin-right: 30px;
	}
    .mkdf-blog-list-holder.mkdf-simple.mkdf-three-columns>ul>li {
        width: 45%!important;
    }
    .mkdf-footer-top-holder p {
        font-size: 14px;
        padding: 0px 0%;
    }
    .mkdf-social-icon-widget-holder {
        width: 60px;
        height: 68px;
        line-height: 52px;
        margin: 5px!important;
        font-size: 18px!important;
    }
    .socIcon {
        width: 60px;
        height: 68px;
        line-height: 52px;
    }
    .mkdf-two-columns-75-25 .mkdf-column1,
    .mkdf-two-columns-75-25 .mkdf-column2 {
        width: 100%!important;
    }
    .mkdf-mobile-header .mkdf-mobile-nav ul {
        padding-bottom: 30px;
    }
    .mkdf-mobile-header .mkdf-mobile-nav a,
    .mkdf-mobile-header .mkdf-mobile-nav h4 {
        font-family: 'Comic'!important;
        padding: 155x 0px;
    }
    .mkdf-two-columns-50-50 .mkdf-column1,
    .mkdf-two-columns-50-50 .mkdf-column2 {
        width: 100%!important;
        float: left;
    }
    .mkdf-two-columns-50-50 .mkdf-column1 {
        margin-bottom: 45px;
    }
    .archive-portfolio-list-holder .mkdf-portfolio-item {
        width: 32% !important;
    }
}

@media only screen and (max-width: 1306px) {
    .mkdf-main-menu.mkdf-default-nav>ul>li>a {
        margin: 0px!important;
        font-size: 13px;
    }
}

@media only screen and (max-width: 1110px) and (min-width: 1025px) {
	.mkdf-side-menu-button-opener {
    	display:none!important;
    }
}

@media only screen and (max-width: 1200px) {
    .mkdf-btn.mkdf-btn-solid .mkdf-btn-text,
    .mkdf-btn.mkdf-btn-transparent {
        padding: 10px 24px!important;
    }
    .mkdf-main-menu.mkdf-default-nav>ul>li>a {
        margin: 0px!important;
        font-size: 13px;
    }
}

@media only screen and (max-width: 1060px) and (min-width: 1025px) {
    .mkdf-main-menu.mkdf-default-nav>ul>li>a {
        margin: 0px!important;
        font-size: 12px;
    }
}

@media only screen and (max-width: 1024px) {

    .mkdf-mobile-header .mkdf-mobile-menu-opener a{
    	padding-right: 30px!important;
    }
    
    h1 {
        font-size: 72px!important;
    }
    
    .navPricing:before{
    display:none!important;
    }
}

@media only screen and (max-width: 992px) {
    .archive-portfolio-list-holder .mkdf-portfolio-item {
        width: 49% !important;
    }
    
    .mkdf-blog-list-item-inner h2 {
        letter-spacing: 0px!important;
        font-size: 22px!important;
    }
    
    h1 {
        font-size: 72px!important;
    }
}

@media only screen and (max-width: 768px) {
    .archive-portfolio-list-holder .mkdf-portfolio-item {
        width: 100% !important;
    }
    
    .mkdf-mobile-header .mkdf-mobile-header-inner {
        height: 70px!important;
    }
    
    .mkdf-mobile-header .mkdf-mobile-logo-wrapper a {
        max-height: 50px!important;
    }
    
    .mkdf-mobile-header .mkdf-mobile-logo-wrapper img {
        height: 100%!important;
        margin-top: 0px!important;
    }
    
    h1 {
        font-size: 52px!important;
    }
}

.wpb_animate_when_almost_visible {
    opacity: 1 !important;
}

.single-portfolio-item .mkdf-column1 .slick-slide img {
    max-height: inherit !important;
}

.supertag {
    display: inline-block !important;
}

.supertag img {
    width: 70px !important;
    max-width: inherit !important;
    height: 65px !important;
    margin-top: -49px!important;
    margin-left: -3px !important;
}

.supertag .smush-detected-img {
    box-shadow: none !important;
}

.full_section_inner,
.parallax_full_section_inner {
    position: relative;
    z-index: 20;
}

#zohoSupportWebToCase tr:nth-of-type(1){
	display: none;
}

#zohoSupportWebToCase tr{
	border:none;
}

#zohoSupportWebToCase td{
	text-align: left;
	font-family: Poppins!important;
    font-weight: 700;
    letter-spacing: -0.5px;
    font-size: 16px;
    color: #303133;
	padding: 5px 5px;
	display: block;
    width: 100%;
    position: relative;
}

#zohoSupportWebToCase textarea, #zohoSupportWebToCase input[type='text'], #zohoSupportWebToCase select {
    border: 1px solid #ddd;
    padding: 5px 15px;
    border-radius: 0px!important;
	min-height: 30px;
	width: 100%!important;
}

.zsFormClass {
    width: 100%!important;
	
}