
@font-face {
    font-family: 'Comic';
    src: url('/wp-content/themes/dtech/assets/fonts/Comic.eot');
    src: url('/wp-content/themes/dtech/assets/fonts/Comic.eot') format('embedded-opentype'),
         url('/wp-content/themes/dtech/assets/fonts/Comic.woff2') format('woff2'),
         url('/wp-content/themes/dtech/assets/fonts/Comic.woff') format('woff'),
         url('/wp-content/themes/dtech/assets/fonts/Comic.ttf') format('truetype'),
         url('/wp-content/themes/dtech/assets/fonts/Comic.svg#Comic') format('svg');
}

body{
   color: #303133!important; 
}

h1, h2, h3, h4, h5{
    margin-bottom: 20px!important;
    color: #303133;
    font-family: Poppins;
}

h1, h2, h3, h4, h5, h6, .mkdf-comment-holder .mkdf-comment-text .replay, .mkdf-comment-holder .mkdf-comment-text .comment-reply-link, .mkdf-comment-holder .mkdf-comment-text .comment-edit-link, .mkdf-comment-holder .mkdf-comment-text .mkdf-comment-date, .wpcf7-form-control.wpcf7-text, .wpcf7-form-control.wpcf7-number, .wpcf7-form-control.wpcf7-date, .wpcf7-form-control.wpcf7-textarea, .wpcf7-form-control.wpcf7-select, .wpcf7-form-control.wpcf7-quiz, .select2-container--default .select2-search--inline .select2-search__field, #respond textarea, #respond input[type="text"], .post-password-form input[type="password"], .slick-slider .mkdf-slick-numbers li, .mkdf-404-text, .mkdf-main-menu > ul > li > a, .mkdf-drop-down .mkdf-menu-wide .mkdf-menu-second .mkdf-menu-inner>ul>li>a, .mkdf-header-vertical .mkdf-vertical-menu > ul > li > a, .mkdf-mobile-header .mkdf-mobile-nav a, .mkdf-mobile-header .mkdf-mobile-nav h4, .mkdf-title .mkdf-title-holder h1, nav.mkdf-fullscreen-menu ul li a, .mkdf-search-cover input, .mkdf-search-cover input:focus, .mkdf-counter-holder .mkdf-counter, .countdown-section, .mkdf-message .mkdf-message-inner .mkdf-message-text .mkdf-message-text-inner, .mkdf-testimonials.mkdf-testimonials-type-cortex .mkdf-testimonial-text, .mkdf-testimonials.mkdf-testimonials-type-cortex .mkdf-testimonials-quotes, .mkdf-price-table .mkdf-price-table-inner ul li.mkdf-table-prices .mkdf-price-holder, .mkdf-pie-chart-holder .mkdf-to-counter, .mkdf-pie-chart-holder .mkdf-percent-sign, .mkdf-pie-chart-doughnut-holder .mkdf-pie-legend ul li p, .mkdf-process-holder .mkdf-process-item-holder .mkdf-pi-number-holder .mkdf-pi-number, .mkdf-tabs .mkdf-tabs-nav li a, .mkdf-blog-list-holder .mkdf-item-info-section .mkdf-post-info-date, .mkdf-blog-slider .mkdf-item-info-section .mkdf-post-info-date, .mkdf-btn, blockquote .mkdf-blockquote-text, .mkdf-portfolio-filter-holder .mkdf-portfolio-filter-holder-inner ul li span, .mkdf-social-share-holder.mkdf-list .mkdf-social-share-title, .mkdf-section-title, .mkdf-image-with-text span.mkdf-iwt-title, .mkdf-sidebar .widget.widget_categories li, .mkdf-sidebar .widget.widget_archive li, .mkdf-sidebar .widget a, .mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-left > div, .mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-right > div, .mkdf-blog-holder article .mkdf-post-mark .mkdf-quote-mark-inner, .mkdf-blog-single-navigation .mkdf-nav-holder .mkdf-nav-text, .woocommerce .amount, .mkdf-woocommerce-page .amount, .woocommerce .woocommerce-result-count, .mkdf-woocommerce-page .woocommerce-result-count, .woocommerce .added_to_cart, .mkdf-woocommerce-page .added_to_cart, .mkdf-single-product-summary .product_meta > span .mkdf-info-meta-title, .woocommerce-account input[type=submit], .woocommerce-checkout input[type=submit], .mkdf-woocommerce-page input[type="text"], .mkdf-woocommerce-page input[type="email"], .mkdf-woocommerce-page input[type="tel"], .mkdf-woocommerce-page input[type="password"], .mkdf-woocommerce-page textarea, .mkdf-shopping-cart-outer .mkdf-cart-amount, .mkdf-shopping-cart-dropdown, .mkdf-shopping-cart-dropdown .mkdf-cart-bottom .mkdf-subtotal-holder, .mkdf-woocommerce-page .select2-container .select2-choice, .woocommerce.widget input[type=submit], .woocommerce.widget button, .woocommerce.widget.widget_product_categories li, .mkdf-top-bar .widget{
    font-family: Poppins!important;
}

#respond input[type=text], #respond textarea, .post-password-form input[type=password], .wpcf7-form-control.wpcf7-date, .wpcf7-form-control.wpcf7-number, .wpcf7-form-control.wpcf7-quiz, .wpcf7-form-control.wpcf7-select, .wpcf7-form-control.wpcf7-text, .wpcf7-form-control.wpcf7-textarea {
    width: 100%;
    margin-top: 0;
    margin-bottom: 14px;
    padding: 20px 15px!important;
    border: 1px solid #f2f2f2;
    outline: 0;
    font-family: Poppins!important;
    font-size: 14px!important;
    font-weight: 700;
    background-color: #f2f2f2;
    color: #303133;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
    -webkit-appearance: none;
}

span.checkbox-gdpr {
    font-size: 12px;
    display: block;
    margin-top: 30px;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener {
    float: right!important;
}

.ion-navicon:before {
    width: 46px!important;
    height: 46px!important;
    content: " "!important;
    background-image: url(/wp-content/uploads/hamburger2.png)!important;
    background-size: contain!important;
}

.page-id-1405 .mkdf-content .mkdf-content-inner > .mkdf-container > .mkdf-container-inner, .page-id-1405 .mkdf-content .mkdf-content-inner > .mkdf-full-width > .mkdf-full-width-inner {
    padding: 160px 0 40px 0!important;
}

.mkdf-sidebar .widget.widget_text .mkdf-widget-title {
    padding-bottom: 15px;
    margin-bottom: 0px!important;
}

.mkdf-sidebar .mkdf-widget-title {
    color: #ff2c54;
    padding: 0 0 7px;
    border-bottom: none;
    font-weight: 700;
}
.mkdf-blog-holder article .mkdf-post-title{
color: #303133!important; 
}

.widget a {
    color: #303133!important; 
}
/*
Theme Name: Dorset Tech
Theme URI: http://dorset.tech
Description: Dorset Tech
Author: Dorset Tech
Author URI: http://dorset.tech
Version: 1.2
License: GNU General Public License
License URI: licence/GPL.txt
Text Domain: cortex
Tags: translation-ready

CSS changes can be made in files in the /css/ folder. This is a placeholder file required by WordPress, so do not delete it.

*/

.icon-arrows-question:before {
    background-image: url(/wp-content/uploads/burger.png);
    background-size: 30px 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
    content: ""!important;
}

/*.btn {
    width: 125px;
    height: 100px;
    background: url(/wp-content/uploads/button-1.svg) no-repeat;
}
*/

.hidden{
    display:none;
}

.mkdf-sticky-nav{
    display:none!important;
}

#batphonhead {
    width: 50px!important;
    height: 50px!important;
}

.mkdf-main-menu.mkdf-default-nav > ul > li > a, .mkdf-page-header #lang_sel > ul > li > a, .mkdf-page-header #lang_sel_click > ul > li > a, .mkdf-page-header #lang_sel ul > li:hover > a{
    font-family: 'Comic'!important;
}

.mkdf-main-menu>ul>li {
    height: 30px!important;
}

.mkdf-main-menu>ul {
    height: 30px!important;
    margin-top: 60px!important;
}

.mkdf-main-menu.mkdf-default-nav > ul > li > a{
    height: 20px!important;
    border: 2px solid transparent;
    margin: 0px 15px;
    display: block;
    font-size: 16px;
}

.mkdf-main-menu>ul>li>a span.mkdf-item-inner .mkdf-item-text {
    display: block;
}

.mkdf-main-menu ul li a {
    line-height: 32px!important;
}

.current .mkdf-item-text::first-letter {
  font-size: 200%!important;
  color: #cc0033!important;
text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.mkdf-main-menu.mkdf-default-nav > ul > li.mkdf-active-item > a {
    color: #000000!important;
    background: #f1734d;
    background: -moz-linear-gradient(-45deg, #f1734d 0%, #f1e227 100%);
    background: -webkit-linear-gradient(-45deg, #f1734d 0%,#f1e227 100%);
    background: linear-gradient(135deg, #f1734d 0%,#f1e227 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1734d', endColorstr='#f1e227',GradientType=1 );
    border: 2px solid #000!important;
}


.mkdf-main-menu > ul > li > a:hover{
    color:#000000;
    background: #f1734d; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #f1734d 0%, #f1e227 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #f1734d 0%,#f1e227 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #f1734d 0%,#f1e227 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1734d', endColorstr='#f1e227',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border: 2px solid;
}

.mkdf-main-menu.mkdf-default-nav > ul > li.mkdf-active-item > a {
    color: #dd3333;
}

.mkdf-main-menu>ul>li>a span.mkdf-item-inner {
    padding: 0 15px 0 15px!important;
}

.mkdf-main-menu>ul>li>a>span.mkdf-item-outer {
    display: block;
    position: relative;
    top: 60%!important;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}


.mkdf-main-menu>ul>li>a span.mkdf-item-inner .mkdf-item-text:before{
    display: none;
}

.btn a{
    background-image: url(/wp-content/uploads/button-2.svg)!important;
    font-size: 1.3em!important;
    background-repeat: no-repeat!important;
    border: none!important;
    background-color: transparent!important;
    padding: 20px 15px 20px 15px!important;
    text-align: center!important;
    display: inline-block;
    margin-left: -10px;
    margin-top: 15px;
    font-family: 'Bangers', cursive;
    transition: all 0.5s ease;
    background-position: center;
    background-size: 100%;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

.btn a span.text{
     -webkit-text-stroke: 0.5px #000;
    text-stroke: 1px #000;
    color: #fedc37!important;
    font-size: 16px;
    text-shadow: 1px 1px 0px #000000;
}

.btn a:hover{
    transform: scale(1.2);
    position: relative
}

.z {
    zoom: 300%;
    -moz-transform: 0 0;
    -moz-transform: scale(3);
}

.subhead{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0px;
    letter-spacing: 2px;
    font-weight: 600;
}

.desc{
   text-align: center;
    margin-bottom: 45px!important;
}

.white{
    color: #fff;
}

.black{
    color: #303133;
}
#batphonhead {
    width: 78px;
}

.mkdf-blog-list-holder .mkdf-item-title {
    color: #303133;
}

.mkdf-blog-list-holder .mkdf-excerpt {
    margin: 0 0 18px;
    color: #303133;
}

.mkdf-blog-list-holder .mkdf-post-info-author{
    display: none;
}

footer .mkdf-footer-bottom-holder{
    background-color: #ffffff!important;
}

footer .mkdf-footer-top-holder{
    background-image: url(/wp-content/uploads/footer-bg.jpg)
}

.mkdf-footer-bottom-holder p{
    font-family: 'Comic';
    margin-bottom: 0px;
    font-size: 14px;
}

.mkdf-footer-bottom-holder a{
    color:#000000!important;
}

.mkdf-footer-bottom-holder a:hover{
    color:#ff2c54!important;
}

.mkdf-footer-top-holder p{
    font-size: 14px;
    padding: 0px 20%;
}

.mkdf-social-icon-widget-holder{
    background-image: url(/wp-content/uploads/si-bg.png);
    width: 70px;
    height: 78px;
    background-size: contain;
    background-repeat: no-repeat;
    line-height: 62px;
    color: #000000;
    text-align: center;
}

a.mkdf-social-icon-widget-holder{
    color:#000000!important;
}

a:hover.mkdf-social-icon-widget-holder{
    color:#ff2c54!important;
}

.page-template-blog-standard .mkdf-social-icon-widget-holder {
    background-image: url(/wp-content/uploads/si-bg.png);
    width: 50px;
    height: 58px;
    background-size: contain;
    background-repeat: no-repeat;
    line-height: 46px;
    font-size: 18px!important;
    color: #000000;
    text-align: center;
}

.mkdf-side-menu-title h4, .mkdf-side-menu-title h5 {
    color: #ffffff;
    font-weight: 700;
    text-align: left;
    font-size: 46px;
    margin-top: 45px!important;
}


